.news-item_featured {
  .news-item_featured-title {
    margin-bottom: 0.4em;
  }
  .byline {
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  .news-item_featured-summary {
    font-size: 1.33em;
    line-height:  1.3;
  }
}