<div class="news news-item_featured">
  <h2 class="news-item_featured-title"><a href="{{ url }}">70 char max, lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></h2>
  {% include '07-byline.twig' %}
  {% include '20-paragraph.twig' with { 'content': '235 char max, praesent fringilla sit amet nulla eu consequat. Nam ac diam sem. Aenean porttitor justo vel nisl efficitur, praesent fringilla sit amet nulla eu consequat. Nam ac diam sem.' ,  'title_class_news_item_featured_summary': ' class=news-item_featured-summary'} %}
</div>