/**
 * @file footer.scss
 *
 * Copyright 2017 Palantir.net, Inc.
 */

.footer {
  background-color: $black-7;
  padding: 40px 0 10px;

  @include breakpoint($bp-large-home min-width) {
    padding: 50px 0 10px;
  }
}

.footer-inner {
  position: relative;

  @include breakpoint($bp-large-home min-width) {
    flex-direction: row !important;
  }
}

.footer-primary {
  margin-bottom: 40px;

  @include breakpoint($bp-large-home min-width) {
    @include grid__unit--cols(7);
    margin-right: 100px;
  }
}

.footer-secondary {

  @include breakpoint($bp-large-home min-width) {
    @include grid__unit--cols(4);
  }

  .rule_horizontal {
    margin: 40px 0;
  }
}

.footer-primary-bottom {
  position: absolute;
  bottom: 0;
}

.footer_text-copyright  {
  @extend %type-smaller;
  color: $black-55;
}
