.footer {
  background-color: $black-7;
  margin-top: 50px;
  padding: 40px 0 10px;

  @include breakpoint($bp-large-home min-width) {
    padding: 50px 0 10px;
  }
}

.footer-inner {
  position: relative;
  @include grid();

  @include breakpoint($bp-large-home min-width) {
    flex-direction: row !important;
  }
}

.footer-primary {
  @include grid-_unit--cols(12);
  margin-bottom: 40px;
  @include breakpoint($bp-large) {
    @include grid-_unit--cols(8);
  }

  @include breakpoint($bp-med min-width) {
    padding-right: 100px;
  }
}

.footer-secondary {
  @include grid-_unit--cols(12);
  @include breakpoint($bp-large) {
    @include grid-_unit--cols(4);
  }

  .rule_horizontal {
    margin: 40px 0;
  }
}

.footer-primary-bottom {
  position: absolute;
  bottom: 0;
}

.footer_text-copyright  {
  @extend %type-smaller;
  color: $black-55;
}
