<section class="footer">
  <div class="container">
    <div class="grid">
      <div class="footer-inner col-width-12">
        <div class="footer-primary">
          {% include 'atoms-mission-statement' %}
          <div class="footer-primary-bottom">
            {% include 'atoms-copyright' %}
            {% include 'molecules-list-links-utility' %}
          </div>
        </div>
        <div class="footer-secondary">
          {% include 'molecules-list-links-social' %}
          {% include 'atoms-rule-horizontal' %}
          {% include 'molecules-list-links-secondary-user' %}
        </div>
      </div>
    </div>
  </div>
</section>