<section class="footer">
  <div class="footer-inner">
    <div class="footer-primary">
      {% include "22-mission-statement.twig" %}
      <div class="footer-primary-bottom">
        {% include "23-copyright.twig" %}
        {% include "list-links-utility.twig" %}
    </div>
    </div>

    <div class="footer-secondary">
       {% include "list-links-social.twig" %}
       {% include "05-rule-horizontal.twig" %}
       {% include "list-links-secondary-user.twig" %}
    </div>
</div>
</section>