<section class="footer {{ class }}">
  <div class="layout layout_one_up footer-inner">
    <div class="footer-primary">
      {% include 'atoms-mission-statement' %}
      <div class="footer-primary-bottom">
        {% include 'atoms-copyright' %}
        {% include 'molecules-list-links-utility' %}
      </div>
    </div>
    <div class="footer-secondary">
       {% include 'molecules-list-links-social' %}
       {% include 'atoms-rule-horizontal' %}
       {% include 'molecules-list-links-secondary-user' %}
    </div>
  </div>
</section>