<section class="footer">
  <div class="footer-inner container-with-grid">
      <div class="footer-primary col-width-8">
        {% include 'atoms-mission-statement' %}
        <div class="footer-primary-bottom">
          {% include 'atoms-copyright' %}
          {% include 'molecules-list-links-utility' %}
        </div>
      </div>
      <div class="footer-secondary col-width-4">
        {% include 'molecules-list-links-social' %}
        {% include 'atoms-rule-horizontal' %}
        {% include 'molecules-list-links-secondary-user' %}
      </div>
  </div>
</section>