/**
 * @file hub-card.scss
 *
 * Copyright 2017 Palantir.net, Inc.
 */

.hub-card {
  display: flex;
  flex-direction: column;
  background-color: $black-7;
  color: $black;
  padding-bottom: 12px;
  width: 100%;
  margin-bottom: 20px;

  &:hover {
    background-color: #e6e6e6;
    color: $black;
  }

  @include breakpoint($bp-small $bp-med) {
    // 3-up layout
    // when there are three items it's 50:50/100
    // first item is 
    &:nth-child(1):nth-last-child(3) {
      margin-right: 12px;
      width: calc(50% - 12px);
    }
    // last of three doesn't have right padding
    &:nth-child(2):nth-last-child(2) {
      margin-left: 12px;
      width: calc(50% - 12px);
    }

    &:nth-child(3):nth-last-child(1) {
      width: 100%;
    }

    // 3-up layout
    // when there are three items it's 50:50/50:50
    &:nth-child(1):nth-last-child(4),
    &:nth-child(2):nth-last-child(3),
    &:nth-child(3):nth-last-child(2),
    &:nth-child(4):nth-last-child(1) {
      width: calc(50% - 12px);
    }
    // first of three doesn't have left padding
    &:nth-child(1):nth-last-child(4),
    &:nth-child(3):nth-last-child(2) {
      margin-right: 12px;
    }
    // last of three doesn't have right padding
    &:nth-child(2):nth-last-child(3),
    &:nth-child(4):nth-last-child(1) {
      margin-left: 12px;
    }
  }

  @include breakpoint($bp-med) {
    // 3-up layout
    // when there are three items it's 33:33:33
    &:nth-child(1):nth-last-child(3),
    &:nth-child(2):nth-last-child(2),
    &:nth-child(3):nth-last-child(1) {
      width: calc(33% - 16px);
      margin: 0 12px;
    }
    // first of three doesn't have left padding
    &:nth-child(1):nth-last-child(3) {
      margin-left: 0;
    }
    // last of three doesn't have right padding
    &:nth-child(3):nth-last-child(1) {
      margin-right: 0;
    }

    // 4-up layout
    // when there are three items it's 25:25:25:25
    &:nth-child(1):nth-last-child(4),
    &:nth-child(2):nth-last-child(3),
    &:nth-child(3):nth-last-child(2),
    &:nth-child(4):nth-last-child(1) {
      width: calc(25% - 18px);
      margin: 0 12px;
    }
    // first of three doesn't have left padding
    &:nth-child(1):nth-last-child(4) {
      margin-left: 0;
    }
    // last of three doesn't have right padding
    &:nth-child(4):nth-last-child(1) {
      margin-right: 0;
    }
  }
}

.hub-card_image {
  width: 100%;
  order: 1;
}

.hub-card_title {
  @extend %type-larger;
  padding: 24px 0;
  margin: 0 24px;
  border-bottom: 1px solid $black;
  order: 2;
  text-align: center;

  .hub-card_image + & {
    border-bottom: 0;
    order: 3;
  }
}

.hub-card_desc {
  @extend %type-large;
  padding: 24px 0 12px;
  margin: 0 24px;
  order: 2;
}

.hub-card-portrait {
  min-height: 300px;
  justify-content: flex-end;

  .button {
    margin: 0 24px 12px;
  }

  // when the portrait is hovered, trigger the 'button' hoverstate
  &:active,
  &:hover,
  &:focus {

    .button-secondary {
      border-color: $purple-darker;
      background-color: $black-7;
      color: $purple-darker;
    }
  }
}

.hub-card-image-123 {
  background: url(../images/fpo_square.png);
  background-size: cover;
  background-position: center;
}

