{#
 # @file hub-card-portrait.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<a class="hub-card hub-card-portrait hub-card-image-123" href="#">
  <span class="button button-secondary button-small">{{ content|default('Join the AMA') }}</span>
</a>
