{#
 # @file hub-card-portrait.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<a class="hub-card hub-card-portrait" style="background-image: url(/assets/images/fpo_2x3.png)" href="#">
  <span class="button button-secondary button-small">{{ content|default('Join the AMA') }}</span>
</a>
