{#
 # @file hub-card.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<a class="hub-card" href="#">
  {% include 'atoms-h2' with { 'class': 'hub-card_title', 'content' : 'Call to action for the Card' } %}
  {% include 'atoms-paragraph' with { 'class': 'hub-card_desc', 'content' : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' } %}
</a>
