{#
 # @file news-label-featured.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<div class="news_label news_label-featured">
  <div class="news_label-inner">
    {% include 'atoms-eyebrow' %}
    <a href="{{ url }}" target="_blank" class="news_label_link">Latest <br />Insights from <br />JAMA{% include 'atoms-arrow-external' %}</a>
  </div>
</div>