{#
 # @file hub-card-row.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<section class="hub-card-row layout">
  {% include 'molecules-hub-card-no-image' %}
  {% include 'molecules-hub-card' %}
  {% include 'molecules-hub-card-portrait' %}
  {% include 'molecules-hub-card-no-image' %}
</section>
