<div class="topic_article-preview topic_article-preview-video">
    {% include "molecules-link-black-h2" with {'content' : 'Article Two Title', 'class': 'topic_article-preview_title' }%}
    {% include "atoms-paragraph" %}
    <span class="metadata">
        <span>Jul 2, 2017</span> | <span>5 min play time</span>
    </span>
    {% include "atoms-video-youtube" %}
</div>