<div class="topic_article-preview topic_article-preview-video">
    {% include "molecules-link-black-h2" with {'content': 'Article Two Title', 'class': 'topic_article-preview_title' }%}
    {% include "atoms-title-label" with {'content':'Topic Label', 'class': 'topic_article-preview_label'} %}
    {% include "atoms-video-youtube" with {'class' :'topic_article-preview_video'} %}
    {% include "atoms-paragraph" with {'class': 'topic_article-preview_description'} %}
    {% include "molecules-article-metadata" with { 'readtime': '6 min play time' } %}
</div>