<div>
    {% include "molecules-link-black-h2" with {'content' : 'Article Two Title', 'class': 'topic_article-preview_title' }%}
    {% include "atoms-paragraph" %}
    <span>Date</span>
    {% include "atoms-video-youtube" %}
</div>