<div class="topic_promotion grid-region_content {% if promo.border %}topic_promotion-border{% endif %}">
    {% set tag = promo.cta ? 'div': 'a' %}
    <{{tag}} class="topic_promotion_container" href="#">
    {% if promo.logo %}
            {% include 'atoms-logo' with {'link': '#', 'image': promo.logo, 'alt': 'logo'} %}
        {% endif %}
        <div class="topic_promotion_image">
            {% if promo.image %}
                {% include 'atoms-landscape-3x2' with {'link': '#', 'image': promo.image, 'alt': 'image'} %}
            {% endif %}
        </div>
        <div class="topic_promotion_text">
        {% include 'atoms-h2' with {'content': promo.title} %}
        {% include "atoms-paragraph" with {'content': promo.content} %}
        {% if promo.cta %}
            {% include 'atoms-button-link-secondary' with {'class': 'button-small', 'content': promo.cta} %}
        {% endif %}
        </div>
    </{{tag}}>
</div>
