.page-level-search {
  position: relative;
}

.page-level-search.layout_one_up {
  padding: 0;
}

.page-level-search_link {
  display: block;
  position: relative;
  border: solid 2px $blue;
  height: 35px;
  padding: 10px;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  @include type($font-sans-serif, 28px, $font-weight-medium, 1.25);
  @include breakpoint($bp-med) {
    height: 43px;
    padding: 20px 30px;
    @include type($font-sans-serif, 36px, $font-weight-medium, 1.25);
  }
  &:hover {
    background: $blue-lighter;
    color: $blue;
  }
}

.icon-search.page-level-search_icon {
  width: 20px;
  height: 20px;
  background-size: 100%;
  right: 10px;
  top: 20px;
  @include breakpoint($bp-med) {
    width: 24px;
    height: 27px;
    right: 35px;
    top: 30px;
  }
}