<ul class="list_topic-related-articles">
  <li class="list_item-topic-related-article">{% include 'molecules-article-preview-related' %}</li>
  <li class="list_item-topic-related-article">{% include 'molecules-article-preview-related' %}</li>
  <li class="list_item-topic-related-article">{% include 'molecules-article-preview-related' %}</li>
</ul>
