<ul class="list_topic-related-articles">
  <li class="list_item-topic-related-article">{% include 'molecules-article-preview' with { 'topic_article': listTopicRelatedArticles.first } %}</li>
  <li class="list_item-topic-related-article">{% include 'molecules-article-preview' with { 'topic_article': listTopicRelatedArticles.second } %}</li>
  <li class="list_item-topic-related-article">{% include 'molecules-article-preview' with { 'topic_article': listTopicRelatedArticles.third } %}</li>
</ul>
