.topic_hero-section .topic_article-preview > * {
  margin-top: 14px;
}

.topic_hero-section .topic_article-preview {
  @include rule-horizontal-bottom(1px, $gray-8, solid);
  padding-bottom: 28px;
}

.topic_hero-section .topic_article-preview_title {
  display: inline-block;
  font-size: 36px;
}