/**
 * @file news-item-standard.scss
 *
 * Copyright 2017 Palantir.net, Inc.
 */

.news-item_standard {
  padding: 0;

  &:hover {
    .news-item_standard-title {
      text-decoration: underline;
    }
  }

  .news-item_standard-title {
    @include breakpoint($bp-med-home) {
      margin-bottom: 20px;
    }
  }

  .news-item_standard-description {
    display: none;

    @include breakpoint($bp-med-home) {
      display: block;
    }
  }

  .news-item_standard-image {
    margin-top: 20px;
    width: 100%;

    img {
      max-height: 100%;
      max-width: 100%;
      width: 100%;
    }

    @include breakpoint($bp-med-home) {
      margin-top: 0;
      text-align: right;

      img {
        width: initial;
      }
    }
  }
}
