{#
 # @file news-item-standard-row.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<a href="{{ url }}" class="layout layout_two_up-heavy-left news news-item_standard">
  <div class="layout_two_up-heavy-left-primary news-item_standard-text">
    {% include 'atoms-h2' with { 'content': '70 char max, lorem ipsum dolor sit amet, consectetuer adipiscing elit.', 'class': 'news-item_standard-title' } %}
    {% include 'atoms-paragraph' with { 'content': '190 char max, praesent fringilla sit amet nulla eu consequat. Nam ac diam sem. Aenean porttitor justo vel nisl efficitur, praesent fringilla sit amet nulla eu consequat. Nam ac diam sem.', 'class': 'news-item_standard-description' } %}
  </div>
  <div class="layout_two_up-heavy-left-secondary news-item_standard-image">
    {% include 'atoms-landscape-3x2' %}
  </div>
</a>