{#
 # @file hub-card-row.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<div class="card-row layout layout-one-up">
  {% include 'molecules-card-cta-no-image' %}
  {% include 'molecules-card-cta' %}
  {% include 'molecules-card-cta-portrait' %}
  {% include 'molecules-card-cta-no-image' %}
</div>
