<div class="card-row grid">
  {% include 'molecules-card-cta-no-image' %}
  {% include 'molecules-card-cta' %}
  {% include 'molecules-card-cta-portrait' %}
  {% include 'molecules-card-cta-no-image' %}
</div>
