<div class="card-row layout layout-one-up">
  {% include 'molecules-card-cta-no-image' %}
  {% include 'molecules-card-cta-no-image' %}
  {% include 'molecules-card-cta-no-image' %}
  {% include 'molecules-card-cta-no-image' %}
</div>
