.layout.topic_tools {
  @include grid--direction-col();
}

// The tools block.
.topic_tools {
  @include rule-horizontal-bottom(1px, $gray-8, solid);
  max-width: 800px;

  // Tools links.
  .tools_list-learn-more {
    list-style-type: disc;
    margin-left: 2em;

    .list_links_item {
      @extend %type-smaller;
    }
  }
}

.tools_title,
.tools_title-learn-more {
  @include gutter($margin-left-half...);

  @include breakpoint($bp-med) {
    margin-left: 0;
  }
}
