/**
 * @file primary-nav.scss
 *
 * Copyright 2017 Palantir.net, Inc.
 */

.nav-primary-menu {
  float: left;
  @include breakpoint($bp-med-home) {
    float: none;
    width: 700px;
    clear: both;
    margin: 0 auto;
  }
}

// Mobile overlay
.nav-primary-menu_overlay-mobile {
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  background: #384047;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 0;
  z-index: 10;
}

.nav-primary-menu_overlay-mobile-on {
  opacity: 0.85;
  width: 100%;
}

// The primary navigation list.
.nav-primary_list {
  @include breakpoint($bp-med-home max-width) {
    @include transition(all, 0.2s, ease-in-out);
    background-color: $black-7;
    left: 0;
    top: 81px;
    position: absolute;
    width: 100%;
  }

  @include breakpoint($bp-med-home min-width) {
    background-color: $white;
    top: 0;
  }
}

// Mobile menu interaction
.nav-primary_list-closed {
  left: -100%;

  @include breakpoint($bp-med-home min-width) {
    display: flex;
    justify-content: space-between;
  }
}

.nav-primary_list-open {
  left: 0;
}

// List item in the primary navigation.
.nav-primary_list-item {
  font-weight: $font-weight-bold;

  @include breakpoint($bp-med-home max-width) {
    position: relative;
    border-bottom: 1px $gray-8 solid;

    .link-primary-nav a {
      padding: 15px 30px;
      width: 100%
    }
  }

  @include breakpoint($bp-med-home min-width) {
    display: inherit;
    margin-right: 28px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @include breakpoint($bp-large-home min-width) {
    margin-right: 25px;
  }

  .icon-select {
    display: none;

    @include breakpoint($bp-med-home max-width) {
      position: absolute;
      right: 25px;
      top: 15px;

      svg {
        @include rotate(-90);
        fill: $blue;
      }
    }
  }
}

// The Sub nav.
.nav-primary_list_subnav {
  @include breakpoint($bp-med-home min-width) {
    z-index: 1;
    width: 100vw;
    position: absolute;
    top: 271px;
    left: 0;
    background: $black-7;
    @include grid__unit--cols(12);
    justify-content: flex-start;
    display: flex;
  }
}

.nav-primary_list_subnav li {
  display: none;
  height: 0;
  @include breakpoint($bp-med-home max-width) {
    //display: none;
    //height: 0;
  }
}

.nav-primary_list_subnav-visible li {
  display: block;
  height: auto;
}

.nav-primary_list_subnav_list-item {
  background-color: $black-15;
  border-top: 1px $gray-8 solid;
  position: relative;

  @include breakpoint($bp-med-home) {
    background-color: $black-7;
  }

  .link-primary-nav a {
    @include type($font-sans-serif, 16px, $font-weight-bold, 1.4375);
    padding: 15px 30px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.nav-primary_list-item_title-active .icon {
  display: none;
}

.one {
  @include breakpoint($bp-med-home min-width) {
    @include grid__unit--cols(3);
  }
}

.one .nav-primary_list_subnav_list-item .link-primary-nav a {
  font-size: 24px;
  line-height: 28px;
  display: inline;
  padding: 0;
}

.two {
  @include breakpoint($bp-med-home min-width) {
    @include grid__unit--cols(4.5);
  }
}

.two .nav-primary_list_subnav_list-item .link-primary-nav a {
  font-size: 18px;
  line-height: 25px;
}

.nav-primary_list_subnav .nav-primary_list_subnav_list-item a:hover {
  color: $blue;
  text-decoration: none;
}

.one .icon-select {
  display: inline-block;
  fill: $blue;
  transform: rotate(270deg);
}

// Mobile menu button to trigger drop down.
.nav-primary_button-menu {
  border: 2px $purple solid;
  color: $purple;
  font-weight: $font-weight-medium;
  height: 44px;
  padding: 8px;
  text-align: center;
  width: 63px;

  @include breakpoint($bp-med-home min-width) {
    display: none;
  }

  &:active,
  &:hover,
  &.open,
  &.nav-primary_button-menu-clicked {
    background-color: $purple-lighter;
  }

  &:hover {
    cursor: pointer;
  }
}

// Primary nav link
.link-primary-nav a {
  display: inline-block;

  @include breakpoint($bp-med-home min-width) {
    font-size: 18px;
    font-weight: $font-weight-bold;
    padding-bottom: 50px;
  }

  @include breakpoint($bp-large-home min-width) {
    padding: 50px 0;
  }
}

.nav-primary_list-item_title .link-primary-nav a {
  @include breakpoint($bp-med-home min-width) {
    &:hover {
      border-bottom: 20px $purple solid;
      padding-bottom: 30px;
    }
  }
  @include breakpoint($bp-large-home min-width) {
    &:hover {
      padding-bottom: 32px;
    }
  }
}

.one .link-primary-nav {
  padding: 15px 30px;
}