{#
 # @file primary-nav.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<nav id="nav-primary" class="nav-primary">
  <div class="nav-primary_button-menu">Menu</div>
  <ul class="nav-primary_list">
    <li class="nav-primary_list-item">{% include '04-link-primary-nav.twig' with { 'content': 'Education' } %}</li>
    <li class="nav-primary_list-item">{% include '04-link-primary-nav.twig' with { 'content': 'Life & Career' } %}</li>
    <li class="nav-primary_list-item">{% include '04-link-primary-nav.twig' with { 'content': 'Practice Management' } %}</li>
    <li class="nav-primary_list-item">{% include '04-link-primary-nav.twig' with { 'content': 'Delivering Care' } %}</li>
    <li class="nav-primary_list-item">{% include '04-link-primary-nav.twig' with { 'content': 'About Us' } %}</li>
  </ul>
</nav>