<div class="block-cta block-cta_hero_homepage">
  <a href="{{ url }}">
    <div class="image-wrapper">
      {% include "landscape-4x2_5.twig" %}
    </div>
    <div class="text-wrapper">
      <h5 class="primary-cta">Highlight</h5>
      <h2 class="title"> New AMA Digital Experience</h2>
      {% include "21-summary.twig" %}
      {% include "05-link-read-more.twig" %}
    </div>
  </a>
</div>