<div class="block-cta block-cta_hero_homepage">

	<div class="text-wrapper">
		<h5 class="highlight caps align-center">Highlight</h5>
	
		<h2 class="title align-center"> This is the Title</h2>

		 <div class="align-center h5">{% include "21-summary.twig" %}</div>
	</div>	
</div>