<div class="block-cta block-cta_hero_homepage">
  <a href="{{ url }}">
    <div class="image-wrapper">
      {% include "landscape-4x2.5.twig" %}
    </div>
    <div class="text-wrapper">
      <h5 class="highlight caps align-center">Highlight</h5>
      <h2 class="title align-center"> New AMA Digital Experience</h2>
      {% include "21-summary.twig" %}
      <div class="link read-more">Read More</div>
    </div>
  </a>
</div>