.wayfinder {
  display: none;
  border-bottom: solid 1px $gray-8;
  padding: $gutter-mobile 0 $gutter-mobile ($gutter-mobile / 4);

  @include breakpoint($bp-med) {
    padding: ($gutter-mobile / 4) 0;
  }
  @include breakpoint($bp-small) {
    display: block;
  }
}

.wayfinder_logo {
  @include grid__unit--cols(4);
  display: flex;  }

.wayfinder_logo .logo-outer {
  margin: 0 auto;
  align-items: center;
  display: flex;
}

.wayfinder_referrer {
  @include grid__unit--cols(4);
  align-self: center;

  .link-back {
    display: none;
  }
}
