<section class="wayfinder">
  <div class="container grid">
    <div class="wayfinder_referrer">
      {% set url = wayfinder.referred.referrerHref %}
      {% set content = wayfinder.referred.referrerTitle %}
      {% include 'molecules-link-with-back-icon' %}
    </div>
    <div class="wayfinder_logo">
      {% set href = wayfinder.logo.href %}
      {% include 'atoms-logo' %}
    </div>
    <div class="col-width-4"></div>
  </div>
</section>