.hub-hero {
  width: 100%;
  min-height: 400px;
  max-width: 1200px;
  display: flex;
  margin: 24px 0;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
}

.hub-hero-inner {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

// Split variant
.hub-hero-split {
  align-items: stretch;

  .hub-hero-inner {
    align-items: stretch;
    padding: 0 20px;
  }

  .hub-hero_title {
    order: 1;
    padding: 20px;
  }

  .hub-hero_desc {
    order: 3;
    margin-top: auto;
    padding: 20px;
    margin-bottom: 0;
  }

  .hub-hero_button-container {
    order: 2;
  }
}

.hub-hero_title {
  background-color: rgba($white, .45);
  padding: 20px 20px 8px;
  @include type($font-sans-serif, 28px, $font-weight-thin, 1.1428571429);
  @include breakpoint($bp-med-home min-width) {
    @include type($font-sans-serif, 38px, $font-weight-thin, 1.1052631579);
  }
  @include breakpoint($bp-large-home min-width) {
    @include type($font-sans-serif, 46px, $font-weight-thin, 1.0869565217);
  }
}

.hub-hero_desc {
  @extend %type-larger;
  padding: 0 20px 20px;
  margin-bottom: 0;
  background-color: rgba($white, .45);
}

.hub-hero_button-container {
  margin-top: 20px;
}

// no overlay variant
.hub-hero-no-overlay {
  .hub-hero-inner {
    background-color: transparent;
  }

  .hub-hero_title {
    background-color: transparent;
  }

  .hub-hero_desc {
    background-color: transparent;
  }

  .hub-hero_button-container {
    margin-top: 0;
  }
}

// side variant
%hub-hero-side,
.hub-hero-side {
  align-items: stretch;

  .hub-hero-inner {
    background-color: rgba($white, .45);
    width: 100%;
    margin: 0;
    margin-right: auto;
    text-align: left;
    padding: 20px;

    @include breakpoint($bp-small) {
      width: 70%;
    }

    @include breakpoint($bp-med) {
      width: 50%;
    }
  }

  .hub-hero_title {
    background-color: transparent;
  }

  .hub-hero_desc {
    background-color: transparent;
  }

  .hub-hero_button-container {
    width: 100%;
    padding: 20px;
    margin-top: auto;

    .button-small {
      width: 100%;
    }
  }
}

.hub-hero-side-right {
  @extend %hub-hero-side;

  .hub-hero-inner {
    margin-left: auto;
    margin-right: 0;
  }
}

// cta only variant

.hub-hero-cta-only {
  min-height: 0;
  text-align: center;
  padding: $space-double 0;
  background-color: $black-7;

  .hub-hero_title {
    background-color: transparent;
    padding: 0 0 8px;
  }

  .hub-hero_desc {
    background-color: transparent;
    padding: 0 0 20px;
  }
}
