.hub-hero {
  width: 100%;
  min-height: 400px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}

.hub-hero-image-123 {
  background: url(../images/fpo_16x9.png);
  background-size: cover;
  background-position: center;
}

.hub-hero-inner {
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: rgba($white, .7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hub-hero-split {
  align-items: stretch;

  .hub-hero-inner {
    background-color: transparent;
    align-items: stretch;
    padding: 0 20px;
  }

  .hub-hero_title {
    order: 1;
    padding: 20px;
    background-color: rgba($white, .7);
  }

  .hub-hero_desc {
    order: 3;
    margin-top: auto;
    background-color: rgba($white, .7);
    padding: 20px;
    margin-bottom: 0;
  }

  .hub-hero_button-container {
    order: 2;
    background-color: rgba($white, .7);
    padding: 0 20px 20px;
  }
}

.hub-hero-no-overlay {
  .hub-hero-inner {
    background-color: transparent;
  }

  &.hub-hero-split {
    .hub-hero_title {
      background-color: transparent;
    }

    .hub-hero_desc {
      background-color: transparent;
    }

    .hub-hero_button-container {
      background-color: transparent;
    }
  }
}

.hub-hero_title {
  @include type($font-sans-serif, 28px, $font-weight-thin, 1.1428571429);
  @include breakpoint($bp-med-home min-width) {
    @include type($font-sans-serif, 38px, $font-weight-thin, 1.1052631579);
  }
  @include breakpoint($bp-large-home min-width) {
    @include type($font-sans-serif, 46px, $font-weight-thin, 1.0869565217);
  }
}

.hub-hero_desc {
  @extend %type-larger;
}
