<section class="hub-hero hub-hero-no-overlay" style="background-image: url(/assets/images/fpo_16x9.png)">
  <div class="hub-hero-inner">
    {% include 'atoms-h1' with { 'content': 'Lorem ipsum dolor sit amet', 'class': 'hub-hero_title' } %}
    {% include 'atoms-paragraph' with { 'content': 'Gain an active voice on politics protecting patients and your profession.', 'class': 'hub-hero_desc' } %}
    <div class="hub-hero_button-container">
      {% include 'atoms-button-link' with { 'content': 'Join the AMA', 'class': 'hub-hero_button' } %}
    </div>
  </div>
</section>

{#
 # @file hub-hero.twig
 # Copyright 2017 Palantir.net, Inc.
 #}
