<section class="hub-hero hub-hero-side-left" style="background-image: url(../../assets/images/fpo_16x9.png)">
  <div class="hub-hero-inner">
    {% include 'atoms-h1' with { 'content': 'Lorem ipsum dolor sit amet', 'class': 'hub-hero_title' } %}
    <ul class="hub-hero_desc">
      <li>This is a list item in an unordered list</li>
      <li>An unordered list is a list in which the sequence of items is not important.</li>
      <li>Lists can be nested inside of each other</li>
      <li>This is the last list item</li>
    </ul>
    <div class="hub-hero_button-container">
      {% include 'atoms-button-link' with { 'content': 'Join the AMA', 'class': 'button-small' } %}
    </div>
  </div>
</section>

{#
 # @file hub-hero.twig
 # Copyright 2017 Palantir.net, Inc.
 #}
