{#
 # @file hub-hero.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<section class="hub-hero hub-hero-image-123">
  <div class="hub-hero-inner">
    {% include 'atoms-h1' with { 'content': 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.', 'class': 'hub-hero_title' } %}
    {% include 'atoms-paragraph' with { 'content': 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.', 'class': 'hub-hero_desc' } %}
    {% include 'atoms-button-link' with { 'content': 'Join the AMA', 'class': 'hub-hero_button' } %}
  </div>
</section>
