<div class="topic_hero {{ class }}">
  HI I'M LEAD NEWS.
  {% include "molecules-article-preview" with {'topic_article' : hero.first } %}
  {% include "molecules-article-preview" with {'topic_article' : hero.second } %}
</div>