<div class="{{ class }}">
 {% for article in leadNewsBlock.articles %}
   <div class="topic_hero {{ class }}">
     {% set article_preview = article %}
     {% include "molecules-article-preview" %}
   </div>
 {% endfor %}
</div>