.link-back {
  display: flex;
  font-size: 0.9em;
}

.link-back_icon {
  align-self: center;
}

.link-back_text {
  padding-left: 4px; // add some visual breathing room between the icon and the text.
}

.link-back .icon-select {
  transform: rotate(90deg) translateY(-4px); // adjust the positioning of the icon so it lines up with the container edge.
}

