<div class="layout layout-example layout_two_up">
    <div class="layout_two_up-primary">
        <div class="layout_container">2-up<br />1st</div>
        <div class="layout_container">2-up<br />2nd</div>
    </div>
    <div class="layout_two_up-secondary">
        <div class="layout_container">2-up<br />3rd</div>
        <div class="layout_container">2-up<br />4th</div>
    </div>
</div>