<div class="search_modal_inner">
  <span class="search_modal_close">
    {% include "atoms-close" %}
    Close
  </span>
  <div class="layout layout_one_up">
    {% include "molecules-search-field" %}
  </div>
  <div class="layout layout_two_up-heavy-left">
    <div class="layout_two_up-heavy-left-primary">
      {% include "molecules-list-best-match" %}
      {% include "molecules-list-popular-search" %}
    </div>
  </div>
</div>
