<div class="search_modal_inner">
  <div class="container">
    <div class="grid">
      <span class="search_modal_close">
        {% include "atoms-close" %} Close
      </span>
      <div class="search_modal_search-field col-width-12">
        {% include "molecules-search-field" %}
      </div>
    </div>
    <div class="grid">
      <div class="col-width-8">
        {% include "molecules-list-best-match" %}
        {% include "molecules-list-popular-search" %}
      </div>
    </div>
  </div>
</div>