.ribbon {
  background-color: $purple;
  position: relative;
  z-index: 51;
}

.flexbox .ribbon .layout.layout_one_up {
  @include breakpoint($bp-large max-width) {
    padding: 0;
  }
  flex-direction: row;
}