{#
 # @file home.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

{% include 'organisms-hub-header' %}

{# Some type of hero #}
<div class="layout layout-one-up">
  {% include 'molecules-hub-hero' %}
  {% include 'molecules-hub-hero-no-overlay' %}
  {% include 'molecules-hub-hero-split' %}
  {% include 'molecules-hub-hero-split-no-overlay' %}
  {% include 'molecules-hub-hero-side' %}
  {% include 'molecules-hub-hero-side-right' %}
</div>

{# begin the next section #}
<section class="hub-section">
  {# Each section should start with a section header #}
  <div class="layout">
    {% include 'molecules-section-header' %}
  </div>
  {# And then can have any number of the following components #}
  {% include 'organisms-hub-card-row' %}

  <div class="hub-card-row layout">
    {% include 'molecules-hub-card' %}
    {% include 'molecules-hub-card-portrait' %}
    {% include 'molecules-hub-card-no-image' %}
  </div>

  <div class="layout">
    {% include 'molecules-hub-cta-half-left' %}
    {% include 'molecules-hub-cta-half' %}
  </div>

</section>


{% include 'organisms-footer' %}
