<div class="layout-container">
	<!--Grid 2up-->
	<div class="layout-2up">
		<div class="grid-placeholder">1/2</div>
	</div>
  <div class="layout-2up">
    <div class="grid-placeholder">1/2</div>
  </div>
</div>