<div class="layout_container">
  <!--Grid 2up-->
  <div class="layout_3up">
    <div class="grid-placeholder">1/3</div>
  </div>
  <div class="layout_3up">
    <div class="grid-placeholder">1/3</div>
  </div>
  <div class="layout_3up">
    <div class="grid-placeholder">1/3</div>
  </div>
</div>