<div class="layout_container">
  <!--Grid 2up-->
  <div class="layout_4up">
    <div class="grid-placeholder">1/4</div>
  </div>
  <div class="layout_4up">
    <div class="grid-placeholder">1/4</div>
  </div>
  <div class="layout_4up">
    <div class="grid-placeholder">1/4</div>
  </div>
  <div class="layout_4up">
    <div class="grid-placeholder">1/4</div>
  </div>
</div>