<div class="layout_container">
  <!--Grid 2up-->
  <div class="layout_main-col">
    <div class="grid-placeholder">main</div>
  </div>
  <div class="layout_side-col">
    <div class="grid-placeholder">side</div>
  </div>
</div>