<div class="layout-container">
  <!--Grid 2up-->
  <div class="layout-main-col">
    <div class="grid-placeholder">main</div>
  </div>
  <div class="layout-side-col">
    <div class="grid-placeholder">side</div>
  </div>
</div>