/*------------------------------------*\
    $INPUT WRAP
\*------------------------------------*/
.field-wrap {
  position: relative;
  margin: 40px 0;

  input,
  textarea,
  select {
    position: relative;
    z-index: 10;
  }
}

.field-wrap_label {
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  font-weight: 700;
  color: $gray-8;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0;
  z-index: 1;

  &.show {
    top: -25px;
    opacity: 1;
  }
}

.watermark {
  color: $gray-8;
}
