<div class="field-wrap">
  <label class="field-wrap_label" for="message">{{ content|default('Your message *') }}</label>
  <textarea name="message" placeholder="{{ content|default('Your message *') }}"></textarea>
</div>
