<div class="field-wrap">
  <label class="field-wrap_label" for="fname">{{ content|default('First Name') }}</label>
  <input name="fname" type="text" placeholder="{{ content|default('First Name') }}">
</div>
