<ul class="list_topic-related">
  <li class="list_item-topic-related">{% include 'atoms-h2' with { 'content': listTopicRelated.first.title, 'class': 'list_topic-related_title' } %}{% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related_link' } %}</li>
  <li class="list_item-topic-related">{% include 'atoms-h2' with { 'content': listTopicRelated.second.title, 'class': 'list_topic-related_title' } %}{% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related_link' } %}</li>
  <li class="list_item-topic-related">{% include 'atoms-h2' with { 'content': listTopicRelated.third.title, 'class': 'list_topic-related_title' } %}{% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related_link' } %}</li>
</ul>
