/**
 * @file audience-featured-hero.scss
 *
 * Copyright 2017 Palantir.net, Inc.
 */

.audience_featured-hero {
  width: 100%;

  .link_load_more_less {
    margin: 20px 0;
    text-align: center;
  }
}

.audience_featured-hero_item {
  display: none;

  &.active {
    display: block;
  }
}
