{#
 # @file audience-featured-hero.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<div class="layout layout_one_up audience_featured-hero">
  {% include 'molecules-tabs-audience-selector' %}
  {% include 'molecules-list-featured-content-hero' %}
  {% include 'molecules-link-more-less' %}
</div>
