<div class="layout_one_up audience_featured-hero">
  {% include 'molecules-tabs-audience-selector' %}
  <div id="tab-1" class="audience_featured-hero_item active">
    {% include 'molecules-list-featured-content-hero' %}
    {% include 'molecules-link-more-less' %}
  </div>
  <div id="tab-2" class="audience_featured-hero_item">
    {% include 'molecules-list-featured-content-hero' %}
    {% include 'molecules-link-more-less' %}
  </div>
  <div id="tab-3" class="audience_featured-hero_item">
    {% include 'molecules-list-featured-content-hero' %}
    {% include 'molecules-link-more-less' %}
  </div>
  <div id="tab-4" class="audience_featured-hero_item">
    {% include 'molecules-list-featured-content-hero' %}
    {% include 'molecules-link-more-less' %}
  </div>
</div>
