<section class="hod-hero hod-hero-two-ctas">
  <div class="hod-hero-inner">
    {% include 'atoms-h1' with { 'content': 'Explore the New Annual Meeting Hubs', 'class': 'hod-hero_title' } %}
    {% include 'atoms-paragraph' with { 'content': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit aenean euismod laoreet.', 'class': 'hod-hero_desc' } %}
    <div class="hod-hero_button-container">
      {% include 'atoms-button-link' with { 'content': 'House of Delegates Hub', 'class': 'button-small' } %}
      {% include 'atoms-button-link-secondary' with { 'content': 'Member Sections & Groups Hub', 'class': 'button-small' } %}
    </div>
  </div>
</section>

{#
 # @file hod-hero-cta-only.twig
 # Copyright 2017 Palantir.net, Inc.
 #}
