.ama-theme {
  .ribbon_user-menu {
    margin-left: auto;
    padding-right: 15px;
    display: flex;
    align-items: center;
    width: 35px;

    @include breakpoint(740px) {
      width: 367px;
    }
  }

  .ribbon_user-menu_trigger {
    color: transparent;
    cursor: pointer;
    outline: none;
    margin-top: 5px;

    .icon {
      width: 20px;
    }

    .cls-1  {
      fill: $white;
    }

    @include breakpoint(740px) {
      display: none;
    }
  }


  .ribbon_user-menu_nav {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 100;
    background-color: $black-20;
    list-style: none;
    margin: 0;
    padding: 0;


    .ribbon_user-menu_nav_item.divider_item {
      display: none;
    }

    @include breakpoint(740px) {
      display: block !important;
      height: auto !important;
      position: static;
      top: auto;
      right: auto;
      background-color: transparent;

      .ribbon_user-menu_nav_item.divider_item {
        display: inline;
      }
    }
  }

  .ribbon_user-menu_nav_item {
    @extend %type-smaller;
    margin-bottom: 0;
    border-bottom: 1px solid $gray-8;

    &:last-child {
      border-bottom: 0;
    }

    a:link,
    a:visited {
      display: block;
      padding: 8px 40px 8px 20px;
      color: $black;
      font-weight: 600;
    }

    a:active,
    a:hover,
    a:focus {
      color: $blue;
      text-decoration: none;
    }

    @include breakpoint(740px) {
      float: left;
      border-bottom: 0;
      padding: 8px;

      a:link,
      a:visited {
        display: inline;
        padding: 8px;
        color: $white;
        font-weight: 400;
      }

      a:active,
      a:hover,
      a:focus {
        color: $white;
        text-decoration: underline;
      }
    }

    @include breakpoint($bp-small) {
      margin-bottom: 0;
    }
  }

  /* Authenticated user ribbon classes */

  .ribbon_user-menu_trigger-auth {
    @extend %type-smaller;
    @extend %background-transition;
    display: block;
    width: 200px;
    font-weight: 600;
    outline: none;
    padding: 8px 40px 8px 20px;

    .icon {
      display: none;
    }

    @include breakpoint(740px) {
      display: inline-block;
      width: 100%;
      background-color: $purple;
      padding: 15px;
      color: $white;
      cursor: pointer;
      outline: none;

      .icon {
        display: inline-block;
        fill: $white;
        height: 11px;
        width: 10px;
        line-height: 8px;
        vertical-align: middle;
        float: right;
        margin-left: 0.75em;
        margin-top: 0.3em;
      }

      &:hover,
      &:focus {
        background-color: $purple-darker;
      }

      &.is-active {
        background-color: $purple-darker;

        span {
          transform: rotate(180deg);
        }
      }
    }
  }

  /*style auth user's nav item specially*/
  .ribbon_user-menu_nav_item.auth-user {

    @include breakpoint(740px) {
      padding: 0;
      width: 200px;
      border-left: 1px solid $black-55;
      border-right: 1px solid $black-55;
    }
  }

  /*hides first link at desktop on mobile*/
  .ribbon_user-menu_nav-auth > .ribbon_user-menu_nav_item:first-child {
    display: none;

    @include breakpoint(740px) {
      display: inline-block;
      padding: 15px 8px;
    }
  }

  .ribbon_user-menu_nav-child {
    width: 270px;
    z-index: 100;
    background-color: $black-20;
    list-style: none;
    margin: 0;
    padding: 0;

    // Create a max width only for the display block
    @include breakpoint(max-width 739px) {
      display: block !important;
    }

    @include breakpoint(740px) {
      display: none;
      width: 200px;
      position: absolute;
      background-color: $purple-darker;
      box-shadow: none;
    }
  }

  .ribbon_user-menu_nav-child_item {
    margin-bottom: 0;

    a:link,
    a:visited {
      display: block;
      padding: 8px 40px 8px 20px;
      color: $black;
      font-weight: 600;

      @include breakpoint(740px) {
        padding: 8px 15px;
      }
    }

    a:active,
    a:hover,
    a:focus {
      color: $blue;
      text-decoration: none;
    }

    &.sign-out {
      border-top: 1px solid $black-55;
    }

    @include breakpoint(740px) {

      a:link,
      a:visited {
        color: $white;
      }

      a:active,
      a:hover,
      a:focus {
        color: $white;
        text-decoration: underline;
      }

      &.sign-out {
        border-top: none;
      }
    }

    @include breakpoint($bp-small) {
      margin-bottom: 0;
    }
  }
} //closes .ama-theme
