.state-data-select {
  margin: 0 auto;
}

.ama-theme .state-data-select .form-item {
  margin-top: 0;
  float: none;
}

.state-data-select h3 {
  @extend %h4;
  margin-top: 1.2em;
}

.state-data-select img {
  margin-top: 1.2em;
}