<header class="hub-header" role="banner">
  <div class="hub-header-inner">
    {% include 'atoms-logo-reversed' %}
    <div class="hub-header_messaging">
      {% include 'atoms-h1' with { 'class' : 'hub-header_title', 'content' : 'Become a member today for $35' } %}
      {% include 'atoms-button-reversed-link' with { 'content' : 'Join Now' } %}
      <div class="hub-header_small">
        {% include 'atoms-link-white' with { 'class' : 'hub-header_cta', 'content' : 'Already a Member? Renew.' } %}
        {% include 'atoms-link-white' with { 'class' : 'hub-header_text', 'content' : '800-626-3211' } %}
      </div>
    </div>
  </div>
</header>
