.hub-cta-half-text {
  width: 100%;

  @include breakpoint(1000px) {
    width: 50%;
  }
}

.hub-cta-half-video {
  flex-direction: column;

  @include breakpoint(1000px) {
    flex-direction: row-reverse;
  }
}

.hub-cta_video {
  display: block;
  width: 100%;
  background: black;

  @include breakpoint(1000px) {
    width: 50%;
  }
}

.hub-cta_video iframe.iframe-video {
  width: 100%;
  min-height: 230px;

  @include breakpoint(600px) {
    min-height: 300px;
  }

  @include breakpoint(1000px) {
    min-height: calc((((100vw - 42px) / 2) / 3) * 2);
  }

  @include breakpoint($bp-large) {
    min-height: 400px;
  }
}