.list_title-small {
  // Likely need to chance this extend 
  // once we have semantic classes on headings
  @extend %h6;
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;

  @include breakpoint($bp-small) {
    margin-top: 50px;
    margin-bottom: 25px;
  }
}
