<div class="topic_related-content {{ class }}">
  {% include 'atoms-title-label' with { 'content': 'Lorem ipsum', 'class': 'topic_related-content_title' } %}
  <ul>
    <li>{% include 'atoms-h2' with { 'content': listTopicRelatedContent.first.title, 'class': 'list_topic-related-content_title' } %}{% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related-content_link' } %}</li>
    <li>
      <div class="col-width-6">
        {% include 'atoms-landscape-3x2' with { 'class': 'list_topic-related-content-image_image', 'src': listTopicRelatedContentImage.src } %}
      </div>
      <div class="col-width-3">
        {% include 'atoms-h2' with { 'content': listTopicRelatedContentImage.first.title, 'class': 'list_topic-related-content_title list_topic-related-content-image_title' } %}
        {% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related-content-image_link' } %}
      </div>
    </li>
    <li>{% include 'atoms-h2' with { 'content': listTopicRelatedContent.first.title, 'class': 'list_topic-related-content_title' } %}{% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related-content_link' } %}</li>
    <li>
      <div class="col-width-6">
        {% include 'atoms-landscape-3x2' with { 'class': 'list_topic-related-content-image_image', 'src': listTopicRelatedContentImage.src } %}
      </div>
      <div class="col-width-3">
        {% include 'atoms-h2' with { 'content': listTopicRelatedContentImage.first.title, 'class': 'list_topic-related-content_title list_topic-related-content-image_title' } %}
        {% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related-content-image_link' } %}
      </div>
    </li>
  </ul>
  {% include 'molecules-list-topic-related-content' %}
</div>


The Style Guide has implemented these rather clunkily so I am going to attempt to refactor them. 