.topic_related-content {
  @include gutter($padding-right-half...);
  @include gutter($padding-left-half...);

  @include breakpoint($bp-med) {
    padding-right: 0;
    padding-left: 0;
  }
}

.topic_related-content_title {
  margin-bottom: 0;
}
