<div class="layout layout_three_up">
  <div class="category-highlight layout_three_up-primary">
    <a class="category-highlight_image-link" href="#"><img class="category-highlight_image" src="{{ src|default('../../assets/images/fpo_3x2.png') }}" alt="Better Patient Health"></a>
    <a class="category-highlight_title-link" href="#">{% include 'atoms-h4' with { 'content': 'Better Patient Health', 'class': 'b4 category-highlight_title' } %}</a>
    {% include 'atoms-paragraph' with { 'content': 'Collaborating to create health care that helps people live longer, healthier lives', 'class': 'b4 category-highlight_teaser' } %}
  </div>

  <div class="category-highlight layout_three_up-secondary">
    <a class="category-highlight_image-link" href="#"><img class="category-highlight_image" src="{{ src|default('../../assets/images/fpo_3x2.png') }}" alt="Better Medical Training"></a>
    <a class="category-highlight_title-link" href="#">{% include 'atoms-h4' with { 'content': 'Better Medical Training', 'class': 'b4 category-highlight_title' } %}</a>
    {% include 'atoms-paragraph' with { 'content': 'Accelerating change in medical education with visionary partners and bold innovations', 'class': 'b4 category-highlight_teaser' } %}
  </div>

  <div class="category-highlight layout_three_up-tertiary">
    <a class="category-highlight_image-link" href="#"><img class="category-highlight_image" src="{{ src|default('../../assets/images/fpo_3x2.png') }}" alt="Sustainable Practices"></a>
    <a class="category-highlight_title-link" href="#">{% include 'atoms-h4' with { 'content': 'Sustainable Practices', 'class': 'b4 category-highlight_title' } %}</a>
    {% include 'atoms-paragraph' with { 'content': 'Enhancing practice efficiency and professional satisfaction, and improving the delivery of care', 'class': 'b4 category-highlight_teaser' } %}
  </div>
</div>
