{#
 # @file category-highlight-image.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

    <a class="category-highlight_image-link" href="#"><img class="category-highlight_image" src="{{ src|default('../../assets/images/fpo_3x2.png') }}" alt="Better Patient Health"></a>
    <a class="category-highlight_title-link" href="#">{% include 'atoms-h4' with { 'content': 'Better Patient Health', 'class': 'category-highlight_title' } %}</a>
    {% include 'atoms-paragraph' with { 'content': 'Collaborating to create health care that helps people live longer, healthier lives', 'class': 'b4 category-highlight_teaser' } %}
