/**
 * @file button-search.scss
 *
 * Copyright 2017 Palantir.net, Inc.
 */

.button-search {
  border: 2px $blue solid;
  color: $blue;
  display: block;
  height: 44px;
  width: 44px;
  @include breakpoint($bp-med min-width) {
    bottom: 0;
    height: 87px;
    padding: 15px;
    position: relative;
    width: 135px;
  }
  &:hover {
    background: $blue-lighter;
    color: $blue;
  }
}
.button-search_title {
  display: none;
  @include breakpoint($bp-med min-width) {
    bottom: -34px;
    font-weight: 400;
    position: relative;
  }
}
.icon-search {
  position: absolute;
  right: 5px;
  top: 10px;
  svg {
    height: 20px;
    width: 20px;
  }
}