/**
 * @file layout-three-up.scss
 *
 * Copyright 2017 Palantir.net, Inc.
 */

// Placeholder blocks in layout molecules.
.layout_container {
  display: block;
  background-color: $black-7;
  margin-bottom: 1em;
  padding: 2em;
  text-align: center;
}

// Layout default setup.
.layout {
  @include grid();
}

.flexbox .layout.layout_three_up {
  @include grid__unit--cols(12);
  justify-content: flex-start;
}

.layout_three_up-primary,
.layout_three_up-secondary,
.layout_three_up-tertiary {
  @include grid__unit--cols(12);

  @include breakpoint($bp-large) {
    @include grid__unit--cols(4);
  }
}

.layout_three_up-primary {
  @include breakpoint($bp-large) {
    padding-right: 15px;
  }
}

.layout_three_up-secondary {
  @include breakpoint($bp-large) {
    padding: 0 15px;
  }
}

.layout_three_up-tertiary {
  @include breakpoint($bp-large) {
    padding-left: 15px;
  }
}
