<section class="related-content">
  <div class="layout layout_one_up">
    {% include 'atoms-related-list-title' %}
  </div>

  <ul class="layout layout_two_up-large related-content_list">
    <li class="layout_two_up-large-primary">
      {% include 'molecules-related-content-item' %}
    </li>
    <li class="layout_two_up-large-secondary">
      {% include 'molecules-related-content-item-event' %}
    </li>
    <li class="layout_two_up-large-primary">
      {% include 'molecules-related-content-item-video' %}
    </li>
    <li class="layout_two_up-large-secondary">
      {% include 'molecules-related-content-item' %}
    </li>
  </ul>

  <div class="layout layout_one_up">
    <div class="related-content_cta">
      {% include 'molecules-link-more-less' %}
    </div>
  </div>
</section>


