<div class="header-primary-span"></div>
<header class="header-single-task" role="banner">
  <div class="header-single-task-inner">
    {% include 'atoms-logo' %}
    <nav class="header-single-task-inner-nav">
	    {% include 'atoms-link-black' %}
	    {% include 'atoms-link-black' %}
	</nav>
  </div>
  {% include 'atoms-rule-horizontal' %}
</header>
