<section class="hub-hero hub-hero-cta-only">
  <div class="hub-hero-inner">
    {% include 'atoms-h1' with { 'content': 'Take Charge', 'class': 'hub-hero_title' } %}
    {% include 'atoms-paragraph' with { 'content': 'Gain an active voice on politics protecting patients and your profession.', 'class': 'hub-hero_desc' } %}
    <div class="hub-hero_button-container">
      {% include 'atoms-button-link' with { 'content': 'Join the AMA', 'class': 'button-small' } %}
    </div>
  </div>
</section>
