.news-featured {
  @extend %clearfix;

  // @todo remove max-width when grid is implemented.
  max-width: 66.66em;
  .news_label-featured {
    float: left;
    width: 9.44em;
  }
  .news_list {
    float: right;
    width: 49.72em;
  }
}
