<div class= "news-featured">
  {% include "news-item-label.twig" %}
  <ul class="news_list news_list-featured">
    <li class="news_list-featured-row">{% include 'news-item-featured-row.twig' %}</li>
    <li class="news_list-featured-row">{% include 'news-item-featured-row.twig' %}</li>
    <li class="news_list-featured-row">{% include 'news-item-featured-row.twig' %}</li>
  </ul>
</div>