<div class= "news-featured">
  {% include '05-rule-horizontal.twig' %}
  {% include "news-label-featured.twig"%}
  <div class="news_list news_list-featured">
    {% include 'news-item-featured-row.twig' %}
  </div>
</div>