{#
 # @file news-featured-list.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<div class= "layout news-featured">
  {% include 'molecules-news-label-featured' %}
  <div class="news_list news_list-featured">
    {% include 'molecules-news-item-featured-row' %}
  </div>
</div>
