<ul class="list_topic-related-content">
  <li class="list_item-topic-related-content">{% include 'atoms-h3' with { 'content': listTopicRelatedContent.first.title, 'class': 'list_topic-related-content_title' } %}{% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related-content_link' } %}</li>
  <li class="list_item-topic-related-content">{% include 'atoms-h3' with { 'content': listTopicRelatedContent.second.title, 'class': 'list_topic-related-content_title' } %}{% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related-content_link' } %}</li>
  <li class="list_item-topic-related-content">{% include 'atoms-h3' with { 'content': listTopicRelatedContent.third.title, 'class': 'list_topic-related-content_title' } %}{% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related-content_link' } %}</li>
</ul>
