<a href="{{ url }}" class="row_featured_content-hero grid">
  <div class="row_featured_content-hero_title col-width-8">
    {% include 'atoms-summary' with { 'content': title.read } %}
  </div>
  <div class="row_featured_content-hero_image col-width-4">
    {% include 'atoms-landscape-3x2' %}
  </div>
</a>
