<a class="card-cta" href="#">
    {% include 'atoms-h2' with { 'class': 'card-cta_title card-cta_title-no-border', 'content': cardRowContent.title ? cardRowContent.title : 'Leadership & Elections'} %}
    {% include 'atoms-paragraph' with { 'class': 'card-cta_desc', 'content': cardRowContent.content ? cardRowContent.content : 'View the results of the election—the new governing council is ready to serve the Women Physician Section. View the results of the election—the new governing council is ready to serve the Women Physician Section.'} %}
</a>
