<a class="card-cta" href="#">
    {% include 'atoms-h2' with { 'class': 'card-cta_title', 'content' : "test" } %}
    {% include 'atoms-h2' with { 'class': 'card-cta_title', 'content' : "hi" } %}
</a>
