// Course Browser heading.
.tabs-course_browser_label {
  margin: 25px 0;
  text-align: center;
}

// Course Browser selector list.
.tabs-course_browser_list {
  list-style: none;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
}

// Course Browser item.
.tabs-course_browser_list_item {
  color: $black;
  display: inline-block;
  line-height: 1.3;
  padding: 0;
  margin-bottom: 0;
  min-width: 190px;
  text-align: center;

  &:hover {
    border-bottom: 3px $purple solid;
  }

  a {
    padding: 1em 0.7em;

    &:hover {
      color: $black-55;
    }
  }
}

.tabs-course_browser_ctas {
  text-align: center;
}
