<div class="search-bar">
  <div class="search-bar-inner">
    <div class="search-bar_library">
      {% include "atoms-button-link-secondary" with {'content': 'Library'} %}
    </div>
    <div class="search-bar_form">
      {% include "molecules-search-field" with {'placeholder': 'Search Courses'} %}
    </div>
  </div>
</div>
