<div class="layout search-results-list">

    {% include 'molecules-search-result-external' with {'class': 'search-results-list-item'} %}
    {% include 'molecules-search-result-external' with {'class': 'search-results-list-item'} %}
    {% include 'molecules-search-result-external' with {'class': 'search-results-list-item'} %}

    {% include 'molecules-search-result-external' with {'class': 'search-results-list-item'} %}
    {% include 'molecules-search-result-external' with {'class': 'search-results-list-item'} %}
    {% include 'molecules-search-result-external' with {'class': 'search-results-list-item'} %}

</div>