<div class="layout">
  
  <ul class="list-subcategory">
    <li class="list-subcategory_item">
      <a class="list-subcategory_item-link" href="#">
        {% include 'atoms-h3' with { 'content': 'Applying for CPT Codes L3', 'class' : 'list-subcategory_item-title'} %}
        <div class="list-subcategory_item-block">
          {% include 'atoms-paragraph' with { 'content': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.', 'class' : 'list-subcategory_item-desc'} %}
          {% include 'atoms-paragraph' with { 'content': 'Learn More', 'class' : 'list-subcategory_item-cta'} %}
        </div>
      </a>
    </li>

    <li class="list-subcategory_item">
      <a class="list-subcategory_item-link" href="#">
        {% include 'atoms-h3' with { 'content': 'Applying for CPT Codes L3', 'class' : 'list-subcategory_item-title'} %}
        <div class="list-subcategory_item-block">
          {% include 'atoms-paragraph' with { 'content': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.', 'class' : 'list-subcategory_item-desc'} %}
          {% include 'atoms-paragraph' with { 'content': 'Learn More', 'class' : 'list-subcategory_item-cta'} %}
        </div>
      </a>
    </li>

    <li class="list-subcategory_item">
      <a class="list-subcategory_item-link" href="#">
        {% include 'atoms-h3' with { 'content': 'Applying for CPT Codes L3', 'class' : 'list-subcategory_item-title'} %}
        <div class="list-subcategory_item-block">
          {% include 'atoms-paragraph' with { 'content': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.', 'class' : 'list-subcategory_item-desc'} %}
          {% include 'atoms-paragraph' with { 'content': 'Learn More', 'class' : 'list-subcategory_item-cta'} %}
        </div>
      </a>
    </li>

  </ul>
</div>

{#
 # @file list-subcategory.twig
 # Copyright 2017 Palantir.net, Inc.
 #}
