<ul class="list_links-utility">
  <li class="list_link_item-utility"><a href="{{ url }}">Terms of Use</a></li>
  <li class="list_link_item-utility"><a href="{{ url }}">Privacy Policy</a></li>
  <li class="list_link_item-utility"><a href="{{ url }}">Code of Conduct</a></li>
  <li class="list_link_item-utility"><a href="{{ url }}">Website Accessibility</a></li>
</ul>