<div class="topic_related-content_list {{ class }}">
  {% include 'atoms-title-label' with { 'content': 'Lorem ipsum', 'class': 'topic_related-content_title' } %}
  <ul>
    <li>{% include 'molecules-topic-related-content' with { 'related_content' : related_content_list.first} %}</li>
    <li>{% include 'molecules-topic-related-content' with { 'related_content' : related_content_list.second} %}</li>
    <li>{% include 'molecules-topic-related-content' with { 'related_content' : related_content_list.third} %}</li>
  </ul>
</div>
