<div class="state-data">
  {% set content = stateDataPage.stateDataSelect.states.alabama.h3 %}
  {% include 'atoms-h3' %}
  {% set content = stateDataPage.stateDataSelect.states.alabama.paragraph %}
  {% include 'atoms-paragraph' %}
  {% include 'molecules-figure' %}
  {% set content = stateDataPage.stateDataSelect.states.alabama.downloads %}
  {% include 'molecules-list-rule-metadata' %}
</div>