<div class="state-data">
  {% set content = stateDataPage.stateDataSelect.states.alabama.h3 %}
  {% include 'atoms-h3' %}
  {% set content = stateDataPage.stateDataSelect.states.alabama.paragraph %}
  {% include 'atoms-paragraph' %}
  {% set src = stateDataPage.stateDataSelect.states.alabama.image %}
  {% include 'atoms-landscape-3x2' %}
  {% set content = stateDataPage.stateDataSelect.states.alabama.downloads %}
  {% include 'molecules-list-rule-metadata' %}
</div>