.hub-cta-half-text {
  width: 100%;
  background: $black-7;

  @include breakpoint(800px) {
    width: 50%;
  }
}

.hub-cta-half-video {
  width: 100%;
  flex-direction: column;
  align-items: center;

  @include breakpoint(800px) {
    flex-direction: row-reverse;
  }
}

.hub-cta_video {
  width: 100%;

  @include breakpoint(800px) {
    width: 50%;
  }
}
