  
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}
  
  {# Scripts #}
  {# init js #}
  <script src="../../assets/js/init.js" async></script>
  <script src="../../assets/js/nav.js" async></script>
  <script src="../../assets/js/search.js" async></script>
  </body>

</html>
