
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  {# Scripts #}
  {# init js #}
  <script src="../../assets/js/jquery.validate.js" async></script>
  <script src="../../assets/js/init.js" async></script>
  <script src="../../assets/js/nav.js" async></script>
  <script src="../../assets/js/featured-content.js" async></script>
  <script src="../../assets/js/search.js" async></script>
  <script src="../../assets/js/tabs-audience-selector.js" async></script>
  <script src="../../assets/js/nav-primary.js" async></script>
  <script src="../../assets/js/search-modal.js" async></script>
  <script src="../../assets/js/form-items.js" async></script>
  <script src="../../assets/js/jump-nav.js" async></script>
  <script src="../../assets/js/accordion.js" async></script>
  <script src="../../assets/js/fitvids.js" async></script>
  <script src="../../assets/js/hub-cta-half-video.js" async></script>
  </body>

</html>
