<main class="container">
  <div class="grid grid-margin">
    <aside class="col-width-3 grid-region">
      <div class="grid-region_content layout-example_placeholder">3 columns</div>
    </aside>

    <section class="col-width-6 grid-region">
      <div class="grid-region_content layout-example_placeholder">6 columns</div>
    </section>

    <aside class="col-width-3 grid-region">
      <div class="grid-region_content layout-example_placeholder">3 columns</div>
    </aside>
  </div>
</main>
