<a href="{{ url }}" class="search-results_columns-inner">
  {% include 'atoms-rule-horizontal' %}
  <div class="search-result_label-wrapper">
    {% include 'atoms-title-label' with { 'class' : 'search-result_label', 'content' : 'AMA Wire' } %}
    {% include 'atoms-arrow-external' %}
  </div>
  {% include 'atoms-h4' with { 'class' : 'search-result_columns-title', 'content' : 'Visit AMA Wire to view news and more information related to this topic.' } %}
  <div class="search-result_members-only-label-wrapper">
    {% include 'atoms-paragraph' with { 'class' : 'search-result_members-only-label', 'content' : 'AMA Members Only' } %}
    {% include 'atoms-information' %}
  </div>
</a>

{#
 # @file search-results-columns-external.twig
 # Copyright 2017 Palantir.net, Inc.
 #}