<section class="ribbon">
  <div class="container grid">
    <div class="ribbon_container col-width-12">
      {% include "molecules-ribbon-dropdown" %}
      {% include "molecules-ribbon-user-menu-auth" %}
    </div>
  </div>
</section>