/**
 * @file news-standard-list.scss
 *
 * Copyright 2017 Palantir.net, Inc.
 */

.news-standard {
  @include rule-horizontal(1px, $gray-8, solid);
  padding: 0;
  width: 100%;

  .news_label {

    @include breakpoint(1250px min-width) {
      @include grid__unit--cols(3);
    }
  }

  .news_list-standard {
    @include breakpoint(1250px min-width) {
      @include grid__unit--cols(9);
    }
  }

  .news_list-standard-row {
    @include rule-horizontal(1px, $gray-8, solid);
    padding: 30px 0;

    @include breakpoint($bp-med-home) {
      padding: 40px 0;
    }

    &:first-of-type {
      border-top: 0;

      .news-item_standard-image {
        display: block;
      }
    }

    .news-item_standard-image {
      display: none;
    }

    @include breakpoint($bp-med-home) {

      .news-item_standard-image {
        display: inline;
      }
    }
  }
}
