/**
 * @file news-standard-list.scss
 *
 * Copyright 2017 Palantir.net, Inc.
 */

.news-standard {
  @include rule-horizontal(1px, $gray-8, solid);
  padding: 0;
  width: 100%;

  .news_label {

    @include breakpoint(1250px min-width) {
      @include grid__unit--cols(3);
    }
  }

  .news_list-standard {
    @include breakpoint(1250px min-width) {
      @include grid__unit--cols(9);
    }

    li {
      @include rule-horizontal(1px, $gray-8, solid);
      padding: 30px 0;

      @include breakpoint($bp-med-home min-width) {
        padding: 40px 0;
      }

      &:first-of-type {
        border-top: 0;

        .news_item-standard_row_image {
          display: block;
        }
      }

      .news_item-standard_row_image {
        display: none;
      }

      @include breakpoint($bp-med-home min-width) {

        .news_item-standard_row_image {
          display: inline;
        }
      }
    }
  }
}
