<div class= "news_list-standard">
  {% include '05-rule-horizontal.twig' %}
  {% include "news-label.twig" %}
  <ul class="news_list news_list-standard">
    <li class="news_list-standard-row">{% include 'news-item-standard-row.twig' %}</li>
    <li class="news_list-standard-row">{% include 'news-item-standard-row.twig' %}</li>
    <li class="news_list-standard-row">{% include 'news-item-standard-row.twig' %}</li>
  </ul>
</div>