{#
 # @file news-standard-list.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<div class= "layout news-standard">
  {% include 'molecules-news-label' %}
  <ul class="news_list news_list-standard">
    <li class="news_list-standard-row">{% include 'molecules-news-item-standard-row' %}</li>
    <li class="news_list-standard-row">{% include 'molecules-news-item-standard-row' %}</li>
    <li class="news_list-standard-row">{% include 'molecules-news-item-standard-row' %}</li>
  </ul>
</div>