<div class="layout layout-example layout_four-row ">
  <div class="layout_four-item layout_container">4-row</div>
  <div class="layout_four-item layout_container">4-row</div>
  <div class="layout_four-item layout_container">4-row</div>
  <div class="layout_four-item layout_container">4-row</div>
</div>