@import '../../../../assets/css/scss/base/_typography.scss';

.tabs-audience_selector {
  .tabs-audience_selector_label {
    @extend %type-large;
    margin-bottom: 25px;
    text-align: center;
  }
  .tabs-audience_selector_list {
    text-align: center;
  }
  .tabs-audience_selector_list_item {
    @extend %type-hero;
    display: inline-block;
  }
  .icon-select {
    display: block;
    margin: 0 auto;
  }
}