<div class="tabs tabs-audience_selector">
  <h5 class="tabs-audience_selector_label">Find trusted info for:</h5>
  <ul class="tabs-audience_selector_list">
    <li class="tabs-audience_selector_list_item"><a href="{{ url }}" class="active">Physicians{% include "01-arrow-select.twig" %} </a></li>
    <li class="tabs-audience_selector_list_item"><a href="{{ url }}">Residents</a></li>
    <li class="tabs-audience_selector_list_item"><a href="{{ url }}">Med Students</a></li>
    <li class="tabs-audience_selector_list_item"><a href="{{ url }}">Patients</a></li>
  </ul>
</div>