<div class="tabs tabs-audience_selector">
  <h5 class="label">Find trusted info for:</h5>
  <ul class="tab-list">
    <li><a href="{{ url }}" class="active">Physicians{% include "01-arrow-select.twig" %} </a></li>
    <li><a href="{{ url }}">Residents</a></li>
    <li><a href="{{ url }}">Med Students</a></li>
    <li><a href="{{ url }}">Patients</a></li>
  </ul>
</div>