{% extends "templates-page-2col" %}
{% block hero %}
    {% if emergency %}
        {% include "molecules-alert" with emergency %}
    {% endif %}
    {% if hero %}

    {% endif %}

    <div class="g g-3up">
        {% for tout in touts %}
            <div class="gi">
            </div>
        {% endfor %}
    </div><!--end 3up-->

    <hr/>
{% endblock %}

{% block main %}
    <section class="section latest-posts">
        <h2 class="section-title">Latest Posts</h2>
        <ul class="post-list">
            {% for post in latest_posts %}

            {% endfor %}
        </ul>
        <a href="#" class="text-btn">View more posts</a>
    </section>
{% endblock %}

{% block sidebar %}
    {% include "organisms-recent-tweets" %}
{% endblock %}
