{% include 'organisms-hub-header' %}

<main class="hub container">
  {# Some type of hero #}
  <section class="hub-section hub-section_hero">
    {% include 'molecules-hub-hero' %}
    {% include 'molecules-hub-hero-no-overlay' %}
    {% include 'molecules-hub-hero-split' %}
    {% include 'molecules-hub-hero-split-no-overlay' %}
    {% include 'molecules-hub-hero-side' %}
    {% include 'molecules-hub-hero-side-right' %}
    {% include 'molecules-hub-hero-cta-only' %}
  </section>

  {# begin the next section #}
  <section class="hub-section">
    {# Each section should start with a section header #}
    {% include 'molecules-section-header' %}
    {# And then can have any number of the following components #}
    {% include 'organisms-hub-card-row' %}
    <div class="hub-card-row grid">
      {% include 'molecules-hub-card' %}
      {% include 'molecules-hub-card-portrait' %}
      {% include 'molecules-hub-card-no-image' %}
    </div>
    {% include 'molecules-hub-cta-half-left' %}
    {% include 'molecules-hub-cta-half' %}
    {% include 'molecules-hub-cta-half-video' %}
  </section>

</main>

{% include 'organisms-footer' %}
