.hub-cta_video {
  display: block;
  width: 100%;
  background: black;

  @include breakpoint(600px) {
    width: 50%;
  }
}

.hub-cta_video iframe {
  width: 100%;
  margin: 0;
  min-height: calc(((100vw -  40px) / 3) * 2);

  @include breakpoint(600px) {
    min-height: calc((((100vw - 42px) / 2) / 3) * 2);
  }

  @include breakpoint($bp-large) {
    min-height: 400px;
  }
}