.topic_hero .topic_article-preview {
  @include rule-horizontal-bottom(1px, $gray-8, solid);
  padding: $gutter-mobile 0;

  @include breakpoint($bp-med) {
    padding: $gutter 0;
  }
}

.topic_hero .topic_article-preview_title {
  display: inline-block;
  @include type($font-serif, 24px, $font-weight-medium, 1.3043478261);
  @include breakpoint($bp-med min-width) {
    @include type($font-serif, 36px, $font-weight-medium, 1.25);
  }
}

// Display the video field at the bottom of the field order.
.topic_hero .topic_article-preview .fluid-width-video-wrapper {
  order: 1;
}

// Ensure top gutters for child elements.
.topic_hero .topic_article-preview {
  @include child-top-gutters($gutter-mobile-half);
  @include breakpoint($bp-med) {
    @include child-top-gutters($gutter-half);
  }
}

.topic_hero > *:first-child {
  padding-top: 0;
}