.topic_hero .topic_article-preview {
  @include gutter($padding-top-full...);
}

.topic_hero .topic_article-preview_title {
  display: inline-block;
  @include type($font-serif, 24px, $font-weight-medium, 1.3043478261);
  @include breakpoint($bp-med min-width) {
    @include type($font-serif, 36px, $font-weight-medium, 1.25);
  }
}

// Display the video field at the bottom of the field order.
.topic_hero .topic_article-preview .fluid-width-video-wrapper {
  order: 1;
}

// // Ensure top gutters for child elements.
// .topic_hero .topic_article-preview {
//   @include breakpoint($bp-med) {
//     @include child-top-gutters($gutter / 2);
//   }
// }

.topic_hero .topic_article-preview:not(:first-child) {
  @include gutter($margin-top-full...);
  @include rule-horizontal(solid, $gray-8, 1px);
}

.topic_hero > *:first-child {
  padding-top: 0;
}

.topic_hero .topic_article-preview p {
  margin-bottom: 0;
}

.topic_hero a.topic_article-preview_title {
  display: inline-block;
  vertical-align: sub;
  line-height: 0.6em;
}

.topic_hero h2.topic_article-preview_title {
  display: inline-block;
  vertical-align: sub;
  line-height: 1.11765;
}