{% if editing %}
<div data-block-id="" class="contextual-region ui-draggable ui-draggable-handle active">
 {% include 'molecules-in-place-editor' %}
{% endif %}

{# This pattern is deprecated - please use organisms-topic-lead-news instead. #}
<div class="pattern-deprecated topic_hero {{ class }}">
  {% include "molecules-article-preview" with {'topic_article' : hero.first } %}
  {% include "molecules-article-preview" with {'topic_article' : hero.second } %}
</div>
{% if editing %}</div>{% endif %}
