<div class="topic_hero">
    {% include "molecules-article-preview" with {'class' : 'topic_hero_article-preview'} %}
    {% include "molecules-article-preview-video" with {'class' : 'topic_hero_article-preview-video'} %}
</div>