<section class="filter-control">
  <div class="filter-control_primary">
    <div class="container-with-grid">
      <div class="col-width-9 filter-control_container-results-count">
        {% include 'atoms-results-count' %}
        {% include 'atoms-results-count-total' %}
        {% include 'atoms-link-blue' with { 'content' : 'Reset' } %}
      </div>
      <div class="col-width-3 filter-control_container-toggle">
        {% include 'molecules-filter-toggle' %}
      </div>
    </div>
  </div>
  <div class="filter-control_secondary">
    <div class="container-with-grid">
      <div class="col-width-9 filter-control_container-filters">
        <ul class="applied-filters-list">
          <li class="applied-filters-list_item">{% include 'molecules-applied-filter' %}</li>
          <li class="applied-filters-list_item">{% include 'molecules-applied-filter' %}</li>
          <li class="applied-filters-list_item">{% include 'molecules-applied-filter' %}</li>
          <li class="applied-filters-list_item">{% include 'molecules-applied-filter' %}</li>
        </ul>
      </div>
      <div class="col-width-3 filter-control_container-sort">
        <div class="filter-control_sort">
          <label class="is-vishidden" for="sortType">Sort By</label>
          {% include 'atoms-select-menu' with { 'content' : 'Best Match', 'for' : 'sortType' }%}
          <a class="filter-control_sort-icons" href="#">{% include 'atoms-list' %}</a>
          <a class="filter-control_sort-icons" href="#">{% include 'atoms-grid' %}</a>
        </div>
      </div>
    </div>
  </div>
</section>