.block-promo {
  display: block;
  margin-bottom: 2em;
  padding: 25px;
  color: $white;
  background: $gray;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  @include breakpoint($bp-med) {
    padding: 30px;
    margin-bottom: 0;
  }
  &.block-promo-red {
    background: $red;
    &:hover {
      background: $red-darker;
    }
  }
  &.block-promo-orange {
    background: $orange;
    &:hover {
      background: $orange-darker;
    }
  }
  &.block-promo-purple {
    background: $purple;
    &:hover {
      background: $purple-darker;
    }
  }
}

.block-promo:hover {
  color: $white;
  .block-promo_cta {
    text-decoration: underline;
  }
}

.block-promo a {
  color: inherit;
  pointer-events: none;
}

.block-promo_title {
  @include type($font-sans-serif, 16px, $font-weight-bold, 1.4375);
  @include breakpoint(46.25em min-width) {
    @include type($font-sans-serif, 18px, $font-weight-bold, 1.38888888889);
  }
  text-transform: uppercase;
  margin-bottom: 1.56em; // 25px
}

.block-promo_summary {
  // Couldn't use the %type-large include here because the breakpoint is different.
  @include type($font-sans-serif, 21px, $font-weight-medium, 1.333333333);
  @include breakpoint(46.25em min-width) {
    @include type($font-sans-serif, 24px, $font-weight-medium, 1.2916666667); // 31
  }
  margin-bottom: 1.42em; // 30px
}

.block-promo_cta-primary {
  // Couldn't use the %h1 include here because the breakpoint is different.
  @include type($font-serif, 34px, $font-weight-bold, 1.11764705882);
  margin-bottom: 25px;
  @include breakpoint(46.25em min-width) {
    @include type($font-serif, 48px, $font-weight-bold, 1.08333333333);
    margin-bottom: 30px;
  }
}

.block-promo_cta-secondary {
  @include type($font-sans-serif, 16px, $font-weight-medium, 1.4375); // 23
  @include breakpoint(46.25em min-width) {
    @include type($font-sans-serif, 18px, $font-weight-medium, 1.38888889); // 25
  }
}