<div class="block block-promo {{ block_class_color }}">
    {% include '01-h1.twig' with { 'content': 'Register Now', 'title_class_title': ' class=title'} %}
    {% include '21-summary.twig' with { 'content': 'International Conference on Physicians\' Health
    Boston, Massachusetts
    September 18–20, 2016', 'title_class_title': ' class=title'} %}
</div>