<div class="block block-promo {{ block_class_color }}">
    {% include '01-h1.twig' with { 'content': 'Featured Event', 'title_class_title': ' class=title'} %}
    {% include '05-link-read-more.twig' with { 'content': 'Register Now', 'class': 'cta-primary'} %}
    {% include '21-summary.twig' with { 'content': 'International Conference on Physicians\' Health
    Boston, Massachusetts
    September 18–20, 2016'} %}
    {% include '05-link-read-more.twig' with { 'content': 'Learn More', 'class': 'cta-secondary'} %}
</div>