.ribbon_user-menu {
  margin-left: auto;
  width: 35px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}

.ribbon_user-menu_trigger {
  display: none;
  color: transparent;
  fill: $white;
}

.ribbon_user-menu_nav {
  display: none;
  @include breakpoint(740px) {
    display: block;
  }
}

.ribbon_user-menu_nav_item {
  float: left;
  padding: 15px;
  font-size: .75rem;
}

.ribbon_user-menu .icon {
  width: 20px;
}

.ribbon_user-menu .icon .cls-1 {
  fill: $white;
}