.ribbon_user-menu {
  margin-left: auto;
  padding-right: 15px;
  display: flex;
  align-items: center;
  width: 35px;
  @include breakpoint(740px) {
    width: 367px;
  }
}

.ribbon_user-menu_trigger {
  display: none;
  color: transparent;
  fill: $white;
}

.ribbon_user-menu_nav {
  display: none;
  @include breakpoint(740px) {
    display: block;
  }
}

.ribbon_user-menu_nav_item {
  float: left;
  @extend %type-smaller;
  -webkit-font-smoothing: antialiased;
  padding: 8px;

  .link {
    padding: 8px;
  }
}

.ribbon_user-menu .icon {
  width: 20px;
  @include breakpoint(740px) {
    display: none;
  }
}

.ribbon_user-menu .icon .cls-1 {
  fill: $white;
}