</div>
<div id="panels-ipe-tray" class="unsaved"><div class="ipe-tab-wrapper"><ul class="ipe-tabs"><li class="ipe-tab" data-tab-id="change_layout">  <a href="javascript:;" title="Change Layout">    <span class="ipe-icon ipe-icon-change_layout"></span>    <span class="ipe-tab-title">Change Layout</span>  </a></li><li class="ipe-tab active" data-tab-id="manage_content">  <a href="javascript:;" title="Manage Content">    <span class="ipe-icon ipe-icon-manage_content"></span>    <span class="ipe-tab-title">Manage Content</span>  </a></li><li class="ipe-tab" data-tab-id="edit">  <a href="javascript:;" title="Edit">    <span class="ipe-icon ipe-icon-edit"></span>    <span class="ipe-tab-title">Edit</span>  </a></li><li class="ipe-tab" data-tab-id="save">  <a href="javascript:;" title="Save">    <span class="ipe-icon ipe-icon-save"></span>    <span class="ipe-tab-title">Save</span>  </a></li><li class="ipe-tab" data-tab-id="cancel">  <a href="javascript:;" title="Cancel">    <span class="ipe-icon ipe-icon-cancel"></span>    <span class="ipe-tab-title">Cancel</span>  </a></li><li class="ipe-tab" data-tab-id="revert">  <a href="javascript:;" title="Revert to default">    <span class="ipe-icon ipe-icon-revert"></span>    <span class="ipe-tab-title">Revert to default</span>  </a></li></ul><div class="ipe-tabs-content" tabindex="-1" style=""><div class="ipe-tab-content active ipe-block-picker-list" data-tab-content-id="manage_content"><div class="ipe-category-picker-search" style="display: none;">  <span class="ipe-icon ipe-icon-search"></span>  <input type="text" placeholder="Search current category">  <input type="submit" value="Search"></div><div class="ipe-category-picker-top active form-displayed" style=""><h4>Create new <strong>Tools List</strong> content</h4><div class="ipe-block-form ipe-form"><div id="panels-ipe-block-type-form-wrapper"><div>

                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'status_messages' -->
                <!-- BEGIN OUTPUT from 'core/themes/classy/templates/misc/status-messages.html.twig' -->
                <div role="contentinfo" aria-label="Error message" class="messages messages--error">
                  <div role="alert">
                    <h2 class="visually-hidden">Error message</h2>
                    <ul class="messages__list">
                      <li class="messages__item">Block description field is required.</li>
                      <li class="messages__item">Title field is required.</li>
                      <li class="messages__item">Tools (value 1) field is required.</li>
                    </ul>
                  </div>
                </div>

                <!-- END OUTPUT from 'core/themes/classy/templates/misc/status-messages.html.twig' -->

              </div>

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form' -->
              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form.html.twig' -->
              <form class="block-tools-list-form block-content-form" data-drupal-selector="block-content-tools-list-panels-ipe-form-ef0z-0sfmdc" action="/admin/panels_ipe/variant/panelizer_field/node%3A13%3Afull/block_content/tools_list/form" method="post" id="block-content-tools-list-panels-ipe-form--EF0Z-0SFMDc" accept-charset="UTF-8" data-drupal-form-fields="edit-info-0-value--GKg5vjIbIBQ,edit-field-title-0-value--tKO3rQEZVv0,edit-field-tools-0-target-id--pBYAK3VHuEg,edit-field-tools-0-weight--xP6MbJSqZI0,edit-field-tools-add-more--51pbWiwklaw,edit-field-footer-label-0-value--C07RQeWkbOg,edit-field-footer-links-0-uri--kjgQybx8Lzg,edit-field-footer-links-0-title--dSaWjxJH_3s,edit-field-footer-links-0-weight--jd9CYkF3S7E,edit-field-footer-links-add-more--hjpPf53coKY,edit-revision-log-0-value--CLONnO59eaY,edit-submit--cvd4Tmf4VqE">


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'container' -->
                <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                <div class="field--type-string field--name-info field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-info-wrapper" id="edit-info-wrapper--FDTbsHKb5tg">

                  <!-- THEME DEBUG -->
                  <!-- THEME HOOK: 'field_multiple_value_form' -->
                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->


                  <!-- THEME DEBUG -->
                  <!-- THEME HOOK: 'form_element' -->
                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                  <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-info-0-value form-item-info-0-value">


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'form_element_label' -->
                    <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                    <label for="edit-info-0-value--GKg5vjIbIBQ" class="js-form-required form-required">Block description</label>
                    <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->




                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__textfield' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--textfield.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
                    <input class="js-text-full text-full form-text required error" data-drupal-selector="edit-info-0-value" aria-describedby="edit-info-0-value--GKg5vjIbIBQ--description" type="text" id="edit-info-0-value--GKg5vjIbIBQ" name="info[0][value]" value="" size="60" maxlength="255" placeholder="" required="required" aria-required="true" aria-invalid="true" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">

                    <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->


                    <div id="edit-info-0-value--GKg5vjIbIBQ--description" class="description">
                      A brief description of your block.
                    </div>
                  </div>

                  <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->



                  <!-- END OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->

                </div>

                <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->



                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'input__hidden' -->
                <!-- FILE NAME SUGGESTIONS:
                   * input--hidden.html.twig
                   x input.html.twig
                -->
                <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
                <input autocomplete="off" data-drupal-selector="form-6phzxr7t5r0lsfxtlzl4crjdfvskglye0ymz-p-uess" type="hidden" name="form_build_id" value="form-6PHzXR7T5R0LSFXTLZL4CrJdFvSKGlyE0YMZ_p-uess">

                <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->



                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'input__hidden' -->
                <!-- FILE NAME SUGGESTIONS:
                   * input--hidden.html.twig
                   x input.html.twig
                -->
                <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
                <input data-drupal-selector="edit-block-content-tools-list-panels-ipe-form-form-token-xqtoxklakrk" type="hidden" name="form_token" value="rWwq8kSoMKBSHDCgeroiijwvqK4fVWfyyfmHGxbGbbk">

                <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->



                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'input__hidden' -->
                <!-- FILE NAME SUGGESTIONS:
                   * input--hidden.html.twig
                   x input.html.twig
                -->
                <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
                <input data-drupal-selector="edit-block-content-tools-list-panels-ipe-form-yfmtsyhyj9y" type="hidden" name="form_id" value="block_content_tools_list_panels_ipe_form">

                <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->



                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'container' -->
                <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                <div class="field--type-language field--name-langcode field--widget-language-select js-form-wrapper form-wrapper" data-drupal-selector="edit-langcode-wrapper" id="edit-langcode-wrapper--WkBJZxyFZ-4">

                  <!-- THEME DEBUG -->
                  <!-- THEME HOOK: 'field_multiple_value_form' -->
                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->


                  <!-- END OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->

                </div>

                <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->



                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'container' -->
                <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                <div class="field--type-string field--name-field-title field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-field-title-wrapper" id="edit-field-title-wrapper--48qKJ2iFli4">

                  <!-- THEME DEBUG -->
                  <!-- THEME HOOK: 'field_multiple_value_form' -->
                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->


                  <!-- THEME DEBUG -->
                  <!-- THEME HOOK: 'form_element' -->
                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                  <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-field-title-0-value form-item-field-title-0-value">


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'form_element_label' -->
                    <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                    <label for="edit-field-title-0-value--tKO3rQEZVv0" class="js-form-required form-required">Title</label>
                    <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->




                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__textfield' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--textfield.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
                    <input class="js-text-full text-full form-text required error" data-drupal-selector="edit-field-title-0-value" type="text" id="edit-field-title-0-value--tKO3rQEZVv0" name="field_title[0][value]" value="" size="60" maxlength="255" placeholder="" required="required" aria-required="true" aria-invalid="true">

                    <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->


                  </div>

                  <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->



                  <!-- END OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->

                </div>

                <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->



                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'container' -->
                <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                <div class="field--type-entity-reference field--name-field-tools field--widget-entity-reference-autocomplete js-form-wrapper form-wrapper" data-drupal-selector="edit-field-tools-wrapper" id="edit-field-tools-wrapper--ujalwEfqfnE"><div id="field-tools-add-more-wrapper--Nowh7v9qaqo">

                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'field_multiple_value_form' -->
                    <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->
                    <div class="js-form-item form-item">


                      <!-- THEME DEBUG -->
                      <!-- THEME HOOK: 'table' -->
                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/dataset/table.html.twig' -->
                      <div class="tabledrag-toggle-weight-wrapper"><button type="button" class="link tabledrag-toggle-weight" title="Re-order rows by numerical weight instead of dragging.">Show row weights</button></div><div class="tableresponsive-toggle-columns"><button type="button" class="link tableresponsive-toggle" title="Show table cells that were hidden to make the table fit within a small screen." style="display: none;">Hide lower priority columns</button></div><table id="field-tools-values--GZhqkv6O638" class="field-multiple-table responsive-enabled" data-striping="1">


                        <thead>
                        <tr>
                          <th colspan="2" class="field-label"><h4 class="label js-form-required form-required">Tools</h4></th>
                          <th class="tabledrag-hide" style="display: none;">Order</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="draggable odd drag">
                          <td class="field-multiple-drag"><a href="#" class="tabledrag-handle" title="Drag to re-order"><div class="handle">&nbsp;</div></a></td>
                          <td>

                            <!-- THEME DEBUG -->
                            <!-- THEME HOOK: 'form_element' -->
                            <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                            <div class="js-form-item form-item js-form-type-entity-autocomplete form-type-entity-autocomplete js-form-item-field-tools-0-target-id form-item-field-tools-0-target-id form-no-label">


                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'form_element_label' -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                              <label for="edit-field-tools-0-target-id--pBYAK3VHuEg" class="visually-hidden js-form-required form-required">Tools (value 1)</label>
                              <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->




                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'input__textfield' -->
                              <!-- FILE NAME SUGGESTIONS:
                                 * input--textfield.html.twig
                                 x input.html.twig
                              -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
                              <input data-drupal-selector="edit-field-tools-0-target-id" class="form-autocomplete form-text required error ui-autocomplete-input" data-autocomplete-path="/entity_reference_autocomplete/node/default%3Anode/7TwnqPlPJstRYG1DmHldb4AVyZlU4MYRDwaTgxgPWMo" type="text" id="edit-field-tools-0-target-id--pBYAK3VHuEg" name="field_tools[0][target_id]" value="" size="60" maxlength="1024" placeholder="" required="required" aria-required="true" aria-invalid="true" autocomplete="off">

                              <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->


                            </div>

                            <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->

                          </td>
                          <td class="delta-order tabledrag-hide" style="display: none;">

                            <!-- THEME DEBUG -->
                            <!-- THEME HOOK: 'form_element' -->
                            <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                            <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-field-tools-0--weight form-item-field-tools-0--weight form-no-label">


                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'form_element_label' -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                              <label for="edit-field-tools-0-weight--xP6MbJSqZI0" class="visually-hidden">Weight for row 1</label>
                              <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->




                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'select' -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
                              <select data-drupal-selector="edit-field-tools-0-weight" class="field_tools-delta-order form-select" id="edit-field-tools-0-weight--xP6MbJSqZI0" name="field_tools[0][_weight]"><option value="0" selected="selected">0</option></select>
                              <!-- END OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->


                            </div>

                            <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->

                          </td>
                        </tr>
                        </tbody>
                      </table>

                      <!-- END OUTPUT from 'core/themes/classy/templates/dataset/table.html.twig' -->


                      <div class="clearfix">

                        <!-- THEME DEBUG -->
                        <!-- THEME HOOK: 'input__submit' -->
                        <!-- FILE NAME SUGGESTIONS:
                           * input--submit.html.twig
                           x input.html.twig
                        -->
                        <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
                        <input class="field-add-more-submit button js-form-submit form-submit" data-drupal-selector="edit-field-tools-add-more" formnovalidate="formnovalidate" type="submit" id="edit-field-tools-add-more--51pbWiwklaw" name="field_tools_add_more" value="Add another item">

                        <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->

                      </div>
                    </div>

                    <!-- END OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->

                  </div></div>

                <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->



                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'container' -->
                <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                <div class="field--type-string field--name-field-footer-label field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-field-footer-label-wrapper" id="edit-field-footer-label-wrapper--ljp1rqz7Na8">

                  <!-- THEME DEBUG -->
                  <!-- THEME HOOK: 'field_multiple_value_form' -->
                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->


                  <!-- THEME DEBUG -->
                  <!-- THEME HOOK: 'form_element' -->
                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                  <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-field-footer-label-0-value form-item-field-footer-label-0-value">


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'form_element_label' -->
                    <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                    <label for="edit-field-footer-label-0-value--C07RQeWkbOg">Footer Label</label>
                    <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->




                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__textfield' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--textfield.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
                    <input class="js-text-full text-full form-text" data-drupal-selector="edit-field-footer-label-0-value" aria-describedby="edit-field-footer-label-0-value--C07RQeWkbOg--description" type="text" id="edit-field-footer-label-0-value--C07RQeWkbOg" name="field_footer_label[0][value]" value="" size="60" maxlength="255" placeholder="">

                    <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->


                    <div id="edit-field-footer-label-0-value--C07RQeWkbOg--description" class="description">
                      If an unordered list is included in the footer, this label will appear above it.
                    </div>
                  </div>

                  <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->



                  <!-- END OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->

                </div>

                <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->



                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'container' -->
                <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                <div class="field--type-link field--name-field-footer-links field--widget-link-default js-form-wrapper form-wrapper" data-drupal-selector="edit-field-footer-links-wrapper" id="edit-field-footer-links-wrapper--hisinQNmNCo"><div id="field-footer-links-add-more-wrapper--Syg68OhN07s">

                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'field_multiple_value_form' -->
                    <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->
                    <div class="js-form-item form-item">


                      <!-- THEME DEBUG -->
                      <!-- THEME HOOK: 'table' -->
                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/dataset/table.html.twig' -->
                      <div class="tabledrag-toggle-weight-wrapper"><button type="button" class="link tabledrag-toggle-weight" title="Re-order rows by numerical weight instead of dragging.">Show row weights</button></div><div class="tableresponsive-toggle-columns"><button type="button" class="link tableresponsive-toggle" title="Show table cells that were hidden to make the table fit within a small screen." style="display: none;">Hide lower priority columns</button></div><table id="field-footer-links-values--RZdRSI5A5l8" class="field-multiple-table responsive-enabled" aria-describedby="edit-field-footer-links--pJMs6jUysBM--description" data-striping="1">


                        <thead>
                        <tr>
                          <th colspan="2" class="field-label"><h4 class="label">Footer Links</h4></th>
                          <th class="tabledrag-hide" style="display: none;">Order</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="draggable odd">
                          <td class="field-multiple-drag"><a href="#" class="tabledrag-handle" title="Drag to re-order"><div class="handle">&nbsp;</div></a></td>
                          <td>

                            <!-- THEME DEBUG -->
                            <!-- THEME HOOK: 'form_element' -->
                            <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                            <div class="js-form-item form-item js-form-type-entity-autocomplete form-type-entity-autocomplete js-form-item-field-footer-links-0-uri form-item-field-footer-links-0-uri">


                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'form_element_label' -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                              <label for="edit-field-footer-links-0-uri--kjgQybx8Lzg">URL</label>
                              <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->




                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'input__textfield' -->
                              <!-- FILE NAME SUGGESTIONS:
                                 * input--textfield.html.twig
                                 x input.html.twig
                              -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
                              <input data-autocomplete-first-character-blacklist="/#?" data-drupal-selector="edit-field-footer-links-0-uri" aria-describedby="edit-field-footer-links-0-uri--kjgQybx8Lzg--description" class="form-autocomplete form-text ui-autocomplete-input" data-autocomplete-path="/entity_reference_autocomplete/node/default/hZmhVTh7ijIkx9052y5sjbliqcl2dPwMgVRJPWxjX8Y" type="text" id="edit-field-footer-links-0-uri--kjgQybx8Lzg" name="field_footer_links[0][uri]" value="" size="60" maxlength="2048" placeholder="" autocomplete="off">

                              <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->


                              <div id="edit-field-footer-links-0-uri--kjgQybx8Lzg--description" class="description">
                                Start typing the title of a piece of content to select it. You can also enter an internal path such as <em class="placeholder">/node/add</em> or an external URL such as <em class="placeholder">http://example.com</em>. Enter <em class="placeholder">&lt;front&gt;</em> to link to the front page.
                              </div>
                            </div>

                            <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->



                            <!-- THEME DEBUG -->
                            <!-- THEME HOOK: 'form_element' -->
                            <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                            <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-field-footer-links-0-title form-item-field-footer-links-0-title">


                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'form_element_label' -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                              <label for="edit-field-footer-links-0-title--dSaWjxJH_3s">Link text</label>
                              <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->




                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'input__textfield' -->
                              <!-- FILE NAME SUGGESTIONS:
                                 * input--textfield.html.twig
                                 x input.html.twig
                              -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
                              <input data-drupal-selector="edit-field-footer-links-0-title" type="text" id="edit-field-footer-links-0-title--dSaWjxJH_3s" name="field_footer_links[0][title]" value="" size="60" maxlength="255" placeholder="" class="form-text">

                              <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->


                            </div>

                            <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->

                          </td>
                          <td class="delta-order tabledrag-hide" style="display: none;">

                            <!-- THEME DEBUG -->
                            <!-- THEME HOOK: 'form_element' -->
                            <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                            <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-field-footer-links-0--weight form-item-field-footer-links-0--weight form-no-label">


                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'form_element_label' -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                              <label for="edit-field-footer-links-0-weight--jd9CYkF3S7E" class="visually-hidden">Weight for row 1</label>
                              <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->




                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'select' -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
                              <select data-drupal-selector="edit-field-footer-links-0-weight" class="field_footer_links-delta-order form-select" id="edit-field-footer-links-0-weight--jd9CYkF3S7E" name="field_footer_links[0][_weight]"><option value="0" selected="selected">0</option></select>
                              <!-- END OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->


                            </div>

                            <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->

                          </td>
                        </tr>
                        </tbody>
                      </table>

                      <!-- END OUTPUT from 'core/themes/classy/templates/dataset/table.html.twig' -->


                      <div id="edit-field-footer-links--pJMs6jUysBM--description" class="description">An unordered list of links to appear in the footer of the Tools List block.</div>
                      <div class="clearfix">

                        <!-- THEME DEBUG -->
                        <!-- THEME HOOK: 'input__submit' -->
                        <!-- FILE NAME SUGGESTIONS:
                           * input--submit.html.twig
                           x input.html.twig
                        -->
                        <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
                        <input class="field-add-more-submit button js-form-submit form-submit" data-drupal-selector="edit-field-footer-links-add-more" formnovalidate="formnovalidate" type="submit" id="edit-field-footer-links-add-more--hjpPf53coKY" name="field_footer_links_add_more" value="Add another item">

                        <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->

                      </div>
                    </div>

                    <!-- END OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->

                  </div></div>

                <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->



                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'form_element' -->
                <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                <div class="js-form-item form-item js-form-type-vertical-tabs form-type-vertical-tabs js-form-item- form-item- form-no-label">


                  <!-- THEME DEBUG -->
                  <!-- THEME HOOK: 'form_element_label' -->
                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                  <label for="edit-advanced--348GtghbEWc" class="visually-hidden">Vertical Tabs</label>
                  <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->




                  <!-- THEME DEBUG -->
                  <!-- THEME HOOK: 'vertical_tabs' -->
                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/navigation/vertical-tabs.html.twig' -->
                  <div class="vertical-tabs clearfix"><ul class="vertical-tabs__menu"><li class="vertical-tabs__menu-item first last is-selected" tabindex="-1"><a href="#edit-revision-information--n43xkJOQRhY"><strong class="vertical-tabs__menu-item-title">Revision information</strong><span class="vertical-tabs__menu-item-summary">No revision</span></a></li></ul><div data-drupal-selector="edit-advanced" data-vertical-tabs-panes="" class="vertical-tabs__panes">

                      <!-- THEME DEBUG -->
                      <!-- THEME HOOK: 'details' -->
                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/details.html.twig' -->
                      <details class="entity-content-form-revision-information js-form-wrapper form-wrapper vertical-tabs__pane" data-drupal-selector="edit-revision-information" id="edit-revision-information--n43xkJOQRhY" open="open">    <summary role="button" aria-controls="edit-revision-information--n43xkJOQRhY" aria-expanded="true" aria-pressed="true">Revision information</summary><div class="details-wrapper">


                          <!-- THEME DEBUG -->
                          <!-- THEME HOOK: 'container' -->
                          <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                          <div class="field--type-string-long field--name-revision-log field--widget-string-textarea js-form-wrapper form-wrapper" data-drupal-selector="edit-revision-log-wrapper" data-drupal-states="{&quot;visible&quot;:{&quot;:input[name=\u0022revision\u0022]&quot;:{&quot;checked&quot;:true}}}" id="edit-revision-log-wrapper--EViMZ6Qhv_s">

                            <!-- THEME DEBUG -->
                            <!-- THEME HOOK: 'field_multiple_value_form' -->
                            <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->


                            <!-- THEME DEBUG -->
                            <!-- THEME HOOK: 'form_element' -->
                            <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                            <div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-revision-log-0-value form-item-revision-log-0-value">


                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'form_element_label' -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                              <label for="edit-revision-log-0-value--CLONnO59eaY">Revision log message</label>
                              <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->




                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'textarea' -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/textarea.html.twig' -->
                              <div class="form-textarea-wrapper">
                                <textarea class="js-text-full text-full form-textarea resize-vertical" data-drupal-selector="edit-revision-log-0-value" aria-describedby="edit-revision-log-0-value--CLONnO59eaY--description" id="edit-revision-log-0-value--CLONnO59eaY" name="revision_log[0][value]" rows="4" cols="60" placeholder=""></textarea>
                              </div>

                              <!-- END OUTPUT from 'core/themes/classy/templates/form/textarea.html.twig' -->


                              <div id="edit-revision-log-0-value--CLONnO59eaY--description" class="description">
                                The log entry explaining the changes in this revision.
                              </div>
                            </div>

                            <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->



                            <!-- END OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->

                          </div>

                          <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->

                        </div>
                      </details>

                      <!-- END OUTPUT from 'core/themes/classy/templates/form/details.html.twig' -->



                      <!-- THEME DEBUG -->
                      <!-- THEME HOOK: 'input__hidden' -->
                      <!-- FILE NAME SUGGESTIONS:
                         * input--hidden.html.twig
                         x input.html.twig
                      -->
                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
                      <input class="vertical-tabs__active-tab" data-drupal-selector="edit-advanced-active-tab" type="hidden" name="advanced__active_tab" value="edit-revision-information--n43xkJOQRhY">

                      <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->

                    </div></div>

                  <!-- END OUTPUT from 'core/themes/classy/templates/navigation/vertical-tabs.html.twig' -->


                </div>

                <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->



                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'container' -->
                <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--R0IvPyMFtSA">

                  <!-- THEME DEBUG -->
                  <!-- THEME HOOK: 'input__submit' -->
                  <!-- FILE NAME SUGGESTIONS:
                     * input--submit.html.twig
                     x input.html.twig
                  -->
                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
                  <input data-drupal-selector="edit-submit" type="submit" id="edit-submit--cvd4Tmf4VqE" name="panels_ipe_submit" value="Create and Place" class="button button--primary js-form-submit form-submit">

                  <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->

                </div>

                <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->


              </form>

              <!-- END OUTPUT from 'core/themes/classy/templates/form/form.html.twig' -->

            </div></div></div><div class="ipe-category-picker-bottom top-open" tabindex="-1">  <div class="ipe-categories"><a href="javascript:;" class="ipe-create-category ipe-category active" data-category="Create Content">  <span class="ipe-icon ipe-icon-create_content"></span>  Create Content</a><a href="javascript:;" class="ipe-category" data-category="Chaos tools">  Chaos tools  <div class="ipe-category-count">1</div></a><a href="javascript:;" class="ipe-category" data-category="Content">  Content  <div class="ipe-category-count">35</div></a><a href="javascript:;" class="ipe-category" data-category="Custom">  Custom  <div class="ipe-category-count">9</div></a><a href="javascript:;" class="ipe-category" data-category="Devel">  Devel  <div class="ipe-category-count">1</div></a><a href="javascript:;" class="ipe-category" data-category="Forms">  Forms  <div class="ipe-category-count">3</div></a><a href="javascript:;" class="ipe-category" data-category="Lists (Views)">  Lists (Views)  <div class="ipe-category-count">2</div></a><a href="javascript:;" class="ipe-category" data-category="Menus">  Menus  <div class="ipe-category-count">7</div></a><a href="javascript:;" class="ipe-category" data-category="System">  System  <div class="ipe-category-count">6</div></a><a href="javascript:;" class="ipe-category" data-category="User">  User  <div class="ipe-category-count">1</div></a><a href="javascript:;" class="ipe-category" data-category="core">  core  <div class="ipe-category-count">3</div></a></div></div></div></div></div></div>