<div class="layout layout_one_up list_featured_content-hero">
  <div class="list_featured_content-item">
    {% include 'atoms-rule-horizontal' %}
    {% include 'molecules-featured-content-hero-row' %}
    {% include 'atoms-rule-horizontal' %}
  </div>
  <div class="list_featured_content-item">
    {% include 'molecules-featured-content-hero-row' %}
    {% include 'atoms-rule-horizontal' %}
  </div>
  <div class="list_featured_content-item">
    {% include 'molecules-featured-content-hero-row' %}
    {% include 'atoms-rule-horizontal' %}
  </div>
  <div class="list_featured_content-item">
    {% include 'molecules-featured-content-hero-row' %}
    {% include 'atoms-rule-horizontal' %}
  </div>
  <div class="list_featured_content-item">
    {% include 'molecules-featured-content-hero-row' %}
    {% include 'atoms-rule-horizontal' %}
  </div>
  <div class="list_featured_content-item">
    {% include 'molecules-featured-content-hero-row' %}
    {% include 'atoms-rule-horizontal' %}
  </div>
</div>
