{#
 # @file list-featured-content-hero.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<div class="layout layout_one_up list_featured_content-hero">
  {% include 'atoms-rule-horizontal' %}
  {% include 'molecules-featured-content-hero-row' %}
  {% include 'atoms-rule-horizontal' %}
  {% include 'molecules-featured-content-hero-row' %}
  {% include 'atoms-rule-horizontal' %}
  {% include 'molecules-featured-content-hero-row' %}
  {% include 'atoms-rule-horizontal' %}
</div>
