.ama-theme {
  .list_topic-related-content {
    list-style: none;
    margin: 0;
    max-width: $max-width;
    padding: 0;
  }

  .list_item-topic-related-content {
    margin-bottom: 0;
    @include gutter($margin-top-half...);
  }

  .list_topic-related-content_title {
    margin-bottom: 0;
    @include type($font-serif, 21px, $font-weight-medium, 1.3333333333);
    @include breakpoint($bp-med-home min-width) {
      @include type($font-serif, 24px, $font-weight-medium, 1.2916666667);
    }
  }
}