{% include '07-list_title-small/list_title-small.twig' with { 'content': 'Links'} %}

{# No metadata, list links rule #}

<ul class="list_links list_links-rule">
  <li class="list_links_item">
    {% include '00-link.twig' with { 'content': 'Lorem ipsum dolor', 'class': 'link-black' } %}
  </li>
  <li class="list_links_item">
    {% include '00-link.twig' with { 'content': 'Donec non lectus leo', 'class': 'link-black' } %}
  </li>
  <li class="list_links_item">
    {% include '00-link.twig' with { 'content': 'Lorem ipsum dolor', 'class': 'link-black' } %}
  </li>
  {# List Link item example with metadata #}
  <li class="list_links_item">
    {% include '00-link.twig' with { 'content': ' Donec non lectus leo', 'class': 'link-black' } %}
  </li>
</ul>
