<section class="search-modal">
  <span class="icon icon-close search-modal_close">Close</span>
  {% include "molecules-search-field" %}

  <div class="search-modal_results">
    {% include "molecules-list-best-match" %}
    {% include "molecules-list-popular-search" %}
  </div>
</section>