<div class="date-block">
  <div class="date-block_date">
    <span class="date-block_date-month">{{ dateMonth|default('march') }}</span>
    <span class="date-block_date-day">{{ dateDay|default('26') }}</span>
    <span class="date-block_date-year">{{ dateYear|default('2016') }}</span>
  </div>
</div>
