/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/

/* Clearfix */
.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

%clearfix {
    *zoom: 1;
     &:after {
        content: "";
        display: table;
        clear: both;
        }
    }

/**
 * Element-invisible as defined by snook.ca
 * @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

%element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if support-legacy-browser(ie, '7') {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

/* Completely remove from the flow and screen readers. */
.is-hidden {
    display: none !important;
    visibility: hidden !important;
}

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Floats */
.right {
  float: right;
  padding: 0 0 $pad $pad;
}

.right-search {
  float: right;
  padding: 0 0 $pad 0;
}

.left {
  float: left;
  padding: 0 $pad $pad 0;
}

/* Display Classes */
.hide-small {
    @media all and (max-width: $bp-med) {
        display: none;
    }
}

.hide-med {
    @media all and (min-width: $bp-med) and (max-width: $bp-large) {
        display: none;
    }
}

.hide-large {
    @media all and (min-width: $bp-large) {
        display: none;
    }
}

//States
.valid {
  color: $valid;
}

.error {
  color: $error;
}

.warning {
    color: $warning;
}

.information {
    color: $information;
}

.font-secondary {
    font-family: $font-secondary;
}

// Sets all caps and font spacing.
.caps {
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.link,
%link {
  color: $blue;

  &:hover,
  &:focus {
    color: $blue;
    text-decoration: underline;
  }
}

// Global text color transition on hover
%text-transition {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

// Global icon color transition on hover
%icon-transition {
  -moz-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

// Global background color transition on hover
%background-transition {
  -moz-transition: background-color 0.28s ease;
  -o-transition: background-color 0.28s ease;
  -webkit-transition: background-color 0.28s ease;
  transition: background-color 0.28s ease;
}

.eyebrow {
    background-color: $purple;
    height: 16px;
    margin-bottom: 24px;
    width: 100%
}
// Generic block class for common block elements
.block {
  .primary-cta {
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
  }
  .title {
    margin-bottom: 30px;
    text-align: center;
  }
  .summary {
    font-size: 1.33em;
    line-height: 1.2;
    margin-bottom:  65px;
    text-align: center;
  }
}

.byline {
  font-family: $font;
  font-size: 0.833em;
  font-weight: 600;
  line-height: 1.22;
}

.rule_horizontal {
  border-top: 1px $gray-8 solid;
}
