/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */

h4, .h4 {
  font-family: $font-secondary;
  font-size: 1.66em;
  line-height: 1.12;  
}

h5, .h5 {
  font-family: $font;
  font-size: 1.33em;
  font-weight: 600;
  line-height: 1.2;
}

h6, .h6, %h6 {
  font-family: $font;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.4;
}