/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .h1, .alpha {
  line-height: 1.2;
}

h2, .h2, .beta {
  font-family: $font-secondary;
  font-size: 46px;
  font-weight: 400;
  line-height: 1.1;
}

h3,  .h3, .gamma {
  line-height: 1.2;
}

h4, .h4, .delta {

}

h5, .h5, .epsilon {
  font-family: $font;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}

h6,  .h6, .zeta {
  font-family: $font;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}



/* Subheadings */
.subheading {
  font-family: $font-secondary;
  font-weight: normal;
}
