/* Links */ 
a {
  color: $black;
  text-decoration: none;
  outline: 0;
  &:hover, &:focus {
    color: $black;
  }
}

.link-black {
  // if the default link style changes this will need to include color: black; text-decoration: none;
  &:active,
  &:hover,
  &:focus {
    color: $blue;
  }
}

// Primary nav link
.link-primary-nav a {
  display: inline-block;
  padding-bottom: 1.8em;
  &:hover {
    border-bottom: 20px $purple solid;
  }
}