/* Links */
a {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: $black;
  text-decoration: none;
  outline: 0;
  &:hover, &:focus {
    color: $black;
  }
}

.link-black {
  &:link,
  &:visited {
    color: $black;
  }
  // if the default link style changes this will need to include color: black; text-decoration: none;
  &:active,
  &:hover,
  &:focus {
    color: $blue;
  }
}

.link-white {
  &:link,
  &:visited {
    color: $white;
  }
  // if the default link style changes this will need to include color: black; text-decoration: none;
  &:active,
  &:hover,
  &:focus {
    color: $white;
    text-decoration: underline;
  }
}
