.ama-theme {
  ol,
  ul {
  	margin: 0 0 0 20px;
  	padding: 0 0 0 10px;

    li {
      margin-bottom: 9px;
    }

    @include breakpoint($bp-small) {
      margin: 0 0 0 40px;
      padding: 0 0 0 20px;
    }
  }

  /* Definition Lists */
  dl {
  	overflow: hidden;
  	margin: 0 0 $space;
  }

  dt {
  	font-weight: bold;
  }

  dd {
  	margin-left: 0;
  }
}

// controls some default styleguide behaviours
.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}
