{% include 'organisms-ribbon' %}
{% include 'organisms-header-primary' %}
<section class="search_modal">
  {% include 'organisms-search_modal' %}
</section>
<div class="template-home">
  <div class="container">{% include 'organisms-audience-featured-hero' %}</div>
  <div class="container">{% include 'molecules-page-level-search' %}</div>
  <div class="container">{% include 'molecules-block-hero' %}</div>
  <div class="container">{% include 'organisms-news-standard-list' %}</div>
  <div class="container">{% include 'organisms-news-featured-list' %}</div>
  <div class="container">{% include 'organisms-list-block-promo' %}</div>
</div>
{% include 'organisms-footer' %}
