{#
 # @file home.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

{% include 'organisms-ribbon' %}
<div class="layout layout-home">
    {% include 'organisms-header-primary' %}
    {% include 'molecules-tabs-audience-selector' %}
    <div>Audience hero.</div>
    {% include 'molecules-page-level-search' %}
    {% include 'molecules-block-hero' %}
    {% include 'organisms-news-standard-list' %}
    {% include 'organisms-news-featured-list' %}
    {% include 'organisms-list-block-promo' %}
</div>
{% include 'organisms-footer' %}
