{% include 'ribbon.twig' %}
<div class="layout layout-home">
    {% include 'header-primary.twig' %}
    {% include 'tabs-audience-selector.twig' %}
    <div>Audience hero.</div>
    {% include 'link-page-level-search.twig' %}
    {% include 'block-hero.twig' %}
    {% include 'news-featured-list.twig' %}
    {% include 'news-standard-list.twig' %}
    {% include '00-list-block-promo.twig' %}
</div>
{% include 'footer.twig' %}
