{% include 'ribbon.twig' %}
<div class="layout layout-home">
    {% include 'header-primary.twig' %}
    {% include 'organisms-audience-featured-hero' %}
    {% include 'page-level-search.twig' %}
    {% include 'block-hero.twig' %}
    {% include 'news-featured-list.twig' %}
    {% include 'news-standard-list.twig' %}
    {% include '00-list-block-promo.twig' %}
</div>
{% include 'footer.twig' %}
