.layout-home {
  padding: 0 30px;
}

.list-block-promo .layout_three_up {
  padding: 0;
}

.page-level-search,
.news-featured,
.list-block-promo {
  margin-top: 40px;
}

.block-hero,
.news-standard {
  margin-top: 50px;
}