<section class="list-people-bios">
  <ul>
    <li>
      {% include 'molecules-people-bio-short' with {'bio': bio1} %}
    </li>
    <li>
      {% include 'molecules-people-bio-short' with {'bio': bio2, 'disablePhoto': true} %}
    </li>
    <li>
      {% include 'molecules-people-bio-short' with {'bio': bio3} %}
    </li>
  </ul>
</section>


