<section class="best-match-dropdown">
  {% include 'atoms-label' with { 'content': 'Best Match'} %}
  <div class="best-match-wrapper">
      <label for="support" class="label">Online Support</label>
      {% include 'atoms-select-menu' with { 'for': 'support', 'selectedContent' : 'Get Support'} %}
    </div>
    <div>
      {% include 'atoms-label' with { 'content': 'Membership Services'} %}
      <p class="type-small">View our <a class="link link-blue" href="#">FAQ</a> page or call AMA Member Relations at (800) 262-3211</p>
    </div>
    <div>
      {% include 'atoms-label' with { 'content': 'Address'} %}
    </div>
  </div>
</section>

{#
 # @file best-match-dropdown.twig
 # Copyright 2017 Palantir.net, Inc.
 #}
