<section class="best-match-dropdown">
  {% include 'atoms-label' with { 'content': 'Best Match'} %}
  <div class="best-match-wrapper layout">
    <div class="layout-best-match-primary">
      <label for="support" class="label">Online Support</label>
      {% include 'atoms-select-menu' with { 'for': 'support', 'selectedContent' : 'Get Support'} %}
    </div>
    <div class="layout-best-match-secondary">
      <div class="layout-best-match-nested">
        {% include 'atoms-label' with { 'content': 'Membership Services'} %}
        <p class="best-match-text">View our <a class="link link-blue" href="#">FAQ</a> page or call AMA Member Relations at (800) 262-3211</p>
      </div>
      <div class="layout-best-match-nested">
        {% include 'atoms-label' with { 'content': 'Address'} %}
        <span class="best-match-text">American Medical Association</span>
        <span class="best-match-text">AMA Plaza</span>
        <span class="best-match-text">330 North Wabash Ave., Suite 39300</span>
        <span class="best-match-text">Chicago, IL 60611-5885</span>
      </div>
    </div>
  </div>
</section>

{#
 # @file best-match-dropdown.twig
 # Copyright 2017 Palantir.net, Inc.
 #}
