<div class="topic_related-articles {{ class }}">
  {% include 'atoms-title-label' with { 'content': 'Lorem ipsum', 'class': 'topic_related-articles_title' } %}
  {% include 'molecules-list-topic-related-articles' %}
</div>
