<div class= "layout news-standard">
  {% include 'molecules-news-label' %}
  <ul class="news_list news_list-standard">
    <li>{% include 'molecules-news-item-standard-row' %}</li>
    <li>{% include 'molecules-news-item-standard-row' %}</li>
    <li>{% include 'molecules-news-item-standard-row' %}</li>
  </ul>
</div>
