<div class="topic_related-articles grid-region_content">
  {% include 'atoms-title-label' with { 'content': 'Lorem ipsum', 'class': 'topic_related-content_title' } %}
  {% include 'molecules-list-topic-related-articles' %}
</div>
