<div class="layout layout_three_up">
	<div class="layout_three_up-row">
		<div class="category-highlight layout_three_up-primary">
		  {% include 'molecules-category-highlight-image' %}
		 </div>
		 <div class="category-highlight layout_three_up-secondary">
		  {% include 'molecules-category-highlight-image' %}
		 </div>
		 <div class="category-highlight layout_three_up-tertiary">
		  {% include 'molecules-category-highlight-image' %}
		 </div>
		</div>
</div>

{#
 # @file category-highlights.twig
 # Copyright 2017 Palantir.net, Inc.
 #}
