// Course card molecule - used in Education Center
.ec_card-course {
  @extend %clearfix;
  background-color: $black-7;
  color: $black;
  display: inline-block;
  width: 100%;

  &:hover {
    background-color: $gray-light-4;
  }

  @include breakpoint($bp-small $bp-med) {
    padding: 30px 30px 0 30px;
  }

  @include breakpoint($bp-med) {
    text-align: center;
  }
}

.ec_card-course_inner-primary {
  @include breakpoint($bp-small $bp-med) {
    display: inline-block;
    float: left;
    width: 40%;
  }
}

.ec_card-course_inner-secondary {
  padding: 24px;

  @include breakpoint($bp-small $bp-med) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 0 0 20px;
    width: 60%;
  }
}

.ec_card-course_image {
  display: block;
  margin: 0 auto;
  width: 100%;

  @include breakpoint($bp-med max-width) {
    padding: 24px;
    padding-bottom: 12px;
  }
}

.ec_card-course_duration {
  color: #999;
  text-align: center;

  @include breakpoint($bp-small $bp-med) {
    margin-top: 10px;
    text-align: left;
  }
  @include breakpoint($bp-med) {
    font-weight: bold;
  }
}

.ec_card-course_title {
  @extend %type-large;
  margin-bottom: 1em;

  @include breakpoint($bp-small $bp-med) {
    order: -2;
    text-align: left;
  }

  @include breakpoint($bp-med) {
    font-weight: bold;
  }
}

.ec_card-course_inner-secondary_credits_date {

  @include breakpoint($bp-small $bp-med) {
    flex: none;
  }
}

.ec_card-course_credits,
.ec_card-course_date {

  @include breakpoint($bp-small $bp-med) {
    display: inline-block;
    width: 50%;
  }
}

.ec_card-course_credits {
  margin-bottom: 0;

  @include breakpoint($bp-small $bp-med) {
    float: left;
    text-align: left;
  }
}

.ec_card-course_date {
  margin-bottom: 0.5em;

  @include breakpoint($bp-med) {
    font-weight: bold;
  }
}

.ec_card-course_description {
  color: $gray-8;
  display: none;

  @include breakpoint($bp-small) {
    display: inline-block;
  }

  @include breakpoint($bp-small $bp-med) {
    order: -1;
    text-align: left;
  }

  @include breakpoint($bp-med) {
    font-weight: bold;
  }
}
