<div class="alert alert-error">
	<div class="container">
		<div class="alert_container">
			{% include '09-alert.twig' %}
			<p class="alert_message">Error Lorem ipsum dolor set amet. Please try again. </p>
			<a class="alert_close" href="#">{% include '04-close.twig' %}</a>
		</div>
	</div>
</div>