<div class="alert alert-error">
	<div class="container-with-grid">
		<div class="alert_container col-width-12">
			{% include '09-alert.twig' %}
			<p class="alert_message">Warning Lorem ipsum dolor set amet. Please try again.</p>
			<a class="alert_close" href="#">{% include '04-close.twig' %}</a>
		</div>
	</div>
</div>