<div class="alert alert-information">
	<div class="layout layout_one_up">
		<div class="alert_container">
			{% include '10-information.twig' %}
			<p class="alert_message">info Lorem ipsum dolor set amet.</p>
			<a class="alert_close" href="#">{% include '04-close.twig' %}</a>
		</div>
	</div>
</div>