<div class="ec-partner-row layout">
  <a class="ec-partner-card" href="#"><img src="http://via.placeholder.com/350x150"></a>
  <a class="ec-partner-card" href="#"><img src="http://via.placeholder.com/350x150"></a>
  <a class="ec-partner-card" href="#"><img src="http://via.placeholder.com/350x150"></a>
  <a class="ec-partner-card" href="#"><img src="http://via.placeholder.com/350x150"></a>
  <a class="ec-partner-card" href="#"><img src="http://via.placeholder.com/350x150"></a>
  <a class="ec-partner-card" href="#"><img src="http://via.placeholder.com/350x150"></a>
</div>