<ul class="ec-partner-row layout">
	<li class='ec-partner-card'>{% include 'atoms-logo' with {'link': '#', 'image': 'http://via.placeholder.com/350x150', 'alt': 'partner-logo'} %}</li>
	<li class='ec-partner-card'>{% include 'atoms-logo' with {'link': '#', 'image': 'http://via.placeholder.com/350x150', 'alt': 'partner-logo'} %}</li>
	<li class='ec-partner-card'>{% include 'atoms-logo' with {'link': '#', 'image': 'http://via.placeholder.com/350x150', 'alt': 'partner-logo'} %}</li>
	<li class='ec-partner-card'>{% include 'atoms-logo' with {'link': '#', 'image': 'http://via.placeholder.com/350x150', 'alt': 'partner-logo'} %}</li>
	<li class='ec-partner-card'>{% include 'atoms-logo' with {'link': '#', 'image': 'http://via.placeholder.com/350x150', 'alt': 'partner-logo'} %}</li>
	<li class='ec-partner-card'>{% include 'atoms-logo' with {'link': '#', 'image': 'http://via.placeholder.com/350x150', 'alt': 'partner-logo'} %}</li>
</ul>