<div class="topic_article-preview {{ class }}">
    {% include "atoms-title-label" with {'content': 'Topic Label', 'class': 'topic_article-preview_label'} %}
    {% include "atoms-landscape-3x2" with {'class': 'topic_article-preview_image'} %}
    {% include "molecules-link-black-h2" with {'content': 'Article One Title', 'class': 'topic_article-preview_title' }%}
    {% include "atoms-paragraph" with {'class': 'topic_article-preview_description'} %}
    {% include "molecules-article-metadata" with {'class': 'topic_article-preview_metadata'} %}
</div>