<div class="topic_article-preview">
    {% include "atoms-title-label" with {'content': 'Topic Label'} %}
        <img src="https://ipsumimage.appspot.com/1000x666?l=3:2|1000x666&s=36" alt="Placeholder image.">
        {% include "molecules-link-black-h2" with {'content' : 'Article One Title', 'class': 'topic_article-preview_title' }%}
        {% include "atoms-paragraph" %}
        <span>Date</span>
        |
        <span>Read time</span>
</div>