// Topic tools list.
.list_topic-tools {
  list-style: none;
  margin: 10px 0;
  padding: 0;

  // Each list item.
  .list_item-topic-tools {
    @include rule-horizontal(1px, $black-20, solid);
    clear: both;
    margin: 0;
    min-height: 60px;
    padding: 10px 0;

    &:first-of-type{
      @include rule-horizontal(1px, $gray-8, solid);
    }

    &:last-of-type {
      @include rule-horizontal-bottom(1px, $gray-8, solid);
    }
  }

  // Topic tools list link.
  a {
    &:hover {
      .list_topic-tools_title,
      .list_topic-tools_file-type,
      .list_topic-tools_file-size {
        @extend %text-transition;
        color: $blue;
      }

      .list_topic-tools_icon {
        @extend %icon-transition;
        fill: $blue;
      }
    }
  }

  // Topic tools list file icon.
  .list_topic-tools_icon {
    float: left;
    height: 40px;
    margin-right: 14px;
    vertical-align: -webkit-baseline-middle;
    width: 40px;
  }

  // Topic tools list title.
  .list_topic-tools_title {
    @extend %type-smaller;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: super;
  }

  // Topic tools list file type and size.
  .list_topic-tools_file-type,
  .list_topic-tools_file-size {
    @extend %type-smaller;
    display: inline-block;
    margin: 0 0 0 0.3em;
    vertical-align: super;
  }
}
