<div style="border: solid 5px orangered; margin-top: 2em; position: relative;">
    <span class="demo" style="position: absolute; color: orangered; text-transform: uppercase; top: -1.3em;">Organism</span>
    {% include "molecules-hero-article-preview" %}
    {% include "molecules-hero-article-preview-video" %}
</div>