.layout_item {
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: $black-7;
  color: $black;
  //margin-bottom: 20px;
  text-align: center;
  height: 100%;
}

.card-image-landscape {
  background-size: cover;
  background-position: center;
  //min-height: calc((100vw - 30px) / 3 * 2);

  @include breakpoint($bp-small) {
    //min-height: calc( (100vw - 40px - 80px) / 3 * 2 / 3 );
  }

  @include breakpoint($bp-med) {
    //min-height: calc( (100vw - 40px - 80px) / 3 * 2 / 4 );
  }
}

.card.card-image-landscape:hover {
  opacity: 0.8;
}

// @todo - this is repeating the "overlay" on other CTA elements.
// @todo - it should be an atom if this is the case.
// @todo - also probably shouldn't be specific to landscape cards.
.card-image-landscape .card-image-landscape_overlay {
  margin-top: auto;
  background-color: rgba(255, 255, 255, 0.45);
  padding: 24px 0 12px;

  * {
    margin: 0 24px;
  }
}

.card-image-landscape .card-image-landscape_title {
  @extend %type-larger;
}

.card-image-landscape .card-image-landscape_description {
  @include type($font-sans-serif, 18px, $font-weight-medium, 1.3888888889);

  @include breakpoint($bp-med) {
    @include type($font-sans-serif, 20px, $font-weight-medium, 1.3333333333);
  }
}

// Styling for image landscape cards when they're included in rows.

.layout_three_up-row > *,
.layout-four-up_row > * {
  @include breakpoint($bp-small max-width);
  margin-bottom: 24px;
}

.layout_three_up-row .card.card-image-landscape,
.layout-four-up_row .card.card-image-landscape
.layout-five-up-left .card.card-image-landscape{
  height: calc((100vw - 60px) * 2 / 3);
}

// Styling for an image landscape card when it's being included in a three-up row.

.layout_three_up-row .card.card-image-landscape {
  @include breakpoint($bp-small) {
    height: calc((100vw - 60px - 48px) * 2 / 3 / 3);
  }

  @include breakpoint($bp-large) {
    height: calc((1260px - 60px - 48px) * 2 / 3 / 3);
  }
}

// Styling for an image landscape card when it's being included in a four-up row.

.layout-four-up_row .card.card-image-landscape {
  @include breakpoint($bp-small) {
    height: calc((100vw - 60px - 24px) * 2 / 3 / 2);
  }

  @include breakpoint($bp-med) {
    height: calc((100vw - 60px - 24px - 24px - 18px) * 2 / 3 / 4);
  }

  @include breakpoint($bp-large) {
    height: calc((1260px - 60px - 24px - 24px - 18px) * 2 / 3 / 4);
  }
}