<a class="card card-image-landscape" style="background-image: url('https://ipsumimage.appspot.com/576x404?l=3:2|576x404&s=36')" href="#">
  <span class="card-image-landscape_overlay">
      {% include 'atoms-h2' with { 'class': 'card-image-landscape_title', 'content' : cardRowContent.title } %}
      {% include 'atoms-paragraph' with { 'class': 'card-image-landscape_description', 'content' : cardRowContent.content } %}
  </span>
</a>
