<a class="card card-image-landscape" style="background-image: url(../../assets/images/fpo_2x3.png)" href="#">
  {% include 'atoms-h2' with { 'class': 'card-image-landscape_title', 'content' : 'Leading Change' } %}
  {% include 'atoms-paragraph' with { 'class': 'card-image-landscape_description', 'content' : 'Over 300 Courses' } %}
</a>
