<section class="hero-banner hero-banner-cta-only">
  <div class="hero-banner-inner">
    {% include 'atoms-h1' with { 'content': 'Take Charge', 'class': 'hero-banner_title' } %}
    {% include 'atoms-paragraph' with { 'content': 'Gain an active voice on politics protecting patients and your profession.', 'class': 'hero-banner_desc' } %}
    <div class="hero-banner_button-container">
      {% include 'atoms-button-link' with { 'content': 'Join the AMA', 'class': 'button-small' } %}
    </div>
  </div>
</section>

{#
 # @file hero-banner-cta-only.twig
 # Copyright 2017 Palantir.net, Inc.
 #}
