<section class="hero-banner" style="background-image: url(../../assets/images/fpo_16x9.png)">
  <div class="hero-banner-inner">
    {% include 'atoms-h1' with { 'content': heroContent.heading ? heroContent.heading : 'Lorem ipsum dolor sit amet', 'class': 'hero-banner_title' } %}
    {% include 'atoms-paragraph' with { 'content': heroContent.content ? heroContent.content : 'Gain an active voice on politics protecting patients and your profession.', 'class': 'hero-banner_desc' } %}
    <div class="hero-banner_button-container">
      {% include 'atoms-button-link' with { 'content': heroContent.buttonText ? heroContent.buttonText : 'Join the AMA', 'class': 'button-small' } %}
    </div>
  </div>
</section>

