<div class="topic-articles_article-preview-video">
    {% include "atoms-title-label" with {'content': 'Topic Label'} %}
    {% include "atoms-video-youtube" %}
    {% include "molecules-link-black-h2" with {'content' : 'Article Title', 'class': 'topic_article-preview_title' }%}
    {% include "atoms-paragraph" with {'class' : 'topic_article-preview_description'} %}
    {% include "molecules-article-metadata" %}
</div>