.topic {
  @include grid();
}

// Set mobile order.
.topic_rail-left {
  order: 2;
  @include breakpoint($bp-med) {
    order: 1;
  }
}

.topic_content {
  order: 1;
  @include breakpoint($bp-med) {
    @include grid-_unit--cols(6);
    order: 2;
  }
}

.topic_rail-right {
  order: 3;
}