// Set mobile order.
.topic .grid-region {

  .grid-region_content:not(:first-child){
    @include gutter($padding-top-full...);
  }

  // First column.
  &:nth-child(1n) {
    order: 2;
    @include breakpoint($bp-med) {
      order: 1;
    }
  }

  // Center column
  &:nth-child(2n) {
    order: 1;
    @include breakpoint($bp-med) {
      @include grid__unit--cols(6);
      order: 2;
    }
  }

  // Last column.
  &:nth-child(3n) {
    order: 3;
  }
}

// Style the topic labels for each section consistently.
.topic .title-label {
  margin-bottom: 0;
  line-height: 1.38889;
  @include gutter($padding-bottom-half...);
  @include rule-horizontal-bottom(1px, $black-20, solid);
}

.topic .topic_hero .title-label {
  border: 0;
  padding-bottom: 0;
}

// Enforce aspect ratios.
.topic_article-preview img {
  width: 100%;
}