<header>
  {% include 'organisms-ribbon' %}
</header>

<main class="topic layout">
  <aside class="topic_rail-left">
    {% include 'organisms-tools' %}
  </aside>
  <section class="topic_content">
    {% include "organisms-topic-hero-section" %}
  </section>
  <section class="topic_rail-right">
      Right rail content
  </section>
</main>

{% include 'organisms-footer' %}