<header>
  {% include 'organisms-ribbon' %}
</header>

<main class="topic container-centered">
  <div class="grid-container">
    <aside class="topic_rail-left grid-cell">
      {% include 'organisms-tools' %}
    </aside>

    <section class="topic_content grid-cell">
      {% include "organisms-topic-hero-section" %}
      {% include 'molecules-block-cta-with-list' with {'block.list': topicList} %}
      <aside class="row-nested grid-container grid-cell">
        <div  class="row-nested-item grid-cell">
          {% include 'organisms-tools' %}
        </div>
        <div  class="row-nested-item grid-cell">
          {% include 'organisms-tools' %}
        </div>
      </aside>
    </section>

    <aside class="topic_rail-right grid-cell">
      {% include 'molecules-block-cta-with-list' with {'block.list': topicList} %}
    </aside>
  </div>
</main>

{% include 'organisms-footer' %}