<header>
  {% include 'organisms-ribbon' %}
</header>

<main class="topic">
  <aside class="topic_rail-left"></aside>
  <section class="topic_content"></section>
  {% include 'organisms-topic-rail-right' with {'topicList': topic.list } %}
</main>

{% include 'organisms-footer' %}