<header>
  {% include 'organisms-ribbon' %}
</header>

<main class="topic container">
  <div class="grid">
    <aside class="topic_rail-left col-width-3 grid-region">
      {% include 'organisms-topic-tools' %}
        <div class="topic-articles layout">
            {# Use existing atoms for these? #}
            <div class="topic-articles_article-preview">
                {% include 'atoms-landscape-3x2' %}
                {% include "atoms-title-label" with {'content': 'Topic Label'} %}
                {% include "molecules-link-black-h2" with {'content' : 'Article Title', 'class': 'topic_article-preview_title' }%}
                {% include "atoms-paragraph" with {'class' : 'topic_article-preview_description'} %}
                {% include "molecules-article-metadata" %}
            </div>
            <div class="topic-articles_article-preview-video">
                {% include 'atoms-landscape-3x2' %}
                {% include "atoms-title-label" with {'content': 'Topic Label'} %}
                {% include "molecules-link-black-h2" with {'content' : 'Article Title', 'class': 'topic_article-preview_title' }%}
                {% include "atoms-paragraph" with {'class' : 'topic_article-preview_description'} %}
                {% include "molecules-article-metadata" %}
            </div>
        </div>
    </aside>

    <section class="topic_content col-width-6 grid-region">
      {% include 'organisms-topic-hero' %}
    </section>

    <aside class="topic_rail-right col-width-3 grid-region">
      {% include 'organisms-topic-membership' %}
    </aside>
  </div>
</main>

{% include 'organisms-footer' %}
