<header>
  {% include 'organisms-ribbon' %}
</header>

<main class="topic">
  <aside class="topic_rail-left"></aside>
  <section class="topic_content"></section>
  <aside class="topic_rail-right"></aside>
</main>

{% include 'organisms-footer' %}