<header>
  {% include 'organisms-ribbon' %}
</header>

<main class="topic container">
  <div class="grid">
    <aside class="topic_rail-left col-width-3 grid-region">
      {% include 'organisms-tools' %}
    </aside>

    <section class="topic_content col-width-6 grid-region">
      {% include "organisms-topic-hero-section" %}
      {% include 'molecules-block-cta-with-list' with {'block.list': topicList} %}
      <section class="grid grid-region-nested">
        <div class="col-width-6">
          {% include 'organisms-tools' %}
        </div>
        <div class="col-width-6">
          {% include 'organisms-tools' %}
        </div>
      </section>
    </section>

    <aside class="topic_rail-right col-width-3 grid-region">
      {% include 'molecules-block-cta-with-list' with {'block.list': topicList} %}
    </aside>
  </div>
</main>

{% include 'organisms-footer' %}