<header>
  {% include 'organisms-ribbon' %}
</header>

<main class="topic">
  <section class="topic_rail-left"></section>
  <section class="topic_content"></section>
  {% include 'organisms-topic-rail-right' %}
</main>

{% include 'organisms-footer' %}