<header>
  {% include 'organisms-ribbon' %}
</header>

<main class="topic">
  <section class="topic_rail-left" style="width: 30%;">
      Left rail content
  </section>
  <section class="topic_content" style="width: 60%;">
      {% include "organisms-topic-hero-section" %}
  </section>
  <section class="topic_rail-right" style="width: 30%;">
      Right rail content
  </section>
</main>

{% include 'organisms-footer' %}