<header>
  {% include 'organisms-ribbon' %}
</header>

<main class="topic container">
  <div class="grid grid-margin">
    <div class="topic_top grid-region">
      {% include 'atoms-page-title' %}
    </div>
  </div>

  <div class="topic_main grid-margin">
    <aside class="topic_rail-left grid-region">
      {% include 'organisms-topic-tools' with { 'class': 'grid-region_content', 'editor': editing } %}
      {% include 'organisms-topic-promotion' with { 'class': 'grid-region_content' } %}
      {% include 'organisms-topic-topic-articles' with { 'class': 'grid-region_content' } %}
    </aside>

    <section class="topic_content grid-region">
      {% include 'organisms-topic-hero' with { 'class': 'grid-region_content', 'editor': editing } %}
      {% include 'organisms-topic-related-articles' with { 'class': 'grid-region_content' } %}
    </section>

    <section class="topic_rail-topic-membership-right grid-region">
    {% include 'organisms-topic-membership' with { 'class': 'grid-region_content', 'editor': editing } %}
    </section>

    <section class="topic_related-content-right grid-region">
      {% include 'organisms-topic-related-content-list' with { 'class': 'grid-region_content' } %}
    </section>
  </div>
</main>

{% include 'organisms-footer' %}
