<section class="list-block-promo">
    {% include 'block-promo.twig' with { 'content': 'Promo Block Purple', 'block_class_color': 'block-promo-purple'} %}
    {% include 'block-promo.twig' with { 'content': 'Promo Block Orange', 'block_class_color': 'block-promo-orange'} %}
    {% include 'block-promo.twig' with { 'content': 'Promo Block Red', 'block_class_color': 'block-promo-red'} %}
</section>