<div class="form-item form-item-password">
  <label class="form-item_label" for="password">Password</label>
  {% include 'atoms-password-field' with { 'content': 'Password' } %}
  <span class="form-item_password"></span>
  <span class="form-item_info hint" data-hint="Passwords should be 8-32 characters, including letters and numbers."></span>
</div>
