<div class="form-item form-item-password">
  <label class="form-item_label" for="password">Password</label>
  {% include 'atoms-password-field' with { 'content': 'Password' } %}
  <span class="form-item_password"></span>
</div>
