<div class="form-item">
  <label class="form-item_label" for="name">{{ content|default('Full name *') }}</label>
  {% include 'atoms-text-field' with { 'for': 'name', 'content': 'Full name *' } %}
</div>
