<div class="category-highlights grid">
		<div class="category-highlight col-width-4">
		  {% include 'molecules-category-highlight-image' %}
		</div>
		<div class="category-highlight col-width-4">
		  {% include 'molecules-category-highlight-image' %}
		</div>
		<div class="category-highlight col-width-4">
		  {% include 'molecules-category-highlight-image' %}
		</div>
</div>
