.ec > *:not(:first-child) {
  margin-top: 36px;
}

.ec_hero {
  @include breakpoint($bp-small max-width) {
    margin: 0;
    padding: 0;
  }
}

// Styling for no-image cards when they're included on an EC page.
.ec .card-cta_title.card-cta_title-no-border {
  border: 0;
  padding-bottom: 0;
}

// Styling for the text cards section.
.ec_cards-text {
  text-align: center;
}

// Styling for the course bundle cards section.
@include breakpoint($bp-med max-width) {
  .ec_cards-course-bundle {
    margin-bottom: 24px;
  }

  .ec_cards-course-bundle .layout,
  .ec_course-browser .layout {
    padding: 0;
  }

  .ec-card-course-bundle {
    margin-bottom: 0;
  }

  .ec_cards-course-bundle .layout_item {
    min-height: initial;
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }

  .ec_cards-course-bundle .layout_item:nth-child(even) .ec-card-course-bundle {
    background: white;
  }
}

.ec_cards-course-bundle > h2 {
  text-align: center;
}

.ec .tabs-course_browser_label,
.ec_cards-course-bundle > h2 {
  max-width: 1200px;
  border-top: solid 1px $black-20;
  padding-top: 36px;
  margin: 25px auto;
  margin-top: 60px;
}

.ec .testimonial,
.ec .banner-cta-no-stacking {
  @include breakpoint($bp-med) {
    border-top: solid 1px $black-20;
    padding-top: 60px;
  }
}

.ec .banner-cta-no-stacking { // not ideal, but temporary until the partner logo row layout can be fixed.
  border-bottom: solid 1px $black-20;
  padding-bottom: 60px;
}
