{% include 'organisms-ribbon' %}
{% include '02-organisms/05-ec/01-search-bar/search-bar.twig' %}

{# Some type of hero #}
<div class="layout layout-one-up">
  {% include 'molecules-hub-hero-no-overlay' %}
</div>

{# begin the next section #}
<section class="ec-section">



</section>

{% include 'organisms-footer' %}