{% include 'organisms-ribbon' %}
{% include '02-organisms/05-ec/01-search-bar/search-bar.twig' %}

{# Some type of hero #}
<div class="layout layout-one-up">
  {% include 'molecules-hub-hero-no-overlay' %}
</div>

{# begin the next section #}
<section class="ec-section">

<div class="layout layout_five-up-left">
  <div class="layout_five-up-left-primary">
    <div class='layout_five-up-left-item'>5-up</div>
  </div>
  <div class="layout_five-up-left-secondary">
    <div class='layout_five-up-left-item'>5-up</div>
    <div class='layout_five-up-left-item'>5-up</div>

  </div>
  <div class="layout_five-up-left-secondary">
    <div class='layout_five-up-left-item'>5-up</div>
    <div class='layout_five-up-left-item'>5-up</div>
  </div>

</section>

{% include 'organisms-footer' %}