{% include 'organisms-ribbon' %}
    {% include '02-organisms/05-ec/01-ec-search-bar/ec-search-bar.twig' %}

{# hero #}
<div class="layout layout-one-up">
  {% include 'molecules-hub-hero-no-overlay' with {'heroContent': heroContent} %}
</div>

{# card section #}
<section class="ec-section">
    {#{% include 'organisms-card-row-ec-five-up-left'%}#}
    {% include 'organisms-card-row-ec-four-up' with {'cardType': 'landscape'} %}
    {#{% include 'organisms-card-row-ec-three-up' with {'cardType': 'landscape'} %}#}
</section>

{% include 'organisms-card-row-ec-four-up' with {'cardType': 'text'} %}

{% include 'organisms-footer' %}