<div class="alert alert-success">
	<div class="container">
		<div class="alert_container">
			{% include '11-valid.twig' %}
			<p class="alert_message">Success Lorem ipsum dolor set amet. Please try again.</p>
			<a class="alert_close" href="#">{% include '04-close.twig' %}</a>
		</div>
	</div>
</div>