<a class="ec-bundle-card" href="#">
	<div class="ec-bundle-card_image">
		{% include 'atoms-landscape-3x2' %}
</div>
  <div class="ec-bundle-card_text">
	  {% include 'atoms-h2' with { 'class': 'ec-bundle-card_title', 'content' : 'Course Bundle Title Course Bundle Title' } %}
	  {% include 'atoms-paragraph' with { 'class': 'ec-bundle-card_desc', 'content' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.' } %}
  </div>
</a>