// Placeholder blocks in layout molecules.
.layout_container {
  display: block;
  background-color: $black-7;
  margin-bottom: 1em;
  padding: 2em;
  text-align: center;
}

// Layout default setup.
.layout {
  @include grid();
}

.flexbox .layout.layout-four-up {
  @include grid__unit--cols(12);
  justify-content: flex-start;
  }

.layout-four-up_row {
  @include grid();
  width: 100%;

  @include breakpoint($bp-med) {
    @include grid__unit--cols(6);
  }

  .layout-four-up_primary,
  .layout-four-up_secondary,
  .layout-four-up_tertiary,
  .layout-four-up_quaternary {
    @include grid__unit--cols(12);

    @include breakpoint($bp-small) {
      @include grid__unit--cols(6);
    }

    @include breakpoint($bp-med) {
      @include grid__unit--cols(6);
      margin: 0 12px;
    }
  }

  .layout-four-up_primary,
  .layout-four-up_tertiary {
    @include breakpoint($bp-small) {
      margin-right: 12px;
    }
  }

  .layout-four-up_secondary,
  .layout-four-up_quaternary {
    @include breakpoint($bp-small) {
      margin-left: 12px;
    }
  }

  .layout-four-up_primary {
    @include breakpoint($bp-med) {
      margin-left: 0;
    }
  }

  .layout-four-up_quaternary {
    @include breakpoint($bp-med) {
      margin-right: 0;
    }
  }
}

.flexbox .layout-four-up_row {
  @include breakpoint($bp-small) {
    flex-wrap: nowrap;
  }
}