/**
 * @file layout-two-up-heavy-left.scss
 *
 * Copyright 2017 Palantir.net, Inc.
 */

// Placeholder blocks in layout molecules.
.layout_container {
  display: block;
  margin-bottom: 1em;
  padding: 2em;
  text-align: center;
}

.layout-example .layout_container {
  background-color: $black-7;
}

// Layout default setup.

.layout_two_up-heavier-left-primary {
  @include grid__unit--cols(12);

  @include breakpoint($bp-small) {
    @include grid__unit--cols(7.5);
    padding-right: 15px;
  }

  @include breakpoint($bp-med) {
    @include grid__unit--cols(9);
  }
}

.layout_two_up-heavier-left-secondary {
  @include grid__unit--cols(12);

  @include breakpoint($bp-small) {
    @include grid__unit--cols(4.5);
    padding-right: 15px;
  }

  @include breakpoint($bp-med) {
    @include grid__unit--cols(3);
  }
}
