<div class="tabs">
  <ul class="tab_list">
    <li class="tab_list-item"><a href="{{ url }}" class="tab_list_link-active">Tab 1</a></li>
    <li class="tab_list-item"><a href="{{ url }}">Tab 2</a></li>
    <li class="tab_list-item"><a href="{{ url }}">Tab 3</a></li>
  </ul>
</div>