<article class="banner-cta-half banner-cta-half-left">
  <div class="banner-cta_image" style="background-image: url(../../assets/images/fpo_3x2.png)">
  </div>
  <div class="banner-cta-half-text">
    {% include 'atoms-h1' with { 'content': 'Lorem ipsum dolor sit amet', 'class': 'banner-cta_title' } %}
    <ul class="banner-cta_desc">
      <li>This is a list item in an unordered list</li>
      <li>An unordered list is a list in which the sequence of items is not important.</li>
      <li>Lists can be nested inside of each other</li>
      <li>This is the last list item</li>
    </ul>
    {% include 'atoms-button-link-secondary' with { 'content': 'Join the AMA', 'class': 'button-small' } %}
  </div>
</article>

{#
 # @file banner-cta-half.twig
 # Copyright 2017 Palantir.net, Inc.
 #}
