<div class="banner-cta-no-stacking">
    {% include 'atoms-h2' with { 'content': ctaBanner.heading ? ctaBanner.heading : 'Lorem ipsum dolor sit amet', 'class': 'banner-cta-no-stacking_title h1' } %}
    <div class="banner-cta-no-stacking_image" style="background-image: url(' {{ ctaBanner.image ? ctaBanner.image : '../../assets/images/fpo_3x2.png' }}');"></div>
    <div class="banner-cta-no-stacking_text">
        {% include 'atoms-paragraph' with { content: ctaBanner.content ? ctaBanner.content : 'Dolor posuere tempor quam et, maecenas auctor hac urna ac eu, sed in.' } %}
        {% include 'atoms-button-link' with { content: ctaBanner.buttonText ? ctaBanner.buttonText : 'CTA button', class: 'button-small banner-cta-no-stacking_button' } %}
    </div>
</div>