<div class="banner-cta-no-stacking banner-cta-no-stacking-left">
    {% include 'atoms-h2' with { 'content': ctaBanner.heading, 'class': 'banner-cta-no-stacking_title h1' } %}
    <div class="banner-cta-no-stacking_image" style="background-image: url(' {{ ctaBanner.image }}');"></div>
    <div class="banner-cta-no-stacking_text">
        {% include 'atoms-paragraph' with { content: ctaBanner.content } %}
        {% include 'atoms-button-link' with { content: ctaBanner.buttonText, class: 'button-small banner-cta-no-stacking_button' } %}
    </div>
</div>