<article class="banner-cta-no-stacking banner-cta-no-stacking-left">
    {% include 'atoms-h1' with { 'content': 'Lorem ipsum dolor sit amet', 'class': 'banner-cta-no-stacking_title' } %}
    <div class="banner-cta-no-stacking_image" style="background-image: url(../../assets/images/fpo_3x2.png)"></div>
    <div class="banner-cta-no-stacking_text">
        {% include 'atoms-paragraph' with { content: 'Dolor posuere tempor quam et, maecenas auctor hac urna ac eu, sed in.' } %}
        {% include 'atoms-button-link' with { content: 'Dolor', class: 'button-small banner-cta-no-stacking_button' } %}
    </div>
</article>