// Placeholder blocks in layout molecules.
.layout_container {
  display: block;
  margin-bottom: 1em;
  padding: 2em;
  text-align: center;
}

.layout-example .layout_container {
  background-color: $black-7;
}
// Layout default setup.

.flexbox {
  .layout.layout_five-up-left {
    @include grid__unit--cols(12);
    justify-content: space-between;
  }

  //.layout_five-up-left-primary,
  //.layout_five-up-left-secondary {
  //  @include grid__unit--cols(12);
  //  @include breakpoint($bp-small $bp-med) {
  //    @include grid__unit--cols(4);
  //  }
  //}

  //.layout_five-up-left-primary {
  //  @include breakpoint($bp-med) {
  //    @include grid__unit--cols(6);
  //    padding-right: 15px;
  //  }
  //  .layout_five-up-left-item {
  //    height: calc(100% - 1em);
  //  }
  //}

  //.layout_five-up-left-secondary {
  //  @include breakpoint($bp-med) {
  //    @include grid__unit--cols(3);
  //    padding-left: 15px;
  //  }
  //}

  //.layout_five-up-left {
  //  @include breakpoint(0 $bp-med) {
  //    .layout_five-up-left-item:nth-child(n+2){
  //      display: none;
  //    }
  //  }
  //
  //  @include breakpoint($bp-small $bp-med) {
  //    .layout_five-up-left-item {
  //      margin-right: 1em;
  //    }
  //  }
  //}

  .layout.layout_five-up-left {
    flex-direction: column;

    @include breakpoint($bp-small) {
      flex-direction: row;
    }

    @include breakpoint($bp-med) {
      flex-direction: column;
      height: 300px;
    }
  }

  .layout.layout_five-up-left .layout_item {
    @include breakpoint($bp-small $bp-med) {
      width: 100%;
      max-width: calc((100vw - 40px - 40px) / 3); // override max-width using a calc to avoid setting gutters. https://css-tricks.com/dont-overthink-flexbox-grids/
    }

    @include breakpoint($bp-med) {
      width: calc(25% - 20px);
      flex-grow: 1;
    }
  }

  .layout.layout_five-up-left .layout_item:first-child {
    @include breakpoint($bp-med) {
      width: 50%;
      flex-basis: 300px;
    }
  }

  .layout.layout_five-up-left .layout_item-visible-desktop {
    @include breakpoint($bp-med max-width) { // 900px
      display: none;
    }
  }
}
