
// Layout default setup.

.layout.layout_five-up-left {
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 24px;

  @include breakpoint($bp-small) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  @include breakpoint($bp-med) {
    flex-direction: row;
  }

  @include breakpoint($bp-large) {
    flex-direction: row;
    max-width: 1260px;
  }
}

.layout.layout_five-up-left .layout_item {
  position: relative; // @todo - all of these in all layouts should be position:relative (for landscape cards)
  overflow: hidden;

  @include breakpoint($bp-small max-width) {
    height: calc((100vw - 40px) * 2 / 3);
    margin-bottom: 24px;
  }

  @include breakpoint($bp-small $bp-med) {
    //height: calc((100vw - 60px - 48px) * 2 / 3 / 3);
    height: auto;
    overflow: visible;
  }
}

.layout.layout_five-up-left .layout_item.layout_item-container {
  display: flex;
  padding: 0;
  background: transparent;
  height: auto;

  @include breakpoint($bp-small max-width) {
    flex-direction: column;
    margin-bottom: 0;
  }

  @include breakpoint($bp-small) {
    //flex-basis: calc(66.6666666667vw - 24px);
    justify-content: space-between;
  }

  @include breakpoint($bp-med) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: calc(((100vw / 2) - 24px) * 2 / 3); // attempt to calc. the height needed for the first item to be 3:2.
    flex-basis: calc((100vw - 36px - 48px) / 2);
  }

  @include breakpoint($bp-large) {
    height: calc(((1260px / 2) - 24px) * 2 / 3); // attempt to calc. the height needed for the first item to be 3:2.
    flex-basis: calc((1260px - 36px - 48px) / 2);

  }
}

.layout_five-up-left .layout_item-container .layout_item {
  @include breakpoint($bp-med) {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 24px;

    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
}

.layout.layout_five-up-left > .layout_item:first-child {
  @include breakpoint($bp-small) {
    //flex-basis: calc(((100vw / 3) - 36px));
    //flex-basis: calc(((100vw / 3) - 22px));
  }

  @include breakpoint($bp-med) {
    margin-bottom: 0;
    height: calc(((100vw / 2) - 24px) * 2 / 3); // attempt to calc. the height needed for the first item to be 3:2.
    flex-basis: calc((100vw - 36px - 48px) / 2);
  }

  @include breakpoint($bp-large) {
    height: calc(((1260px / 2) - 24px) * 2 / 3); // attempt to calc. the height needed for the first item to be 3:2.
    flex-basis: calc((1260px - 36px - 48px) / 2);
  }
}

// Layout adjustments to landscape cards when they're included in a five-up layout at the medium breakpoint.

@include breakpoint($bp-small $bp-med) {
  .layout_five-up-left .card-image-landscape {
    margin: 0 -12px;
    padding: 0 24px;
    width: auto;
  }

  .layout_five-up-left .card-image-landscape_overlay {
    //width: calc(100% - 48px);
    background: $black-7;
    padding: 12px 0;
  }
}

@include breakpoint($bp-med) {
  .layout.layout_five-up-left > .layout_item:first-child .card-image-landscape_image {
    min-height: 100%;
    width: auto;
  }

  .layout_five-up-left .layout_item-container .card-image-landscape_image {
    width: 100%;
    height: 100%;
  }
}