<div class="topic_topic-articles {{ class }}">
    {% include 'molecules-article-preview' with { 'class': default } %}
    {% include 'molecules-article-preview-video' with { 'class': default }  %}
</div>