{% include 'organisms-ribbon' %}
{% include 'organisms-header-primary' %}
<section class="search_modal">
  {% include 'organisms-search_modal' %}
</section>

<div class="layout">
  <h1>Life &amp; Career</h1>
</div>

{#
 # @file life-career.twig
 # Copyright 2017 Palantir.net, Inc.
 #}
