<a href="{{ url }}" class="layout layout_related-content_item related-content_item">
  <div class="layout_related-content_item_left related-content_item_block">
    {% include 'atoms-h5' with { 'content': 'Lorem Ipsum', 'class': 'related-content_item_label' } %}
    {% include 'atoms-h3' with { 'content': 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.', 'class': 'related-content_item_title' } %}
  </div>
  <div class="layout_related-content_item_right related-content_item_image">
    {% include 'atoms-landscape-3x2' %}
  </div>
</a>
