<header class="header-primary" role="banner">
  <div class="header-primary-inner">
    {% include 'atoms-logo' %}
    {% include 'molecules-primary-nav' %}
    {% include 'atoms-button-search' %}
  </div>
</header>
