<div class="layout layout_two_up-wrap search-results-columns">

    {% include 'molecules-search-results-external' %}
    {% include 'molecules-search-results-external' %}
    {% include 'molecules-search-results-external' %}

    {% include 'molecules-search-results-external' %}
    {% include 'molecules-search-results-external' %}
    {% include 'molecules-search-results-external' %}

</div>

{#
 # @file search-results-columns.twig
 # Copyright 2017 Palantir.net, Inc.
 #}