<div style="border: solid 5px palevioletred;">
    Molecule - variant
    <div>
        Title
        {% include "paragraph" %}
        date
        {% include "atoms-video-youtube" %}

    </div>
</div>