<div style="border: solid 5px palevioletred; margin-top: 2em; position: relative;">
    <span class="demo" style="position: absolute; color: palevioletred; text-transform: uppercase; top: -1.3em;">Molecule: Variant</span>
        {% include "atoms-h2" with {'content': 'Article Two Title'}%}
        {% include "atoms-paragraph" %}
        <span>Date</span>
        {% include "atoms-video-youtube" %}
</div>