<div class="table">

  {% include 'atoms-h5' with { 'content': 'Lorem Ipsum Dolor Amet Consectetur Adipiscing', 'class': 'table-header_title' } %}

  <table>
    <thead>
      <tr>
        <th>Heading 1</th>
        <th>Heading 2</th>
        <th>Heading 3</th>
        <th>Heading 4</th>
        <th>Heading 5</th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd">
        <td>Row 1, Col 1</td>
        <td>Row 1, Col 2</td>
        <td>Row 1, Col 3</td>
        <td>Row 1, Col 4</td>
        <td>Row 1, Col 5</td>
      </tr>
      <tr class="even">
        <td>Row 2, Col 1</td>
        <td>Row 2, Col 2</td>
        <td>Row 2, Col 3</td>
        <td>Row 2, Col 4</td>
        <td>Row 2, Col 5</td>
      </tr>
      <tr class="odd">
        <td>Row 3, Col 1</td>
        <td>Row 3, Col 2</td>
        <td>Row 3, Col 3</td>
        <td>Row 3, Col 4</td>
        <td>Row 3, Col 5</td>
      </tr>
      <tr class="even">
        <td>Row 4, Col 1</td>
        <td>Row 4, Col 2</td>
        <td>Row 4, Col 3</td>
        <td>Row 4, Col 4</td>
        <td>Row 4, Col 5</td>
      </tr>
    </tbody>
  </table>
  {% include 'atoms-link' with {'class': 'table-link-enlarge' } %}
  {% include 'atoms-caption' with {'class': 'table-caption' }  %}

</div>

