<div class="topic_related-content-image">
  {% include 'atoms-h5' with { 'content': 'Lorem ipsum', 'class': 'topic_related-content_title topic_related-content-image_title' } %}
  {% include 'molecules-list-topic-related-content-image' %}
</div>
