<div class="layout layout-three-up">
  <div class="layout_item layout_three_up-primary">{% include 'molecules-card-image-landscape' %}</div>
  <div class="layout_item layout_three_up-secondary">{% include 'molecules-card-image-landscape' %}</div>
  <div class="layout_item layout_three_up-tertiary">{% include 'molecules-card-image-landscape' %}</div>
</div>
