<div class="layout layout_three_up">
  <div class="layout_three_up-row">
    <div class="layout_item layout_three_up-primary">
      {% include 'molecules-card-image-landscape' %}
    </div>
    <div class="layout_item layout_three_up-secondary">
      {% include 'molecules-card-image-landscape' %}
    </div>
    <div class="layout_item layout_three_up-tertiary">
      {% include 'molecules-card-image-landscape' %}
    </div>
  </div>
</div>