<div class="layout layout-four-up">
  <div class="layout-four-up_row">
    <div class="layout_item layout-four-up_primary">
      {% include 'molecules-card-image-landscape' %}
    </div>
    <div class="layout_item layout-four-up_secondary">
      {% include 'molecules-card-image-landscape' %}
    </div>
    <div class="layout_item layout-four-up_tertiary">
      {% include 'molecules-card-image-landscape' %}
    </div>
    <div class="layout_item layout-four-up_quaternary">
      {% include 'molecules-card-image-landscape' %}
    </div>
  </div>
</div>