
<div class="layout layout-four-up">
    {#<div class="layout_item">{% include 'molecules-card-image-landscape' with {'cardRowContent': cardRowContent.CARDTYPE.first} %}</div> #}
    <div class="layout_item">{% include 'molecules-card-image-landscape' with {'cardRowContent': cardRowContent.cardType.first} %}</div>
    <div class="layout_item">{% include 'molecules-card-image-landscape' with {'cardRowContent': cardRowContent.cardsLandscape.second} %}</div>
    <div class="layout_item">{% include 'molecules-card-image-landscape' with {'cardRowContent': cardRowContent.cardsLandscape.third} %}</div>
    <div class="layout_item">{% include 'molecules-card-image-landscape' with {'cardRowContent': cardRowContent.cardsLandscape.fourth} %}</div>
</div>

