<div class="layout layout-four-up">
    <div class="layout_item">{% include 'molecules-card-image-landscape' %}</div>
    <div class="layout_item">{% include 'molecules-card-image-landscape' %}</div>
    <div class="layout_item">{% include 'molecules-card-image-landscape' %}</div>
    <div class="layout_item">{% include 'molecules-card-image-landscape' %}</div>
</div>