<div class="layout layout_five-up-left">
  <div class="layout_item">{% include 'molecules-card-image-landscape' %}</div>
  <div class="layout_item layout_item-container">
    <div class="layout_item">{% include 'molecules-card-image-landscape' %}</div>
    <div class="layout_item">{% include 'molecules-card-image-landscape' %}</div>
    <div class="layout_item layout_item-visible-desktop">{% include 'molecules-card-image-landscape' %}</div>
    <div class="layout_item layout_item-visible-desktop">{% include 'molecules-card-image-landscape' %}</div>
  </div>
</div>
