<div class="layout layout_five-up-left">
  <div class="layout_item">{% include 'molecules-card-image-landscape' with {'cardRowContent': cardRowContent.landscapeCards.first} %}</div>
  <div class="layout_item layout_item-container">
    <div class="layout_item">{% include 'molecules-card-image-landscape' with {'cardRowContent': cardRowContent.landscapeCards.second} %}</div>
    <div class="layout_item">{% include 'molecules-card-image-landscape' with {'cardRowContent': cardRowContent.landscapeCards.third} %}</div>
    <div class="layout_item">{% include 'molecules-card-image-landscape' with {'cardRowContent': cardRowContent.landscapeCards.fourth} %}</div>
    <div class="layout_item">{% include 'molecules-card-image-landscape' with {'cardRowContent': cardRowContent.landscapeCards.fifth}  %}</div>
  </div>
</div>