
/* @todo | This should probably not be named after the
 * @todo | EC if we want cards to be reusable in other sections.
 */
.ec-section .layout_five-up-left-primary a.card-image-landscape {
  @include breakpoint($bp-large) {
    height: 100%;
  }
}

// Styling for the three-up layout when it's being used in an EC card row.

.layout_three_up-primary,
.layout_three_up-secondary,
.layout_three_up-tertiary {
  @include breakpoint($bp-small) {
    @include grid__unit--cols(4);
    margin: 0 12px;
  }
}

.flexbox .layout_three_up-primary,
.flexbox .layout_three_up-secondary,
.flexbox .layout_three_up-tertiary {
  @include breakpoint($bp-small) {
    flex-basis: calc((100% - 48px) / 3);
    max-width: calc((100% - 48px) / 3);
    padding: 0;
  }

  @include breakpoint(1260px) {
    flex-basis: calc((1260px - 60px - 48px) / 3);
    max-width: calc((1260px - 60px - 48px) / 3);
  }
}

.layout_item.layout_three_up-primary {
  margin-left: 0;
}

.layout_three_up-tertiary {
  margin-right: 0;
}

// Styling for cards when they're in a Four Up layout.

.layout-four-up .layout_item {
  @include breakpoint($bp-med) {
    margin-bottom: 0;
  }
}

.layout-four-up .card-image-landscape img {
  @include breakpoint($bp-med) {
    width: 100%;
    height: 100%;
  }
}

.layout_five-up-left .card-image-landscape,
.layout_three_up .card-image-landscape {
  @include breakpoint($bp-small $bp-med) {
    display: flex;
    flex-direction: column;
  }
}

.layout_five-up-left .card-image-landscape_overlay,
.layout_three_up .card-image-landscape_overlay {
  @include breakpoint($bp-small $bp-med) {
    position: relative;
    background: $black-7;
    flex-grow: 1;
    padding: 12px 0;
  }
}