<div class="topic_article-preview topic_hero_article-preview-video">
    {% include "molecules-link-black-h2" with {'content' : 'Article Two Title', 'class': 'topic_article-preview_title' }%}
    {% include "atoms-paragraph" %}
    {% include "molecules-article-metadata" with { 'readtime' : '6 min play time' } %}
    {% include "atoms-video-youtube" %}
</div>