.hub-cta-half {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $black-7;

  @include breakpoint(600px) {
    flex-direction: row-reverse;
  }
}

.hub-cta-half-left {
  @include breakpoint(600px) {
    flex-direction: row;
  }
}

.hub-cta-half-text {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;

  .button {
    width: 100%;
    margin-top: auto;
  }

  @include breakpoint(600px) {
    width: 50%;
  }
}

.hub-cta_title {
  @include type($font-sans-serif, 28px, $font-weight-thin, 1.1428571429);
  margin-bottom: 8px;
  
  @include breakpoint($bp-med-home min-width) {
    @include type($font-sans-serif, 38px, $font-weight-thin, 1.1052631579);
  }
  @include breakpoint($bp-large-home min-width) {
    @include type($font-sans-serif, 46px, $font-weight-thin, 1.0869565217);
  }
}

.hub-cta_desc {
  @include type($font-sans-serif, 18px, $font-weight-medium, 1.3888888889);
  margin-bottom: 12px;

  @include breakpoint($bp-med) {
    @include type($font-sans-serif, 20px, $font-weight-medium, 1.3333333333);
  }
}

.hub-cta_image {
  padding: 30px 20px;
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(((100vw -  40px) / 3) * 2);

  @include breakpoint(600px) {
    min-height: calc((((100vw -  42px) / 2) / 3) * 2);
    width: 50%;
  }

  @include breakpoint($bp-large) {
    min-height: 400px;
  }
}
