{# Conditionally checks the current year to automatically update the copyright range. #}
{% set startYear = 1995 %}
{% set currentYear = "now"|date("Y") %}

{% if startYear == currentYear %}
    {% set copyrightYears = startYear %}
{% else %}
    {% set copyrightYears = startYear ~ ' - ' ~ currentYear %}
{% endif %}

<div class="footer_text-copyright">Copyright {{ copyrightYears }} American Medical Association. All rights reserved.</div>