<p class="caption {{ class }}">{{ content|default('Bacon ipsum dolor amet minim biltong culpa mollit brisket labore porchetta. Turkey porchetta magna, do doner burgdoggen aute excepteur nisi sint pancetta ipsum ea. Frankfurter burgdoggen pastrami eiusmod in.') }}</p>
