<div class="topic_promotion grid-region_content">
    {% set tag = promo.cta ? 'div': 'a' %}
    <{{tag}} class="topic_promotion_container" href="#">
    {% include 'atoms-logo' with {'link': '#', 'image': 'https://ipsumimage.appspot.com/350x150?l=350x150&s=36', 'alt': 'logo'} %}
    {% include 'atoms-h2' with {'content': promo.title} %}
    {% include "atoms-paragraph" with {'content': promo.content} %}
    {% if block.button %}
        {% include 'atoms-button-link' with {'class': 'block_cta-with-list-button-link'} %}
    {% endif %}
</{{tag}}>
</div>
