<ul class="list_links">
  <li class="list_links_item">
    {% include '00-link-black.twig' with { 'content': 'Lorem ipsum dolor'} %}
  </li>
  <li class="list_links_item">
    {% include '00-link-black.twig' with { 'content': 'Donec non lectus leo'} %}
  </li>
  <li class="list_links_item">
    {% include '00-link-black.twig' with { 'content': 'Lorem ipsum dolor'} %}
  </li>
  <li class="list_links_item">
    {% include '00-link-black.twig' with { 'content': ' Donec non lectus leo'} %}
  </li>
</ul>