<ul class="list_links">
  <li class="list_links_item">
    {% include '00-link.twig' with { 'content': 'Lorem ipsum dolor' ,  'class': 'link-black'} %}
  </li>
  <li class="list_links_item">
    {% include '00-link.twig' with { 'content': 'Donec non lectus leo',  'class': 'link-black'} %}
  </li>
  <li class="list_links_item">
    {% include '00-link.twig' with { 'content': 'Lorem ipsum dolor',  'class': 'link-black'} %}
  </li>
  <li class="list_links_item">
    {% include '00-link.twig' with { 'content': ' Donec non lectus leo',  'class': 'link-black'} %}
  </li>
</ul>