{#
 # @file featured-content-hero-row.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<a href="{{ url }}" class="layout layout_two_up-heavy-left row_featured_content-hero">
  <div class="row_featured_content-hero_title layout_two_up-heavy-left-primary">
    {% include 'atoms-summary' with { 'content': title.read } %}
  </div>
  <div class="row_featured_content-hero_image layout_two_up-heavy-left-secondary">
    {% include 'atoms-landscape-3x2' %}
  </div>
</a>
