<section class="people-bio">
  <div class="people-bio_photo">
    <img src="{{ src|default('https://www.ama-assn.org/sites/default/files/styles/medium/public/media-browser/public/people/steven-stack.jpg?itok=r6UW84zq') }}" alt="{{ alt|default('Steven J Stack') }}"/>
  </div>
  <div class="people-bio_data">
    <div class="people-bio_data-min">
      <div class="people-bio_data_group">
        {% include 'atoms-h4' with { 'content': bio.name, 'class': 'b4 inline-bio_title' } %}
        {% include 'atoms-paragraph' with { 'content': bio.position } %}
        {% include 'atoms-paragraph' with { 'content': bio.term_start, 'class':'people-bio_data_field-term-start'} %}
        {% include 'atoms-paragraph' with { 'content': bio.term_end, 'class':'people-bio_data_field-term-end'} %}
        {% include 'atoms-paragraph' with { 'content': bio.specialty } %}
      </div>
      <div class="people-bio_data_group-right">
        {% include 'atoms-paragraph' with { 'content': bio.affiliation } %}
        {% include 'atoms-paragraph' with { 'content': bio.endorsement } %}
        {% include 'atoms-paragraph' with { 'content': bio.email } %}
      </div>
    </div>
    <div class="people-bio_data-anon">
      {% include 'atoms-paragraph' with { 'content': bio.address1 } %}
      {% include 'atoms-paragraph' with { 'content': bio.address2 } %}
      {% include 'atoms-paragraph' with { 'content': bio.city_state_zip } %}
      {% include 'atoms-paragraph' with { 'content': bio.positions } %}
      {% include 'atoms-paragraph' with { 'content': bio.short_bio } %}
      {% include 'atoms-paragraph' with { 'content': bio.long_bio } %}
    </div>

    <div class="people-bio_data-full">
      {% include 'atoms-paragraph' with { 'content': bio.email_private } %}
      {% include 'atoms-paragraph' with { 'content': bio.fax } %}
      {% include 'atoms-paragraph' with { 'content': bio.phone } %}
      {% include 'atoms-paragraph' with { 'content': bio.conflicts } %}
      {% include 'atoms-paragraph' with { 'content': bio.spouse } %}
      {% include 'atoms-paragraph' with { 'content': bio.address1_private } %}
      {% include 'atoms-paragraph' with { 'content': bio.address2_private } %}
      {% include 'atoms-paragraph' with { 'content': bio.city_state_zip_private } %}
    </div>
  </div>
</section>
