<ul class="ec-partner-row grid">
	<li class='ec-partner-card'>{% include 'atoms-logo' with {'link': '#', 'image': 'https://ipsumimage.appspot.com/350x150?l=350x150&s=36', 'alt': 'partner-logo'} %}</li>
	<li class='ec-partner-card'>{% include 'atoms-logo' with {'link': '#', 'image': 'https://ipsumimage.appspot.com/350x150?l=350x150&s=36', 'alt': 'partner-logo'} %}</li>
	<li class='ec-partner-card'>{% include 'atoms-logo' with {'link': '#', 'image': 'https://ipsumimage.appspot.com/350x150?l=350x150&s=36', 'alt': 'partner-logo'} %}</li>
	<li class='ec-partner-card'>{% include 'atoms-logo' with {'link': '#', 'image': 'https://ipsumimage.appspot.com/350x150?l=350x150&s=36', 'alt': 'partner-logo'} %}</li>
	<li class='ec-partner-card'>{% include 'atoms-logo' with {'link': '#', 'image': 'https://ipsumimage.appspot.com/350x150?l=350x150&s=36', 'alt': 'partner-logo'} %}</li>
	<li class='ec-partner-card'>{% include 'atoms-logo' with {'link': '#', 'image': 'https://ipsumimage.appspot.com/350x150?l=350x150&s=36', 'alt': 'partner-logo'} %}</li>
</ul>