{#
 # @file news-label.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<div class="news_label">
  <div class="news_label-inner">
    {% include 'atoms-eyebrow' %}
    <a href="{{ url }}" target="_blank" class="news_label_link">Latest <br />News from <br />AMA Wire{% include 'atoms-arrow-external' %}</a>
  </div>
</div>
