<div class="card-row-ec-three-up grid">
  <div class="layout_item">
    {% include 'molecules-card-image-landscape' with {'cardRowContent': cardsLandscape.first} %}
  </div>
  <div class="layout_item">
    {% include 'molecules-card-image-landscape' with {'cardRowContent': cardsLandscape.second} %}
  </div>
  <div class="layout_item ">
    {% include 'molecules-card-image-landscape' with {'cardRowContent': cardsLandscape.third} %}
  </div>
</div>
