<div class="topic-related_content grid">
  <div class="col-width-6">
    {% include 'atoms-landscape-3x2' with { 'class': 'topic-related-content-image_image', 'src': listTopicRelatedContentImage.src } %}
  </div>
  <div class="col-width-3">
    {% include 'atoms-h2' with { 'content': listTopicRelatedContentImage.first.title, 'class': 'topic-related-content_title topic-related-content-image_title' } %}
    {% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'topic-related-content-image_link' } %}
  </div>
</div>