.search-result {
  margin-bottom: $space;
  width: 100%;
  display: flex;
  cursor: pointer;

  &:active,
  &:hover {
    .search-result_link {
      text-decoration: underline;
    }

    .search-result_left {
      background-color: $black-15;
    }
  }
}

.search-result_label {
  text-transform: uppercase;
  color: $purple;
  margin-bottom: 25px;
}

.search-result_title {
  @include type($font-serif, 18px, $font-weight-medium, 1.2222222222);
  margin-bottom: 9px;

  @include breakpoint($bp-med min-width) {
    @include type($font-serif, 24px, $font-weight-medium, 1.1666666667);
    margin-bottom: 12px;
  }
}

.search-result_description {
  @extend %type-medium;
  margin-bottom: 30px;

  @include breakpoint($bp-med) {
    margin-bottom: 60px;
  }
}

.search-result__link {
  @extend %type-small;
}

.search-result_left {
  background-color: $black-7;
  padding: 25px;
  width: 100%;

  @include breakpoint($bp-small) {
    width: 50%;
    display: flex;
    align-items: center;
    min-height: 200px;
    padding: 30px;
  }

  @include breakpoint($bp-med) {
    width: 66%;
  }
}

.search-result_left-inner {
  display: table-cell;
  vertical-align: middle;

  @include breakpoint($bp-small) {
    width: 88%;
  }
}

.search-result_right {
  width: 100%;
  height: auto;
  background-image: url('../../assets/images/placeholder.jpg');
  background-size: cover;
  display: none;

  @include breakpoint($bp-small) {
    width: 50%;
    display: block;
  }

  @include breakpoint($bp-med) {
    width: 33%;
  }
}
