{#
 # @file search-results-best-match.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<div class="layout layout_one_up">
  {% include 'atoms-h6' with { 'class' : 'search-result_label', 'content' : 'Best Match' } %}
</div>

<div class="search-result layout_one_up">
  <div class="search-result_left">
    <div class="search-result_left-inner">
      {% include 'atoms-h4' with { 'class' : 'search-result_title', 'content' : 'Lorem Ipsum Dolor Amet Consectetur Adipiscing Elit of Laoreet Pharetra' } %}
    </div>
  </div>
  <div class="search-result_right">
  </div>
</div>