{#
 # @file search-results-columns.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<div class="layout layout_two_up-large">
  <div class="layout_two_up-large-primary search-result">
    <div class="search-result_columns">
      {% include 'atoms-rule-horizontal' %}
      <div class="search-result_label-wrapper">
        {% include 'atoms-h6' with { 'class' : 'search-result_label', 'content' : 'AMA Wire' } %}
        {% include 'atoms-arrow-external' %}
      </div>
      
      {% include 'atoms-h4' with { 'class' : 'search-result_columns-title', 'content' : 'Visit AMA Wire to view news and more information related to this topic.' } %}
    </div>
  </div>

  <div class="layout_two_up-large-secondary search-result">
    <div class="search-result_columns">
      {% include 'atoms-rule-horizontal' %}
      <div class="search-result_label-wrapper">
        {% include 'atoms-h6' with { 'class' : 'search-result_label', 'content' : 'AMA Wire' } %}
        {% include 'atoms-arrow-external' %}
      </div>
      
      {% include 'atoms-h4' with { 'class' : 'search-result_columns-title', 'content' : 'Visit AMA Wire to view news and more information related to this topic.' } %}
    </div>
  </div>
</div>

<div class="layout layout_two_up-large">
  <div class="layout_two_up-large-primary search-result">
    <div class="search-result_columns">
      {% include 'atoms-rule-horizontal' %}
      <div class="search-result_label-wrapper">
        {% include 'atoms-h6' with { 'class' : 'search-result_label', 'content' : 'AMA Wire' } %}
        {% include 'atoms-arrow-external' %}
      </div>
      
      {% include 'atoms-h4' with { 'class' : 'search-result_columns-title', 'content' : 'Visit AMA Wire to view news and more information related to this topic.' } %}
    </div>
  </div>

  <div class="layout_two_up-large-secondary search-result">
    <div class="search-result_columns">
      {% include 'atoms-rule-horizontal' %}
      <div class="search-result_label-wrapper">
        {% include 'atoms-h6' with { 'class' : 'search-result_label', 'content' : 'AMA Wire' } %}
        {% include 'atoms-arrow-external' %}
      </div>
      
      {% include 'atoms-h4' with { 'class' : 'search-result_columns-title', 'content' : 'Visit AMA Wire to view news and more information related to this topic.' } %}
    </div>
  </div>
</div>

<div class="layout layout_two_up-large">
  <div class="layout_two_up-large-primary search-result">
    <div class="search-result_columns">
      {% include 'atoms-rule-horizontal' %}
      <div class="search-result_label-wrapper">
        {% include 'atoms-h6' with { 'class' : 'search-result_label', 'content' : 'AMA Wire' } %}
        {% include 'atoms-arrow-external' %}
      </div>
      
      {% include 'atoms-h4' with { 'class' : 'search-result_columns-title', 'content' : 'Visit AMA Wire to view news and more information related to this topic.' } %}
    </div>
  </div>

  <div class="layout_two_up-large-secondary search-result">
    <div class="search-result_columns">
      {% include 'atoms-rule-horizontal' %}
      <div class="search-result_label-wrapper">
        {% include 'atoms-h6' with { 'class' : 'search-result_label', 'content' : 'AMA Wire' } %}
        {% include 'atoms-arrow-external' %}
      </div>
      
      {% include 'atoms-h4' with { 'class' : 'search-result_columns-title', 'content' : 'Visit AMA Wire to view news and more information related to this topic.' } %}
    </div>
  </div>
</div>