<div class="topic_topic-articles {{ class }}">
    {% include "molecules-article-preview" with {'topic_article' : topicTopicArticle.image } %}
    {% include "molecules-article-preview" with {'topic_article' : topicTopicArticle.video } %}
</div>