// Layout default setup.
.layout {
  @include grid();
}

.flexbox .layout.layout-four-up {
  @include grid__unit--cols(12);
  justify-content: flex-start;
  flex-direction: column;

  @include breakpoint($bp-small) {
    justify-content: space-between;
    flex-direction: row;
  }

  @include breakpoint($bp-med) {
    flex-wrap: nowrap;
  }
}

.layout-four-up .layout_item {
  margin-bottom: 20px;

  @include breakpoint($bp-small) {
    max-width: calc(50% - 12px);
    flex-basis: calc(50% - 12px);
  }

  @include breakpoint($bp-med) {
    margin-bottom: 24px;
    max-width: calc((100vw - 60px - 72px) / 4);
    flex-basis: calc((100vw - 60px - 72px) / 4);
  }

  @include breakpoint($bp-large) {
    max-width: calc((1260px - 60px - 72px) / 4);
    flex-basis: calc((1260px - 60px - 72px) / 4);
  }
}