<div class="layout layout-example layout_one_up">
  <h2>{% include 'atoms-logo' %}</h2>
  <h1>Welcome to the AMA Style Guide</h1>
  <p><br>This living style guide is built using {% include '00-link.twig' with {'content' : 'Pattern Lab' , 'url' : 'http://patternlab.io/'} %} and the principles of {% include '00-link.twig' with {'content' : 'Atomic Design' , 'url' : 'http://bradfrost.com/blog/post/atomic-web-design/'} %}.</p>
  <p>As this guide grows and evolves, more documentation will appear here.</p>
  <p>Some of the other web technologies you'll need to work with this guide include:</p>
  <ul>
    <li>{% include '00-link.twig' with {'content' : 'Twig' , 'url' : 'http://twig.sensiolabs.org/'} %} - for PHP-based HTML templating.</li>
    <li>{% include '00-link.twig' with {'content' : 'SCSS' , 'url' : 'http://sass-lang.com/documentation/file.SCSS_FOR_SASS_USERS.html'} %} - for making awesome style sheets.</li>
    <li>{% include '00-link.twig' with {'content' : 'BEM (Block Element Modifier)' , 'url' : 'http://getbem.com/'} %} - a CSS naming methodology that enables creation of reusable components and code sharing in the front-end. We use the abridged syntax recommended in the {% include '00-link.twig' with {'content': '18F Front End Guide', 'url': 'https://frontend.18f.gov/#bem'} %} under their suggested custom methodology section.</li>
    <li>{% include '00-link.twig' with {'content' : 'Markdown' , 'url' : 'https://daringfireball.net/projects/markdown/'} %} - a lightweight markup language with plain text formatting syntax, for documenting patterns.</li>
  </ul>
  <p><br>Click the all link or navigation above to browse styles. You can search for patterns using "Find Pattern" in the gear on the right.</p>
</div>
