<div class="layout layout-example layout_one_up layout-intro-styling">
  <h2>{% include 'atoms-logo' %}</h2>
  <h1>Welcome to the AMA Style Guide</h1>
  <p><br>This living style guide is built using {% include '00-link.twig' with {'content' : 'Pattern Lab' , 'url' : 'http://patternlab.io/'} %} and the principles of {% include '00-link.twig' with {'content' : 'Atomic Design' , 'url' : 'http://bradfrost.com/blog/post/atomic-web-design/'} %}.</p>
  <p><br>Click the all link or navigation above to browse styles. You can search for patterns using "Find Pattern" in the gear on the right.</p>

  <p>As this guide grows and evolves, more documentation will appear here.</p>

  <h3>Working with our style guide</h3>
  <h4>Templating</h4>
    <p>Markup for each pattern is created with {% include '00-link.twig' with {'content' : 'Twig' , 'url' : 'http://twig.sensiolabs.org/', 'target': '_blank'} %}, a PHP-based HTML templating engine. You can view both the Twig syntax and the rendered HTML markup for a pattern by clicking on th egear icon in the upper right of every page and selecting "Show Pattern Info."</p>
  <h4>Styles</h4>
    <p>We use {% include '00-link.twig' with {'content' : 'Sassy CSS' , 'url' : 'http://sass-lang.com/documentation/file.SCSS_FOR_SASS_USERS.html', 'target': '_blank'} %} for styling. In addition, class names and heirarchy follow the {% include '00-link.twig' with {'content' : 'BEM (Block Element Modifier)' , 'url' : 'http://getbem.com/', 'target': '_blank'} %} methodology to enable creation of reusable components and code sharing in the front-end. We use the abridged syntax recommended in the {% include '00-link.twig' with {'content': '18F Front End Guide', 'url': 'https://frontend.18f.gov/#bem', 'target': '_blank'} %} under their suggested custom methodology section.</p>

    <p>The AMA Style Guide creates responsive components, and we use {% include '00-link.twig' with {'content' : 'Breakpoint' , 'url' : 'http://breakpoint-sass.com/', 'target': '_blank'} %} to manage our media queries. Breakpoint is fairly simple to use and has a very thorough {% include '00-link.twig' with {'content' : 'wiki' , 'url' : 'https://github.com/at-import/breakpoint/wiki', 'target': '_blank'} %} explaining its useage and capabilities.</p>

    <p>All of our layouts utilize the {% include '00-link.twig' with {'content' : 'Sass-grid' , 'url' : 'https://github.com/digitaledgeit/sass-grid', 'target': '_blank'} %} grid system. Sass-grid is a very lightweight, flebox-based grid system.</p>

  <h4>Javascript</h4>

    <p>Any relevant javascript for a pattern should be stored in the pattern's own folder with the template and scss. We use jQuery in our applications, so you should make sure your pattern's js begins with an immediately invoked function expression that accepts the jQuery library as a parameter like so:
    <code>(function($) {
      //your pattern javascript here
    }(jQuery);</code></p>

    <p>If your javascript expects certain elements to be present in the DOM, make sure you wrap the js in an init function of some sort and check that the elements exist before initializing your script! Pattern Lab doesn't automagically encapsulate your javascript, so wrapping your js thusly prevents an abundance of errors if your selectors happen to be missing from a particular page of the style guide.</p>

  <h4>Annotation and Documentation</h4>
    <p>Each pattern should have it's own accompanying {% include '00-link.twig' with {'content' : 'Markdown' , 'url' : 'https://daringfireball.net/projects/markdown/', 'target': '_blank'} %} file that should always contain a useful description of the pattern you are creating. Whenever possible, links to the relevant Jira ticket/Github issues relating to the pattern should be referenced here as well.</p>

    <p>Pattern Lab also provides the ability to {% include '00-link.twig' with {'content' : 'add annotations' , 'url' : 'http://patternlab.io/docs/pattern-adding-annotations.html', 'target': '_blank'} %} to your patterns.</p>

  <p><br>Click the all link or navigation above to browse styles. You can search for patterns using "Find Pattern" in the gear on the right.</p>
</div>
