<div class="ipe-actions-block ipe-actions" data-block-action-id="" data-block-edit-id="">
  <h5>Block: Title of Block</h5>
  <ul class="ipe-action-list">
    <li data-action-id="remove">
      <a>
        <span class="ipe-icon ipe-icon-remove"></span>
      </a>
    </li>
    <li data-action-id="up">
      <a>
        <span class="ipe-icon ipe-icon-up"></span>
      </a>
    </li>
    <li data-action-id="down">
      <a>
        <span class="ipe-icon ipe-icon-down">

        </span>
      </a>
    </li>
    <li data-action-id="move">
      <select>
        <option>Move</option>
      </select>
    </li>
    <li data-action-id="configure">
      <a>
        <span class="ipe-icon ipe-icon-configure">

        </span>
      </a>
    </li>
    <li data-action-id="edit-content-block">
      <a>
        <span class="ipe-icon ipe-icon-edit"></span>
      </a>
    </li>
  </ul>
</div>
