<article class="testimonial">
  <div class="testimonial_image" style="background-image: url(../../assets/images/fpo_3x2.png)"></div>
  <div class="testimonial_text">
      <p class="testimonial_quote">"Testimonial ipsum dolor sit amet, fringilla leo libero integer ut, elementum maecenas mi amet commodo pellentesque, quis odio. Dolor posuere tempor quam et, maecenas auctor hac urna ac eu, sed in."</p>
      <p class="testimonial_speaker">
          <span class="testimonial_speaker_person">—Dr. Bob Jones</span>,
          <span class="testimonial_speaker_title">Medicology</span>
      </p>
  </div>
</article>