<div class="testimonial">
  <div class="testimonial_image">
      <span style="background-image: url(https://ipsumimage.appspot.com/600x400?l=3:2|600x400&s=36)"></span>
  </div>
  <div class="testimonial_text">
      {% include 'atoms-paragraph' with { 'class': 'testimonial_quote', 'content': testimonial.quote } %}
      <p class="testimonial_speaker">
          <span class="testimonial_speaker_person">{{ testimonial.speakerName ? testimonial.speakerName : 'Bob M. Doctor' }}</span>,
          <span class="testimonial_speaker_title">{{ testimonial.speakerTitle ? testimonial.speakerTitle : 'Doctorology'}}</span>
      </p>
  </div>
</div>