<a class="ec-card-course-bundle" href="#">
	<div class="ec-card-course-bundle_image">
		<img src="https://ipsumimage.appspot.com/600x400?l=3:2|600x400&s=36" />
	</div>
  <div class="ec-card-course-bundle_text">
	  {% include 'atoms-h2' with { 'class': 'ec-card-course-bundle_title', 'content' : 'Course Bundle Title Course Bundle Title' } %}
	  {% include 'atoms-paragraph' with { 'class': 'ec-card-course-bundle_desc', 'content' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.' } %}
  </div>
</a>