<a class="topic_article-preview topic_article-preview-related-article grid" href="#">
  <div class="topic_article-preview_container-image">{% include 'atoms-landscape-3x2' with { 'src': 'https://ipsumimage.appspot.com/140x100?l=7:5|140x100&s=18', 'class': 'topic_article-preview_image' } %}</div>
  <div class="topic_article-preview-container-title">{% include 'atoms-h2' with { 'class': 'topic_article-preview_title' } %}</div>
</a>
