<div class="topic_article-preview topic_article-preview-related-article">
  {% include "atoms-landscape-3x2" with {'class': 'topic_article-preview_image'} %}
  {% include "molecules-link-black-h2" with {'content': 'Article One Title', 'class': 'topic_article-preview_title' }%}
</div>
