<div class="list-secondary-user">
  <ul class="list_links-secondary-user list_links-secondary-user-primary">
    <li class="list_link_item-secondary-user">{% include 'atoms-link-black' with { 'content': 'AMA Careers'} %}</li>
    <li class="list_link_item-secondary-user">{% include 'atoms-link-black' with { 'content': 'Contact Us'} %}</li>
    <li class="list_link_item-secondary-user">{% include 'atoms-link-black' with { 'content': 'Events'} %}</li>
    <li class="list_link_item-secondary-user">{% include 'atoms-link-black' with { 'content': 'Press Center'} %}</li>
  </ul>
  <ul class="list_links-secondary-user list_links-secondary-user-secondary">
    <li class="list_link_item-secondary-user">{% include 'atoms-link-black' with { 'content': 'AMA Alliance'} %}</li>
    <li class="list_link_item-secondary-user">{% include 'atoms-link-black' with { 'content': 'AMPAC'} %}</li>
    <li class="list_link_item-secondary-user">{% include 'atoms-link-black' with { 'content': 'AMA Foundation'} %}</li>
    <li class="list_link_item-secondary-user">{% include 'atoms-link-black' with { 'content': 'AMA Insurance'} %}</li>
  </ul>
</div>