.block-select {
  align-items: center;
  border: 1px solid $black-15;
  border-radius: 3px;
  cursor: pointer;
  cursor: hand;
  display: flex;
  flex-direction: column;
  font-size: .7em;
  justify-content: center;
  margin-bottom: 1em;
  min-height: 65px;
  text-align: center;
  transition: border-color 0.28s ease;

  p {
    margin-bottom: 0;
  }

  svg {
    fill: $black-15;
  }
}

.block-select--selected {
  border-color: $green;
  cursor: pointer;
  svg {
    fill: $green;
  }
  .block-select__message {
    background-color: $green;
  }
}

.block-select__message {
  color: $white;
  font-size: .8em;
  transition: background-color 0.28s ease;
  width: 100%;
}

.block-select__text {
  padding: 1.1em 0;
}