/**
 * @file layout-two-up-heavy-left.scss
 *
 * Copyright 2017 Palantir.net, Inc.
 */

// Placeholder blocks in layout molecules.
.layout_container {
  display: block;
  margin-bottom: 1em;
  padding: 2em;
  text-align: center;
}

.layout-example .layout_container {
  background-color: $black-7;
}

// Layout default setup.

.flexbox .layout.layout_two_up-heavy-left {
  @include grid__unit--cols(12);
  justify-content: flex-start;
}

.layout_two_up-heavy-left-primary {
  @include breakpoint($bp-med-home min-width) {
    @include grid__unit--cols(7.5);
    padding-right: 15px;
  }
}

.layout_two_up-heavy-left-secondary {
  @include breakpoint($bp-med-home min-width) {
    @include grid__unit--cols(4.5);
    padding-left: 15px;
  }
}
