/**
 * @file layout-two-up-heavy-left.scss
 *
 * Copyright 2017 Palantir.net, Inc.
 */

// @todo remove this variable once the typography is merged in.
$breakpoint-middle: 900px min-width;

// Placeholder blocks in layout molecules.
.layout_container {
  display: block;
  margin-bottom: 1em;
  padding: 2em;
  text-align: center;
}

.layout-example .layout_container {
  background-color: $black-7;
}

// Layout default setup.
.layout {
  @include grid();
}

.flexbox .layout.layout_two_up-heavy-left {
  @include grid__unit--cols(8);
  justify-content: flex-start;
  width: 100%;
}

.layout_two_up-heavy-left-primary {
  @include grid__unit--cols(3);
  margin-right: 1.6666666667em;
  @include breakpoint($breakpoint-middle) {
    @include grid__unit--cols(5);
  }
}

.layout_two_up-heavy-left-secondary {
  @include grid__unit--cols(1);
  @include breakpoint($breakpoint-middle) {
    @include grid__unit--cols(3);
  }
}