<ul class="list_topic-related-content list_topic-related-content-image">
  <li class="list_item-topic-related-content list_item-topic-related-content-image layout layout_two_up-heavy-right-offset">
    <div class="layout_two_up-heavy-right-offset-secondary">
      {% include 'atoms-landscape-3x2' with { 'class': 'list_topic-related-content-image_image', 'src': listTopicRelatedContentImage.src } %}
    </div>
    <div class="layout_two_up-heavy-right-offset-primary">
      {% include 'atoms-h3' with { 'content': listTopicRelatedContentImage.first.title, 'class': 'list_topic-related-content-image_title' } %}
      {% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related-content-image_link' } %}
    </div>
  </li>
  <li class="list_item-topic-related-content list_item-topic-related-content-image layout layout_two_up-heavy-right-offset">
    <div class="layout_two_up-heavy-right-offset-secondary">
      {% include 'atoms-landscape-3x2' with { 'class': 'list_topic-related-content-image_image', 'src': listTopicRelatedContentImage.src } %}
    </div>
    <div class="layout_two_up-heavy-right-offset-primary">
      {% include 'atoms-h3' with { 'content': listTopicRelatedContentImage.second.title, 'class': 'list_topic-related-content-image_title' } %}
      {% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related-content-image_link' } %}
    </div>
  </li>
  <li class="list_item-topic-related-content list_item-topic-related-content-image layout layout_two_up-heavy-right-offset">
    <div class="layout_two_up-heavy-right-offset-secondary">
      {% include 'atoms-landscape-3x2' with { 'class': 'list_topic-related-content-image_image', 'src': listTopicRelatedContentImage.src } %}
    </div>
    <div class="layout_two_up-heavy-right-offset-primary">
      {% include 'atoms-h3' with { 'content': listTopicRelatedContentImage.third.title, 'class': 'list_topic-related-content-image_title' } %}
      {% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related-content-image_link' } %}
    </div>
  </li>
</ul>
