<ul class="list_topic-related-content list_topic-related-content-image">
  <li class="list_item-topic-related-content list_item-topic-related-content-image grid">
    <div class="col-width-6">
      {% include 'atoms-landscape-3x2' with { 'class': 'list_topic-related-content-image_image', 'src': listTopicRelatedContentImage.src } %}
    </div>
    <div class="col-width-3">
      {% include 'atoms-h2' with { 'content': listTopicRelatedContentImage.first.title, 'class': 'list_topic-related-content_title list_topic-related-content-image_title' } %}
      {% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related-content-image_link' } %}
    </div>
  </li>
  <li class="list_item-topic-related-content list_item-topic-related-content-image grid">
    <div class="col-width-6">
      {% include 'atoms-landscape-3x2' with { 'class': 'list_topic-related-content-image_image', 'src': listTopicRelatedContentImage.src } %}
    </div>
    <div class="col-width-3">
      {% include 'atoms-h2' with { 'content': listTopicRelatedContentImage.second.title, 'class': 'list_topic-related-content_title list_topic-related-content-image_title' } %}
      {% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related-content-image_link' } %}
    </div>
  </li>
  <li class="list_item-topic-related-content list_item-topic-related-content-image grid">
    <div class="col-width-6">
      {% include 'atoms-landscape-3x2' with { 'class': 'list_topic-related-content-image_image', 'src': listTopicRelatedContentImage.src } %}
    </div>
    <div class="col-width-3">
      {% include 'atoms-h2' with { 'content': listTopicRelatedContentImage.third.title, 'class': 'list_topic-related-content_title list_topic-related-content-image_title' } %}
      {% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related-content-image_link' } %}
    </div>
  </li>
</ul>

