
.icon-information {
	background-image: url('png/information.png');
	background-repeat: no-repeat;
}

.icon-linkedin {
	background-image: url('png/linkedin.png');
	background-repeat: no-repeat;
}

.icon-list {
	background-image: url('png/list.png');
	background-repeat: no-repeat;
}

.icon-next {
	background-image: url('png/next.png');
	background-repeat: no-repeat;
}

.icon-opendropdown {
	background-image: url('png/opendropdown.png');
	background-repeat: no-repeat;
}

.icon-opendropdownsmall {
	background-image: url('png/opendropdownsmall.png');
	background-repeat: no-repeat;
}

.icon-play {
	background-image: url('png/play.png');
	background-repeat: no-repeat;
}

.icon-previous {
	background-image: url('png/previous.png');
	background-repeat: no-repeat;
}

.icon-search {
	background-image: url('png/search.png');
	background-repeat: no-repeat;
}

.icon-selected {
	background-image: url('png/selected.png');
	background-repeat: no-repeat;
}

.icon-show {
	background-image: url('png/show.png');
	background-repeat: no-repeat;
}

.icon-twitter {
	background-image: url('png/twitter.png');
	background-repeat: no-repeat;
}

.icon-usermenu {
	background-image: url('png/usermenu.png');
	background-repeat: no-repeat;
}

.icon-valid {
	background-image: url('png/valid.png');
	background-repeat: no-repeat;
}

.icon-viewless {
	background-image: url('png/viewless.png');
	background-repeat: no-repeat;
}

.icon-viewmore {
	background-image: url('png/viewmore.png');
	background-repeat: no-repeat;
}

.icon-youtube {
	background-image: url('png/youtube.png');
	background-repeat: no-repeat;
}

.icon-alert {
	background-image: url('png/alert.png');
	background-repeat: no-repeat;
}

.icon-checkmark {
	background-image: url('png/checkmark.png');
	background-repeat: no-repeat;
}

.icon-clear {
	background-image: url('png/clear.png');
	background-repeat: no-repeat;
}

.icon-close {
	background-image: url('png/close.png');
	background-repeat: no-repeat;
}

.icon-closedropdown {
	background-image: url('png/closedropdown.png');
	background-repeat: no-repeat;
}

.icon-closedropdownsmall {
	background-image: url('png/closedropdownsmall.png');
	background-repeat: no-repeat;
}

.icon-download {
	background-image: url('png/download.png');
	background-repeat: no-repeat;
}

.icon-external {
	background-image: url('png/external.png');
	background-repeat: no-repeat;
}

.icon-facebook {
	background-image: url('png/facebook.png');
	background-repeat: no-repeat;
}

.icon-google+ {
	background-image: url('png/google+.png');
	background-repeat: no-repeat;
}

.icon-grid {
	background-image: url('png/grid.png');
	background-repeat: no-repeat;
}

.icon-hide {
	background-image: url('png/hide.png');
	background-repeat: no-repeat;
}