<header class="section-header layout layout_one_up_center_container">
  <div class="layout_one_up_center">
    {% include 'atoms-h1' with { 'class': 'section-header_title' } %}
    {% include 'atoms-paragraph' with { 'content': 'Proin quis ante quam. Duis sit amet risus sit amet elit dapibus dictum. Integer imperdiet dolor tortor a auctor quamla. Bibendum non donec tincidunt ultrices dapibus. Suspendisse vitae enim. ', 'class': 'section-header_subtitle' } %}
  </div>
</header>