<div class="layout search-results-list">

    {% include 'molecules-search-results-external' %}
    {% include 'molecules-search-results-external' %}
    {% include 'molecules-search-results-external' %}

    {% include 'molecules-search-results-external' %}
    {% include 'molecules-search-results-external' %}
    {% include 'molecules-search-results-external' %}

</div>

{#
 # @file search-results-columns.twig
 # Copyright 2017 Palantir.net, Inc.
 #}