{#
 # @file card-cta.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<a class="card-cta" href="#">
  {% include 'atoms-h2' with { 'class': 'card-cta_title', 'content' : 'Leadership & Elections' } %}
  {% include 'atoms-paragraph' with { 'class': 'card-cta_desc', 'content' : 'View the results of the election—the new governing council is ready to serve the Women Physician Section. View the results of the election—the new governing council is ready to serve the Women Physician Section.' } %}
</a>
