.layout.layout_two-wrap {
  @include grid__unit--cols(12);
  justify-content: space-between;

  .layout_two-wrap-item {
    @include grid__unit--cols(12);

    @include breakpoint($bp-small) {
      @include grid__unit--cols(6);
      background-clip: padding-box;
      
      &:nth-child(odd) {
        border-right: 15px solid transparent;
      }
      &:nth-child(even) {
        border-left: 15px solid transparent;
      }
    }
  }
}
