// Styling for the IPE when viewed in the AMA theme.

.contextual-region {
  &:hover div.ipe-actions {
    background: #f9f9f9;
  }
}

div.ipe-actions {
  flex-flow: row wrap;
  margin-bottom: $gutter/2;
  padding: 0 $gutter/2;
  border-bottom: dotted 1px #cecece;
}

div.ipe-actions h5 {
  flex-basis: 100%;
  margin-bottom: 0;
  padding: 8px 5px 0;
  text-transform: none;
}

.ipe-actions ul.ipe-action-list {
  display: flex;
}

.ama-theme .ipe-action-list li {
  margin-bottom: 0;
  padding: 5px 2px;
}

div.ipe-actions a {
  color: $black-55;
}

.ipe-action-list .ipe-icon {
  height: auto;
  margin: 0;
  font-size: 20px;
}

.ipe-action-list [data-action-id="move"] {
  order: 1;
}

.ipe-action-list [data-action-id="move"] select {
  margin: 0;
  padding: 0 0.5em;
  height: 1.5em;
  width: auto;
  color: $black-55;
  background: white;
  border: solid 1px $black-20;
  border-radius: 2px;
  text-transform: none;

  &:hover {
    color: darken($black-55, 10%);
    border-color: darken($black-55, 10%);
    transition: all 0.2s ease;
  }
}