<div style="border: solid 5px mediumvioletred;">
    Molecule - base
    <div>Topic title (optional)
        {% include "atoms-landscape-3x2" %}
        {% include "atoms-h2" %}
        {% include "paragraph" %}
        date
        read time</div>
</div>