<div style="border: solid 5px mediumvioletred; max-width: 1260px;">
    <div>
        {% include "atoms-title-label" %}
        <img src="https://ipsumimage.appspot.com/1000x666?l=3:2|1000x666&s=36" alt="Placeholder image.">
        {% include "atoms-h2" %}
        {% include "atoms-paragraph" %}
        <span>Date</span>
        <span>Read time</span>
    </div>
</div>