<div style="border: solid 5px mediumvioletred;">
    Molecule - base
    <div>
        <span>Topic title (optional)</span>
        {% include "atoms-landscape-3x2" %}
        {% include "atoms-h2" %}
        {% include "atoms-paragraph" %}
        <span>Date</span>
        <span>Read time</span>
    </div>
</div>