<a class="topic_article-preview topic_article-preview-related-article grid layout_two_up-heavy-right-offset" href="#">
  <div class="layout_two_up-heavy-right-offset-full">{% include 'atoms-h2' with { 'class': 'topic_article-preview_title' } %}</div>
</a>
