<ul class="sg-colors">

	<li>
		<span class="sg-swatch" style="background: #46166b;"></span>
		<code>
			<div class="sg-label">Variable: $purple</div>
			<div class="sg-label">Hex: #46166b</div>
		</code>
	</li>
	<li>
		<span class="sg-swatch" style="background: #c8102e;"></span>
		<code>
			<div class="sg-label">Variable: $red</div>
			<div class="sg-label">Hex: #c8102e</div>
		</code>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ed8b00;"></span>
		<code>
			<div class="sg-label">Variable: $orange</div>
			<div class="sg-label">Hex: #ed8b00</div>
		</code>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<code>
			<div class="sg-label">Variable: $black</div>
			<div class="sg-label">Hex: #000000</div>
		</code>
	</li>
	<li>
		<span class="sg-swatch" style="background: #02aaec;"></span>
		<code>
			<div class="sg-label">Variable: $blue</div>
			<div class="sg-label">Hex: #02aaec</div>
		</code>
	</li>
	<li>
		<span class="sg-swatch" style="background: #64a70b;"></span>
		<code>
			<div class="sg-label">Variable: $green</div>
			<div class="sg-label">Hex: #64a70b</div>
		</code>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f7f7f7;"></span>
		<code>
			<div class="sg-label">Variable: $black-3</div>
			<div class="sg-label">Hex: #f7f7f7</div>
		</code>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ededed;"></span>
		<code>
			<div class="sg-label">Variable: $black-7</div>
			<div class="sg-label">Hex: #ededed</div>
		</code>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d9d9d9 ;"></span>
		<code>
			<div class="sg-label">Variable: $black-15</div>
			<div class="sg-label">Hex: #d9d9d9 </div>
		</code>
	</li>
	<li>
		<span class="sg-swatch" style="background: #cccccc;"></span>
		<code>
			<div class="sg-label">Variable: $black-20</div>
			<div class="sg-label">Hex: #cccccc</div>
		</code>
	</li>
	<li>
		<span class="sg-swatch" style="background: #737373;"></span>
		<code>
			<div class="sg-label">Variable: $black-55</div>
			<div class="sg-label">Hex: #737373</div>
		</code>
	</li>
	<li>
		<span class="sg-swatch" style="background: #a1a1a4;"></span>
		<code>
			<div class="sg-label">Variable: $gray-8</div>
			<div class="sg-label">Hex: #a1a1a4</div>
		</code>
	</li>
	<li>
		<span class="sg-swatch" style="background: #320e52;"></span>
		<code>
			<div class="sg-label">Variable: $purple-darker</div>
			<div class="sg-label">Hex: #320e52</div>
		</code>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e3dce9;"></span>
		<code>
			<div class="sg-label">Variable: $purple-lighter</div>
			<div class="sg-label">Hex: #e3dce9</div>
		</code>
	</li>
	<li>
		<span class="sg-swatch" style="background: #b70a1f;"></span>
		<code>
			<div class="sg-label">Variable: $red-darker</div>
			<div class="sg-label">Hex: #b70a1f</div>
		</code>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d9f2fc;"></span>
		<code>
			<div class="sg-label">Variable: $blue-lighter</div>
			<div class="sg-label">Hex: #d9f2fc</div>
		</code>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e67200;"></span>
		<code>
			<div class="sg-label">Variable: $orange-darker</div>
			<div class="sg-label">Hex: #e67200</div>
		</code>
	</li>
</ul>