<nav class="ribbon_dropdown">
  <span class="ribbon_dropdown_trigger" tabindex="0" href="#">American Medical Association {% include '06-opendropdownsmall.twig' %}</span>
  <ul class="ribbon_dropdown_nav">
    <li class="ribbon_dropdown_nav_item">{% include '03-link-white.twig' with {'content' : 'AMA Wire'} %}</li>
    <li class="ribbon_dropdown_nav_item">{% include '03-link-white.twig' with {'content' : 'AMA Store'} %}</li>
    <li class="ribbon_dropdown_nav_item">{% include '03-link-white.twig' with {'content' : 'The JAMA Network'} %}</li>
    <li class="ribbon_dropdown_nav_item">{% include '03-link-white.twig' with {'content' : 'Journal of Ethics'} %}</li>
  </ul>
</nav>