<div class="social_links">
  <ul class="social_links_list">
    <li class="social_links_list_item social_links_list_item-facebook"><a class="icon-facebook" href="https://www.facebook.com/AmericanMedicalAssociation" title="Facebook" data-grunticon-embed></a></li>
    <li class="social_links_list_item social_links_list_item-twitter"><a class="icon-twitter" href="https://twitter.com/AmerMedicalAssn" title="Twitter" data-grunticon-embed></a></li>
    <li class="social_links_list_item social_links_list_item-googleplus"><a class="icon-googleplus" href="https://plus.google.com/+americanmedicalassociation" title="Google+" data-grunticon-embed></a></li>
    <li class="social_links_list_item social_links_list_item-linkedin"><a class="icon-linkedin" href="https://www.linkedin.com/company/american-medical-association" title="LinkedIn" data-grunticon-embed></a></li>
    <li class="social_links_list_item social_links_list_item-youtube"><a class="icon-youtube" href="https://www.youtube.com/user/AmerMedicalAssn" title="YouTube" data-grunticon-embed></a></li>
  </ul>
</div>