<div class="topic_email-subscription">
    <form action="#">
        {% include 'atoms-h3' with {'content': email.title} %}
        {% include 'atoms-paragraph' with {'content': email.description} %}
        {% include 'molecules-input-email' %}
        {% include 'atoms-button-link-secondary' with {'content': email.button} %}
        {% include 'atoms-checkbox' with {'label': email.label} %}
    </form>
</div>