.ama-theme {
  .button-search {
    @extend %background-transition;
    border: 2px $blue solid;
    color: $blue;
    display: block;
    float: right;
    height: 44px;
    position: relative;
    width: 44px;

    @include breakpoint($bp-med-home min-width) {
      bottom: 0;
      height: 84px;
      margin-bottom: 40px;
      position: absolute;
      right: 30px;
      width: 135px;
    }

    &:hover {
      background-color: $blue-lighter;
      color: $blue;
    }
  }

  .button-search_title {
    display: none;

    @include breakpoint($bp-med-home min-width) {
      bottom: -41px;
      display: block;
      font-size: 18px;
      padding: 7px 15px;
      position: relative;
    }
  }

  .icon-search {
    position: absolute;
    right: 5px;
    top: 10px;

    svg {
      height: 20px;
      width: 20px;
    }
  }
}