{% include '07-list_title-small/list_title-small.twig' with { 'content': 'Downloads'} %}

{# No metadata, list links rule #}

<ul class="list_links list_links-rule">
  <li class="list_links_item">
    <a href="{{ url }}" class="link link-black">Lorem ipsum dolor {% include '10-list-link-meta.twig' with { 'content': 'PDF, 2MB' } %}</a>
  </li>
  <li class="list_links_item">
    <a href="{{ url }}" class="link link-black">Donec non lectus leo {% include '10-list-link-meta.twig' with { 'content': 'PDF, 5MB' } %}</a>
  </li>
  <li class="list_links_item">
    <a href="{{ url }}" class="link link-black">Lorem ipsum dolor {% include '10-list-link-meta.twig' with { 'content': 'PDF, 3MB' } %}</a>
  </li>
  {# List Link item example with metadata #}
  <li class="list_links_item">
    <a href="{{ url }}" class="link link-black">Donec non lectus leo {% include '10-list-link-meta.twig' with { 'content': 'PDF, 5MB' } %}</a>
  </li>
</ul>
