<div class="list_item-topic-related-article">{% include 'molecules-article-preview' with { 'topic_article': listTopicRelatedArticles.first } %}</div>
<div class="list_item-topic-related-article">{% include 'molecules-article-preview' with { 'topic_article': listTopicRelatedArticles.second } %}</div>
<div class="list_item-topic-related-article">{% include 'molecules-article-preview' with { 'topic_article': listTopicRelatedArticles.third } %}</div>
