.list_topic-related-articles {
  list-style: none;
  margin: 0;
  max-width: $max-width;
  padding: 0;

  .list_item-topic-related-article {
    @include rule-horizontal(1px, $black-20, solid);
    @include gutter($padding-top-half...);
    @include gutter($padding-bottom-half...);
    margin-bottom: 0;

    &:first-of-type{
      @include rule-horizontal(1px, $gray-8, solid);
    }

    &:last-of-type {
      @include rule-horizontal-bottom(1px, $gray-8, solid);
    }
  }

  a {
    @extend %text-transition;
    &:hover {
      color: $blue;
    }
  }
}
