<ul class="list_links-secondary-user list_links-secondary-user-primary">
  <li class="list_link_item-secondary-user"><h6>{% include '00-link-black.twig' with { 'content': 'Press Center'} %}</h6></li>
  <li class="list_link_item-secondary-user"><h6>{% include '00-link-black.twig' with { 'content': 'Events'} %}</h6></li>
  <li class="list_link_item-secondary-user"><h6>{% include '00-link-black.twig' with { 'content': 'Careers'} %}</h6></li>
  <li class="list_link_item-secondary-user"><h6>{% include '00-link-black.twig' with { 'content': 'Contact Us'} %}</h6></li>
  <li class="list_link_item-secondary-user"><h6>{% include '00-link-black.twig' with { 'content': 'FAQ'} %}</h6></li>
</ul>
<ul class="list_links-secondary-user list_links-secondary-user-secondary">
  <li class="list_link_item-secondary-user"><h6>{% include '00-link-black.twig' with { 'content': 'AMA Alliance'} %}</h6></li>
  <li class="list_link_item-secondary-user"><h6>{% include '00-link-black.twig' with { 'content': 'AMPAC'} %}</h6></li>
  <li class="list_link_item-secondary-user"><h6>{% include '00-link-black.twig' with { 'content': 'AMA Insurance'} %}</h6></li>
</ul>