<a class="card card-image-landscape" href="#">
	<img class="card-image-landscape_image" src="//ipsumimage.appspot.com/600x400?l=3:2|600x400&s=36">
  <div class="card-image-landscape_overlay">
      {% include 'atoms-h2' with { 'class': 'card-image-landscape_title', 'content' : cardRowContent.title } %}
      {% include 'atoms-paragraph' with { 'class': 'card-image-landscape_description', 'content' : cardRowContent.content } %}
  </div>
</a>
