<div class="layout layout_two-wrap search-results-columns">
 
     {% include 'molecules-search-result-external' with {'class': 'layout_two-wrap-item search-results-columns-item'} %}
     {% include 'molecules-search-result-external' with {'class': 'layout_two-wrap-item search-results-columns-item'} %}
     {% include 'molecules-search-result-external' with {'class': 'layout_two-wrap-item search-results-columns-item'} %}
 
     {% include 'molecules-search-result-external' with {'class': 'layout_two-wrap-item search-results-columns-item'} %}
     {% include 'molecules-search-result-external' with {'class': 'layout_two-wrap-item search-results-columns-item'} %}
     {% include 'molecules-search-result-external' with {'class': 'layout_two-wrap-item search-results-columns-item'} %}
 
 </div>