<div class="layout layout_two-wrap search-results-columns">
 
     {% include 'molecules-search-result-column-external' with {'class': 'layout_two-wrap-item'} %}
     {% include 'molecules-search-result-column-external' with {'class': 'layout_two-wrap-item'} %}
     {% include 'molecules-search-result-column-external' with {'class': 'layout_two-wrap-item'} %}
 
     {% include 'molecules-search-result-column-external' with {'class': 'layout_two-wrap-item'} %}
     {% include 'molecules-search-result-column-external' with {'class': 'layout_two-wrap-item'} %}
     {% include 'molecules-search-result-column-external' with {'class': 'layout_two-wrap-item'} %}
 
 </div>