<a class="card card-course" href="#">
  {% include 'atoms-landscape-3x2' with { 'class': 'card-course_image' } %}
  <div class="card-course_inner">
    {% include 'atoms-paragraph' with { 'class': 'card-course_duration', 'content' : '1hr 15min' } %}
    {% include 'atoms-h2' with { 'class': 'card-course_title', 'content' : 'Association Between Elevated Brain Amyloid and Subsequent Cognitive Decline Among Cognitively Normal Persons' } %}
    {% include 'atoms-paragraph' with { 'class': 'card-course_credits', 'content' : '3.00 CME Credits'  } %}
    {% include 'atoms-paragraph' with { 'class': 'card-course_date', 'content' : 'Due Jan. 10'  } %}
    {% include 'atoms-paragraph' with { 'class': 'card-course_description', 'content' : 'Optional course description.' } %}
  </div>
</a>
