{% set applyGrid = related_content.image ? "grid" : "" %}
<div class="topic-related-content {{applyGrid}}">
  {% if related_content.image %}
    <div class="col-width-6">
      {% include 'atoms-landscape-3x2' with { 'src': related_content.image } %}
    </div>
    <div class="col-width-3">
      {% include 'atoms-h2' with { 'content': related_content.title, 'class': 'topic-related-content_title' } %}
      {% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'topic-related-content_link' } %}
    </div>
  {% else %}
    {% include 'atoms-h2' with { 'content': related_content.title, 'class': 'topic-related-content_title' } %}{% include 'atoms-link-blue' with { 'content': 'Link text', 'class': 'topic-related-content_link' } %}
  {% endif %}
</div>