/**
 * @file inline-bio.scss
 *
 * Copyright 2017 Palantir.net, Inc.
 */

.inline-bio {
  @extend %clearfix;
  margin: 30px 0;
  padding: 20px 0;
  border-top: 1px solid $gray-8;
  border-bottom: 1px solid $gray-8;

  @include breakpoint($bp-small) {
    margin: 40px 0;
    padding: 20px 0;
  }
}

.inline-bio_image {
  display: none;

  @include breakpoint($bp-small) {
    display: inline-block;
    float: left;
    max-width: 154px;
    margin-right: 30px;
  }

  @include breakpoint($bp-med) {
    max-width: 175px;
  }
}

.inline-bio_meta {
  @extend %b4;
  color: $black-55;
  margin-bottom: 0;
  display: inline-block;

  @include breakpoint($bp-small) {
    display: block;
  }
}

.inline-bio_cta {
  display: block;
  margin-top: 6px;
  font-weight: $font-weight-bold;
}
