/**
 * @file block-hero-cta-only.scss
 *
 * Copyright 2017 Palantir.net, Inc.
 */

.block-hero-cta-only {
  @extend %block-hero;
  text-align: center;
  padding: $space-double;
  max-height: none;

  @include breakpoint($bp-med-home min-width) {
    display: block !important;
  }
}

.block-hero-cta-only_title {
  font-weight: $font-weight-thin;
  margin-bottom: $space-half;
}

.block-hero-cta-only_summary {
  @extend %type-large;
  display: block;
}
