{#
 # @file block-hero-cta-only.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<div class="block-hero-cta-only">
  {% include 'atoms-h1' with { 'content': 'Take Charge', 'class': 'block-hero-cta-only_title' } %}
  {% include 'atoms-summary' with { 'content': 'Gain an active voice on politics protecting patients and your profession', 'class': 'block-hero-cta-only_summary' } %}
  {% include 'atoms-button-link' with { 'content': 'Join the AMA' } %}
</div>
