<section class="search_modal">
  <div class="layout-container">
    <span class="search_modal_close">
      {% include "atoms-close" %}
      Close
    </span>
    {# @todo add 1up grid class around search-field molecule #}
    <div class="layout-1up">
      {% include "molecules-search-field" %}
    </div>

    {# @todo update layout class once system is determined #}
    <div class="layout-75-25--1">
      {% include "molecules-list-best-match" %}
      {% include "molecules-list-popular-search" %}
    </div>
  </div>
</section>