<select id="select">
    <optgroup label="Select">
        <option>{{ content|default('Option One') }}</option>
        <option>{{ content|default('Option Two') }}</option>
        <option>{{ content|default('Option Three') }}</option>
    </optgroup>
</select>
