<ul class="list_topic-related-image">
  <li class="list_item-topic-related-image">{% include 'atoms-landscape-175x105' with { 'class': 'list_topic-related-image_image' } %}{% include 'atoms-h2' with { 'content': listTopicRelatedImage.first.title, 'class': 'list_topic-related-image_title' } %}{% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related-image_link' } %}</li>
  <li class="list_item-topic-related-image">{% include 'atoms-landscape-175x105' with { 'class': 'list_topic-related-image_image' } %}{% include 'atoms-h2' with { 'content': listTopicRelatedImage.second.title, 'class': 'list_topic-related-image_title' } %}{% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related-image_link' } %}</li>
  <li class="list_item-topic-related-image">{% include 'atoms-landscape-175x105' with { 'class': 'list_topic-related-image_image' } %}{% include 'atoms-h2' with { 'content': listTopicRelatedImage.third.title, 'class': 'list_topic-related-image_title' } %}{% include 'atoms-link-blue' with { 'content': 'Sed nuc', 'class': 'list_topic-related-image_link' } %}</li>
</ul>
