<ul class="list_links-social">
  <li class="list_link_item-social list_link_item-social-facebook"><a class="icon-facebook" href="https://www.facebook.com/AmericanMedicalAssociation" data-grunticon-embed><span class="title">Facebook</span></a></li>
  <li class="list_link_item-social list_link_item-social-twitter"><a class="icon-twitter" href="https://twitter.com/AmerMedicalAssn" data-grunticon-embed><span class="title">Twitter</span></a></li>
  <li class="list_link_item-social list_link_item-social-googleplus"><a class="icon-googleplus" href="https://plus.google.com/+americanmedicalassociation" data-grunticon-embed><span class="title">Google Plus</span></a></li>
  <li class="list_link_item-social list_link_item-social-linkedin"><a class="icon-linkedin" href="https://www.linkedin.com/company/american-medical-association" data-grunticon-embed><span class="title">LinkedIn</span></a></li>
  <li class="list_link_item-social list_link_item-social-youtube"><a class="icon-youtube" href="https://www.youtube.com/user/AmerMedicalAssn" data-grunticon-embed><span class="title">YouTube</span></a></li>
</ul>
