/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/


// Layout default setup.
.layout,
.container-with-grid {
	@include grid();
	max-width: $max-width;
  margin: 0 auto;
	padding: 0 20px;

	@include breakpoint($bp-med) {
		padding: 0 30px;
	}
}

// Use on top level container without instantiating flexbox.
.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0;

  @include breakpoint($bp-med) {
    padding: 0 30px;
  }
}

// Use on the parent container that should have gutters.
.grid-margin  {
  @include gutter($margin-top-full-negative...);
}

// Use on the container that should have gutters and use flexbox.
.grid {
	@include grid();
}

// Apply the gutters to individual cells.
.grid-region {
	@include gutter($padding-top-full...);
}

// Add top margins between content within grid regions.
.grid-region_content {
	@include gutter($padding-top-full...);
}

// Don't add padding to the first/last children of nested grids, since the parent
// already has padding. This is a row.
.grid-region-nested {
	margin-top: 0;
	> *:first-child {
		padding-top: 0;
		padding-left: 0;
	}
	> *:last-child {
		padding-top: 0;
		padding-right: 0;
	}
}

// Column-width classes..
.col-width-3 {
	@include gutter($padding-right-half...);
	@include gutter($padding-left-half...);
	@include breakpoint($bp-med) {
		@include grid-_unit--cols(3);
	}
}

.col-width-6 {
	@include gutter($padding-right-half...);
	@include gutter($padding-left-half...);
	@include breakpoint($bp-med) {
		@include grid-_unit--cols(6);
	}
}

.col-width-9 {
	@include gutter($padding-right-half...);
	@include gutter($padding-left-half...);
	@include breakpoint($bp-med) {
		@include grid-_unit--cols(9);
	}
}

.col-width-12 {
	@include gutter($padding-right-half...);
	@include gutter($padding-left-half...);
	@include breakpoint($bp-med) {
		@include grid-_unit--cols(12);
	}
}
