.tabs {
  overflow: hidden;
  .tab_list {
    display: table;
    width: 100%;
  }
  .tab_list-item {
    display: table-cell;
    text-align: center;
    &:last-child {
      border-right: 0;
    }
  }
  a {
    color: $black-20;
    display: block;
    padding: 1em;
    &:hover,
    &:focus {
      color: $black;
    }
    &.tab_list_link-active {
      color: $black;
      &:hover {
        color: $blue;
      }
    }
  }
}
