.tabs {
  overflow: hidden;
  ul {
    display: table;
    width: 100%;
  }
  li {
    display: table-cell;
    text-align: center;
    &:last-child {
      border-right: 0;
    }
  }
  a {
    color: $black-20;
    display: block;
    padding: 20px;
    &:hover, &:focus {
      color: $black-55;
    }
    &.active {
      color: $black;
      &:hover {
        color: $blue;
      }
    }
  }
}