// Hints
.hint {
  position: relative;
  display: inline-block;

  &:before,
  &:after {
    position: absolute;
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    transition: 0.3s ease;
    transition-delay: 0ms;
    top: 100%;
    left: 50%;
  }

  &:before {
    content: "";
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001;
    border-bottom-color: $white;
    margin-top: -11px;
    left: calc(50% - 6px);
  }

  &:after {
    @extend %b4;
    transform: translateX(-90%);
    background: $white;
    box-shadow: 0 0 8px rgba($black, 0.3);
    color: $black;
    padding: 20px;
    white-space: normal;
    line-height: 1.4em;
    word-wrap: break-word;
    width: 250px;

    @include breakpoint($bp-med) {
      transform: translateX(-50%);
    }
  }

  &:hover:before,
  &:hover:after {
    visibility: visible;
    opacity: 1;
    transition-delay: 100ms;
  }

  &:hover:before {
    transform: translateY(8px);
  }

  &:hover:after {
    transform: translateX(-90%) translateY(8px);

    @include breakpoint($bp-med) {
      transform: translateX(-50%) translateY(8px);
    }
  }

  &[aria-label]:after {
    content: attr(aria-label);
  }

  &[data-hint]:after {
    content: attr(data-hint);
  }
}

[aria-label=""]:before,
[aria-label=""]:after,
[data-hint=""]:before,
[data-hint=""]:after {
  display: none !important;
}
