
.icon-alert {
	background-image: url('png/alert.png');
	background-repeat: no-repeat;
  width: 35px;
  height: 31px;
}



.icon-checkmark {
	background-image: url('png/checkmark.png');
	background-repeat: no-repeat;
  width: 8px;
  height: 7px;
}



.icon-clear {
	background-image: url('png/clear.png');
	background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}



.icon-close {
	background-image: url('png/close.png');
	background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}



.icon-closedropdown {
	background-image: url('png/closedropdown.png');
	background-repeat: no-repeat;
  width: 14px;
  height: 8px;
}



.icon-closedropdownsmall {
	background-image: url('png/closedropdownsmall.png');
	background-repeat: no-repeat;
  width: 8px;
  height: 5px;
}



.icon-download {
	background-image: url('png/download.png');
	background-repeat: no-repeat;
  width: 9px;
  height: 14px;
}



.icon-external {
	background-image: url('png/external.png');
	background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}



.icon-facebook {
	background-image: url('png/facebook.png');
	background-repeat: no-repeat;
  width: 300px;
  height: 200px;
}



.icon-google+ {
	background-image: url('png/google+.png');
	background-repeat: no-repeat;
  width: 300px;
  height: 200px;
}



.icon-grid {
	background-image: url('png/grid.png');
	background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}



.icon-hide {
	background-image: url('png/hide.png');
	background-repeat: no-repeat;
  width: 30px;
  height: 18px;
}



.icon-information {
	background-image: url('png/information.png');
	background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}



.icon-linkedin {
	background-image: url('png/linkedin.png');
	background-repeat: no-repeat;
  width: 300px;
  height: 200px;
}



.icon-list {
	background-image: url('png/list.png');
	background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}



.icon-next {
	background-image: url('png/next.png');
	background-repeat: no-repeat;
  width: 13px;
  height: 8px;
}



.icon-opendropdown {
	background-image: url('png/opendropdown.png');
	background-repeat: no-repeat;
  width: 14px;
  height: 8px;
}



.icon-opendropdownsmall {
	background-image: url('png/opendropdownsmall.png');
	background-repeat: no-repeat;
  width: 8px;
  height: 5px;
}



.icon-play {
	background-image: url('png/play.png');
	background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}



.icon-previous {
	background-image: url('png/previous.png');
	background-repeat: no-repeat;
  width: 13px;
  height: 8px;
}



.icon-search {
	background-image: url('png/search.png');
	background-repeat: no-repeat;
  width: 24px;
  height: 26px;
}



.icon-select {
	background-image: url('png/select.png');
	background-repeat: no-repeat;
  width: 18px;
  height: 10px;
}



.icon-show {
	background-image: url('png/show.png');
	background-repeat: no-repeat;
  width: 30px;
  height: 18px;
}



.icon-twitter {
	background-image: url('png/twitter.png');
	background-repeat: no-repeat;
  width: 300px;
  height: 200px;
}



.icon-usermenu {
	background-image: url('png/usermenu.png');
	background-repeat: no-repeat;
  width: 300px;
  height: 200px;
}



.icon-valid {
	background-image: url('png/valid.png');
	background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}



.icon-viewless {
	background-image: url('png/viewless.png');
	background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}



.icon-viewmore {
	background-image: url('png/viewmore.png');
	background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}



.icon-youtube {
	background-image: url('png/youtube.png');
	background-repeat: no-repeat;
  width: 300px;
  height: 200px;
}


