<div class="block block-promo block-promo_red">
    <h1 class="title align-center">Register Now</h1>
</div>

<div class="block block-promo block-promo_orange">
    <h1 class="title align-center">Register Now</h1>
</div>

<div class="block block-promo block-promo_purple">
    <h1 class="title align-center">Register Now</h1>
</div>