<div class="block block-promo block-promo-red">
    <h1 class="title">Register Now</h1>
</div>

<div class="block block-promo block-promo-orange">
    <h1 class="title">Register Now</h1>
</div>

<div class="block block-promo block-promo-purple">
    <h1 class="title">Register Now</h1>
</div>