<div class="block block-promo block-promo_red">
    <h6 class="primary-cta caps align-center">Featured Events</h6>
    <h1 class="title align-center">Register Now</h1>
</div>


<div class="block block-promo block-promo_orange">
    <h6 class="primary-cta caps align-center">Featured Events</h6>
    <h1 class="title align-center">Register Now</h1>
</div>

<div class="block block-promo block-promo_purple">
    <h6 class="primary-cta caps align-center">Featured Events</h6>
    <h1 class="title align-center">Register Now</h1>
</div>