/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

/* CSS Transition
  Usage: @include transition(width,0.3s,ease-out);
 */

// Transition
@mixin transition($transition-property, $transition-time, $method) {
  transition: $transition-property $transition-time $method;
}

// Transform
@mixin transform($val) {
  transform: $val;
}

// Rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// Horizontal rule
@mixin rule-horizontal($width, $color, $style) {
  border-top: $width $color $style;
}

// Vertical rule
@mixin rule-vertical($width, $color, $style) {
  border-left: $width $color $style;
}


/**
 * Clearfix Mixin
 * Applies a clearfix ruleset using a placeholder selector. Placeholder selectors
 * do not get compiled uless they are called - removing the nesting issues that
 * can otherwise occur with extends.
 */

.clearfix,
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
