/**
 * @file variables.scss
 *
 * Copyright 2017 Palantir.net, Inc.
 */

// Colors
$gray: #808080;
$gray-light: #f9f9f9;
$gray-light-2: #eeeeee;
$gray-light-3: #dddddd;
$gray-med: #666666;
$gray-dark: #333333;
$gray-dark-2: #131313;
$white: #ffffff;
$black: #000000;
$dim: rgba(0, 0, 0, 0.5);
$error: #f00000;
$valid: #089e00;
$warning: #fff664;
$information: #000db5;

// AMA Brand Colors

$black-3: #f7f7f7;
$black-7: #ededed;
$black-15: #d9d9d9; // this one was not in the style guide but was in the primary header component for the mobile second level background
$black-20: #cccccc;
$black-55: #737373;
$gray-8: #a1a1a4;

$purple: #46166b;
$purple-darker: #320e52;
$purple-lighter: #e3dce9;

$red: #c8102e;
$red-darker: #b70a1f;

$orange: #ed8b00;
$orange-darker: #e67200;

$blue: #02aaec;
$blue-lighter: #d9f2fc;

$green: #64a70b;


// Typography
// See base/typography.scss

// Layout
$max-width: 1260px;

// Defaults
$space: 1em;
$space-and-half: $space * 1.5;
$space-double: $space * 2;
$space-quad: $space * 4;
$space-half: $space / 2;
$pad: 1em;
$pad-and-half: $pad * 1.5;
$pad-double: $pad * 2;
$pad-half: $pad / 2;
$pad-quarter: $pad / 4;

// Borders
$border-med: 3px;
$border-thick: 7px;

// Breakpoints
$bp-xs: 25em; // 400px
$bp-small: 37.5em; // 600px
$bp-med: 56.25em; // 900px
$bp-large: 75em; // 1200px
$bp-xl: 87.5em; // 1400px

// Breakpoints used by home page.
$bp-med-home: 740px min-width;
$bp-large-home: 1251px min-width;
