{#
 # @file link-more-less.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<div class="link_load_more_less">
  {% include 'atoms-link-black' with { 'content' : 'Load more'} %}
  {% include 'atoms-viewmore' %}
</div>
