.ribbon_dropdown {
  position: relative;
  display: inline-block;
  border-left: 1px solid $gray-8;
  border-right: 1px solid $gray-8;
  width: 238px;
}

.ribbon_dropdown_trigger {
  @extend %type-smaller;
  display: inline-block;
  width: 100%;
  background-color: $purple;
  padding: 15px;
  color: $white;
  cursor: pointer;
  outline: none;

  span {
    display: inline-block;
    margin-left: .75em;
  }

  .icon {
    fill: $white;
    height: 11px;
    width: 10px;
    line-height: 9px;
    vertical-align: middle;
  }

  &:hover,
  &:focus {
    background-color: $purple-darker;
  }

  &.is-active {
    background-color: $purple-darker;

    span {
      transform: rotate(180deg);
    }
  }
}

.ribbon_dropdown_nav {
  display: none;
  position: absolute;
  width: 100%;
  background-color: $black-20;
  box-shadow: 3px 3px 2px $black-55;
  z-index: 100;

  @include breakpoint(740px) {
    box-shadow: none;
  }

  &.is-active {}
}

.ribbon_dropdown_nav_item {
  @extend %type-smaller;
  border-bottom: 1px solid $gray-8;

  &:last-child {
    border-bottom: 0;
  }

  a:link,
  a:visited {
    display: block;
    padding: 8px 15px;
    color: $black;
    font-weight: 600;
  }

  a:active,
  a:hover,
  a:focus {
    color: $blue;
    text-decoration: none;
  }

  @include breakpoint(740px) {
    background-color: $purple-darker;
    border-bottom: 0;
    box-shadow: none;

    a:link,
    a:visited {
      color: $white;
    }

    a:active,
    a:hover,
    a:focus {
      color: $white;
      text-decoration: underline;
    }

  }
}
