<nav class="ribbon_dropdown">
  <span class="ribbon_dropdown_trigger" tabindex="0" href="#">American Medical Association {% include '06-opendropdownsmall.twig' %}</span>
  <ul class="ribbon_dropdown_nav">
    <li class="ribbon_dropdown_nav_item"><a href="#">AMA Wire</a></li>
    <li class="ribbon_dropdown_nav_item"><a href="#">AMA Store</a></li>
    <li class="ribbon_dropdown_nav_item"><a href="#">The JAMA Network</a></li>
    <li class="ribbon_dropdown_nav_item"><a href="#">Journal of Ethics</a></li>
  </ul>
</nav>