.audience_hero_subcategory {
 	margin-top: 25px;
}

.audience_hero_subcategory__title h2{
 	color: $purple;
 	margin-bottom: 0;
}

.audience_hero_subcategory__image {
 	width: 100%;
 	height: inherit;
 	margin-top: 25px;
 	margin-bottom: 30px;

 	img {
 		width: 100%;
 	}

  @include breakpoint($bp-med-home) {
    @include grid__unit--cols(6);
    padding-right: 30px;
    float: left;
 	}

 	@include breakpoint($bp-large) {
    @include grid__unit--cols(12);
 		padding-right: 0px;
 		margin-bottom: 0;
 	}
}

.audience_hero_subcategory__list_links {
	margin-bottom: 40px;

	@include breakpoint($bp-med-home) {
		@include grid__unit--cols(6);
		width: 100%;
		float: left;
		margin-top: 25px;
	}

	@include breakpoint($bp-large) {
		@include grid__unit--cols(12);
 		width: 100%;
    margin-bottom: 0px;
 	}

 	.list_links_item {
 		padding: 15px 0 18px 0;
 		&:first-of-type {
 			padding-top: 0;
 		}
 	}
}
