<div class="layout layout_three_up">
  <div class="layout_three_up-row">
		<div class="audience_hero_subcategory layout_three_up-primary">
		 	<div class="audience_hero_subcategory__title">
		    <a href="">{% include 'atoms-h2' with { 'content': 'Lorem Ipsum Dolor Sit' } %}</a>
		  </div>
		 	<div class="audience_hero_subcategory__image">
				{% include '01-landscape-3x2.twig' %}
			</div>
		  <div class="audience_hero_subcategory__list_links">
		    <ul class="list_links list_links-rule">
		      <li class="list_links_item">
		        {% include '00-link.twig' with { 'content': 'Lorem Ipsum Dolor Sit', 'class': 	'link-black' 	} %}
		      </li>
		      <li class="list_links_item">
		        {% include '00-link.twig' with { 'content': 'Amet Eros Nulla', 'class': 'link-black' } %}
		      </li>
		      <li class="list_links_item">
		        {% include '00-link.twig' with { 'content': 'Tellus Sit Porta Gravida', 'class': 		'link-black' } %}
		      </li>
		      <li class="list_links_item">
		        {% include '00-link.twig' with { 'content': 'View All', 'class': 'link-black' } %}
		      </li>
		    </ul>
		  </div>
		</div>
	
		<div class="audience_hero_subcategory layout_three_up-secondary">
		 	<div class="audience_hero_subcategory__title">
		    <a href="">{% include 'atoms-h2' with { 'content': 'Amet Eros Nulla' } %}</a>
		  </div>
		 	<div class="audience_hero_subcategory__image">
				{% include '01-landscape-3x2.twig' %}
			</div>
		  <div class="audience_hero_subcategory__list_links">
		    <ul class="list_links list_links-rule">
		      <li class="list_links_item">
		        {% include '00-link.twig' with { 'content': 'Lorem Ipsum Dolor Sit', 'class': 	'link-black' 	} %}
		      </li>
		      <li class="list_links_item">
		        {% include '00-link.twig' with { 'content': 'Amet Eros Nulla', 'class': 'link-black' } %}
		      </li>
		      <li class="list_links_item">
		        {% include '00-link.twig' with { 'content': 'Tellus Sit Porta Gravida', 'class': 		'link-black' } %}
		      </li>
		      <li class="list_links_item">
		        {% include '00-link.twig' with { 'content': 'View All', 'class': 'link-black' } %}
		      </li>
		    </ul>
		  </div>
		</div>
	
		<div class="audience_hero_subcategory layout_three_up-tertiary">
		 	<div class="audience_hero_subcategory__title">
		    <a href="">{% include 'atoms-h2' with { 'content': 'Tellus Sit Porta Gravida' } %}</a>
		  </div>
		 	<div class="audience_hero_subcategory__image">
				{% include '01-landscape-3x2.twig' %}
			</div>
		  <div class="audience_hero_subcategory__list_links">
		    <ul class="list_links list_links-rule">
		      <li class="list_links_item">
		        {% include '00-link.twig' with { 'content': 'Lorem Ipsum Dolor Sit', 'class': 	'link-black' 	} %}
		      </li>
		      <li class="list_links_item">
		        {% include '00-link.twig' with { 'content': 'Amet Eros Nulla Amet Eros Nulla Amet Eros 	Nulla', 'class': 'link-black' } %}
		      </li>
		      <li class="list_links_item">
		        {% include '00-link.twig' with { 'content': 'Tellus Sit Porta Gravida', 'class': 		'link-black' } %}
		      </li>
		      <li class="list_links_item">
		        {% include '00-link.twig' with { 'content': 'View All', 'class': 'link-black' } %}
		      </li>
		    </ul>
		  </div>
		</div>
	</div>
</div>