{#
 # @file primary-nav.twig
 # Copyright 2017 Palantir.net, Inc.
 #}
<div id="sticky-jumpnav" class="sticky-element">
  <span class="jumpnav-anchor"></span>
  <nav id="jump-nav" class="jump-nav is-closed jumpnav-content">
    <h5 class="jump-nav_title">Jump to {% include '01-arrow-select.twig' %}</h5>

    <ul class="jump-nav_list">
      <li class="jump-nav_list-item">{% include '02-link-black.twig' with { 'content': 'Maximus Justo', 'url': '#section-1' } %}</li>
      <li class="jump-nav_list-item">{% include '02-link-black.twig' with { 'content': 'Additional Programs', 'url': '#section-2' } %}</li>
      <li class="jump-nav_list-item">{% include '02-link-black.twig' with { 'content': 'Outreach Programs', 'url': '#section-3' } %}</li>
      <li class="jump-nav_list-item">{% include '02-link-black.twig' with { 'content': 'Resources', 'url': '#section-4' } %}</li>
    </ul>
  </nav>
</div>
