{#
 # @file primary-nav.twig
 # Copyright 2017 Palantir.net, Inc.
 #}

<nav id="jump-nav" class="jump-nav">
  <h5 class="jump-nav_title">Jump to {% include '01-arrow-select.twig' %}</h5>

  <ul class="jump-nav_list">
    <li class="jump-nav_list-item is-active">{% include '02-link-black.twig' with { 'content': 'Lorem Ipsum' } %}</li>
    <li class="jump-nav_list-item">{% include '02-link-black.twig' with { 'content': 'Additional Programs' } %}</li>
    <li class="jump-nav_list-item">{% include '02-link-black.twig' with { 'content': 'Outreach Programs' } %}</li>
    <li class="jump-nav_list-item">{% include '02-link-black.twig' with { 'content': 'Resources' } %}</li>
  </ul>
</nav>
